Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

chore: tighten .gitignore (dbs, caches, reports, generated)
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

chore: drop ignored artifacts from index
  ai_crm.db
  production_crm.db
Owners: @product-manager, @project-manager, @tech-lead

fix: correct YAML syntax in CI workflow
  .github/workflows/ci.yml
Owners: @product-manager, @project-manager, @tech-lead

modified: .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @product-manager, @project-manager, @tech-lead

fix: improve CI Playwright installation and fix JWT import
  complete_production_crm.py
Owners: @product-manager, @project-manager, @tech-lead

fix: repair broken tests by removing invalid imports and adding basic test cases
  tests/integration/test_crm_application.py
  tests/integration/test_navigation_issue.py
  tests/integration/test_production_readiness.py
  tests/unit/test_basic_app.py
  tests/unit/test_crm_models.py
  tests/unit/test_modular_app.py
Owners: @product-manager, @project-manager, @tech-lead

fix: add missing environment variables for CRM app startup in CI pipeline
  .github/workflows/ci.yml
  docker-compose.crm.yml
Owners: @product-manager, @project-manager, @tech-lead

modified: complete_production_crm.py modified: db_adapter.py modified: scripts/clean.ps1 new file: tests/integration/test_ai_localization.py new file: tests/integration/test_facebook_status.py
  complete_production_crm.py
  db_adapter.py
  scripts/clean.ps1
  tests/integration/test_ai_localization.py
  tests/integration/test_facebook_status.py
  tests/integration/test_listing_templates.py
Owners: @product-manager, @project-manager, @tech-lead

fix: resolve Python compilation errors
  docker-compose.crm.yml
  docker-compose.yml
  migrate_to_mongo.py
  tests/integration/test_facebook_status.py
Owners: @product-manager, @project-manager, @tech-lead

fix: include API routers in main FastAPI app
  complete_production_crm.py
Owners: @product-manager, @project-manager, @tech-lead

Fix query parameter handling for translate endpoint
  api/endpoints/ai_localization.py
Owners: @backend-team

Fix JWT authentication issues - use consistent SECRET_KEY and add sub field to token
  complete_production_crm.py
Owners: @product-manager, @project-manager, @tech-lead

Fix UI e2e test - remove unnecessary console message expectation
  tests/ui/test_dashboard_basic.py
Owners: @product-manager, @project-manager, @tech-lead

chore(backlog): add backlog.yml, sync script, workflow, and discovery doc
  .github/backlog.yml
  .github/workflows/backlog_sync.yml
  docs/product_discovery_and_roadmap.md
  scripts/sync_backlog.py
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

docs(discovery): update workshop decisions; chore(backlog): reprioritize, add /health issue
  .github/backlog.yml
  docs/product_discovery_and_roadmap.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

ci(projects): add Project board setup workflow and script
  .github/workflows/project_board.yml
  scripts/setup_project_board.py
Owners: @product-manager, @project-manager, @tech-lead

modified: scripts/setup_project_board.py
  scripts/setup_project_board.py
Owners: @product-manager, @project-manager, @tech-lead

modified: .github/workflows/project_board.yml
  .github/workflows/project_board.yml
Owners: @product-manager, @project-manager, @tech-lead

modified: api/endpoints/ai_localization.py
  api/endpoints/ai_localization.py
Owners: @backend-team

modified: .github/backlog.yml
  .github/backlog.yml
Owners: @product-manager, @project-manager, @tech-lead

modified: .github/backlog.yml
  .github/backlog.yml
Owners: @product-manager, @project-manager, @tech-lead

modified: .github/backlog.yml
  .github/backlog.yml
Owners: @product-manager, @project-manager, @tech-lead

Complete SQLite removal - MongoDB is now the only database
  .github/backlog.yml
  LOGIN_FIX_ANALYSIS.md
  PRODUCTION_READINESS_REPORT.md
  PROGRESS_OWNER.md
  SPRINT_PLAN.md
  ai_enhanced_crm.py
  complete_production_crm.py
  migrate_to_mongo.py
  production_crm.py
  production_crm_api.py
  scripts/clean.ps1
  verify_production_ready.py
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Complete final SQLite references cleanup
  CODEMAP.md
  FINAL_PRODUCTION_STATUS.md
  LOGIN_ISSUE_RESOLVED.md
  db_adapter.py
  docs/product_discovery_and_roadmap.md
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add SQLite removal completion report
  SQLITE_REMOVAL_COMPLETE.md
Owners: @tech-writer, @product-manager

All stakeholder approvals obtained for Facebook integration
  ARCHITECT_REVIEW.md
  FACEBOOK_INTEGRATION_SUMMARY.md
  FINAL_APPROVAL_SUMMARY.md
  PRODUCT_OWNER_REVIEW.md
  QA_TESTING_REPORT.md
  UX_DESIGN_REVIEW.md
Owners: @tech-writer, @product-manager

Complete Facebook Integration Implementation
  ARCHITECTURE_NOTES.md
  api/endpoints/facebook_oauth.py
  api/endpoints/facebook_pages.py
  core/config.py
  main.py
  models/agent.py
  repositories/agent_repository.py
  repositories/agent_repository_mongo.py
  repositories/user_repository.py
  services/facebook_client.py
  templates/dashboard.html
  tests/unit/test_facebook_pages_api.py
Owners: @tech-writer, @product-manager, @backend-team, @project-manager, @tech-lead

Complete Facebook Integration Setup
  FACEBOOK_APP_SETUP_COMPLETE.md
  FACEBOOK_ENV_SETUP_GUIDE.md
  FACEBOOK_QUICK_START.md
  LOGIN_AND_FACEBOOK_TEST_GUIDE.md
  MULTI_AGENT_FACEBOOK_CONFIG.md
  api/endpoints/facebook_multi_agent.py
  core/multi_agent_config.py
Owners: @tech-writer, @product-manager, @backend-team

modified: models/agent.py
  api/endpoints/agents.py
  api/endpoints/ai_localization.py
  api/endpoints/india_market.py
  api/endpoints/smart_properties.py
  db_adapter.py
  frontend/src/App.tsx
  models/agent.py
  models/agent_profile.py
  models/localization.py
  templates/dashboard.html
Owners: @backend-team, @product-manager, @project-manager, @tech-lead, @frontend-team

modified: core/config.py
  core/config.py
  db_adapter.py
  main.py
  test_smart_properties.py
Owners: @backend-team, @product-manager, @project-manager, @tech-lead

modified: templates/login.html
  api/endpoints/facebook_oauth.py
  api/endpoints/listing_posts.py
  api/endpoints/smart_properties.py
  app/main.py
  core/config.py
  static/js/components/smart-properties.js
  static/js/dashboard-core.js
  templates/dashboard.html
  templates/login.html
  test_fixed_endpoints.py
Owners: @backend-team, @product-manager, @project-manager, @tech-lead

modified: app/main.py
  app/main.py
  static/js/components/smart-properties.js
Owners: @product-manager, @project-manager, @tech-lead

new file: repositories/facebook_repository.py
  app/db_integration.py
  app/main.py
  repositories/facebook_repository.py
  repositories/smart_property_repository.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

modified: static/js/components/smart-properties.js
  app/main.py
  static/js/components/smart-properties.js
Owners: @product-manager, @project-manager, @tech-lead

modified: static/js/components/smart-properties.js
  api/endpoints/smart_properties.py
  app/main.py
  static/js/components/smart-properties.js
Owners: @backend-team, @product-manager, @project-manager, @tech-lead

new file: app/main copy.py modified: app/main.py
  app/api/__init__.py
  app/api/endpoints/__init__.py
  app/api/endpoints/agent_onboarding.py
  app/api/endpoints/dashboard.py
  app/main copy.py
  app/routes/__init__.py
  app/services/agent_onboarding_service.py
  app/services/dashboard_service.py
  app/templates/dashboard.html
  app/templates/onboarding.html
  app/utils/__init__.py
  app/utils/ai.py
  app/utils/db_client.py
  app/utils/whatsapp.py
  main.py
  static/css/style.css
  static/js/components/smart-properties.js
Owners: @product-manager, @project-manager, @tech-lead

modified: app/main.py
  app/main copy.py
Owners: @product-manager, @project-manager, @tech-lead

modified: app/api/endpoints/agent_onboarding.py modified: app/main.py modified: app/services/agent_onboarding_service.py modified: models/agent.py modified: requirements.txt
  app/api/endpoints/agent_onboarding.py
  app/main.py
  app/services/agent_onboarding_service.py
  models/agent.py
  requirements.txt
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

modified: app/core/database.py
  .gitignore
  app/core/database.py
Owners: @product-manager, @project-manager, @tech-lead

deleted: repositories/user_repository.py
  repositories/user_repository.py
Owners: @backend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
