Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

Add comprehensive UI verification script and detailed mobile UX guide
  DEMO_VERIFICATION_SCRIPT.sh
  UI_VERIFICATION_GUIDE.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Add comprehensive UI verification script and detailed mobile UX guide
  DEMO_VERIFICATION_SCRIPT.sh
  UI_VERIFICATION_GUIDE.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Add dependency fix documentation and quick-start batch script
  FIX_BACKEND_DEPENDENCIES.md
  quick-fix-dependencies.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add dependency fix documentation and quick-start batch script
  FIX_BACKEND_DEPENDENCIES.md
  quick-fix-dependencies.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add emergency fix for Windows venv with minimal FastAPI backend
  EMERGENCY_FIX.md
  WINDOWS_FIX_GUIDE.md
  minimal_backend.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add emergency fix for Windows venv with minimal FastAPI backend
  EMERGENCY_FIX.md
  WINDOWS_FIX_GUIDE.md
  minimal_backend.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add Windows compatibility fixes and minimal backend
  WINDOWS_SETUP_PACKAGE.md
  minimal_backend.py
  requirements-minimal.txt
  requirements.txt
  windows-quick-start.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add Windows compatibility fixes and minimal backend
  WINDOWS_SETUP_PACKAGE.md
  minimal_backend.py
  requirements-minimal.txt
  requirements.txt
  windows-quick-start.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Windows compilation fix - Complete solution
  WINDOWS_COMPLETE_FIX.md
  requirements-windows.txt
  simple_backend.py
  windows-fix.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Windows compilation fix - Complete solution
  WINDOWS_COMPLETE_FIX.md
  requirements-windows.txt
  simple_backend.py
  windows-fix.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Delete .expo directory
  .expo/README.md
  .expo/settings.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Delete .expo directory
  .expo/README.md
  .expo/settings.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

dsf
  Dockerfile
Owners: @product-manager, @project-manager, @tech-lead

dsf
  Dockerfile
Owners: @product-manager, @project-manager, @tech-lead

dsf
  Dockerfile
Owners: @product-manager, @project-manager, @tech-lead

modified: app/routes/proxy.py
  NGROK_SETUP_GUIDE.md
  app/api/v1/endpoints/facebook.py
  app/routes/proxy.py
  app/services/facebook_service.py
  core/config.py
  facebook_integration.py
  mobile-app/src/screens/PropertiesScreen.js
  simple_backend.py
  templates/dashboard_nextgen.html
  templates/login.html
  tests/e2e/advanced_mcp_playwright_tests.py
  tests/e2e/test_complete_application.py
  tests/smoke_check.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @backend-team

modified: app/routes/proxy.py
  NGROK_SETUP_GUIDE.md
  app/api/v1/endpoints/facebook.py
  app/routes/proxy.py
  app/services/facebook_service.py
  core/config.py
  facebook_integration.py
  mobile-app/src/screens/PropertiesScreen.js
  simple_backend.py
  templates/dashboard_nextgen.html
  templates/login.html
  tests/e2e/advanced_mcp_playwright_tests.py
  tests/e2e/test_complete_application.py
  tests/smoke_check.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @backend-team

modified: app/routes/proxy.py
  NGROK_SETUP_GUIDE.md
  app/api/v1/endpoints/facebook.py
  app/routes/proxy.py
  app/services/facebook_service.py
  core/config.py
  facebook_integration.py
  mobile-app/src/screens/PropertiesScreen.js
  simple_backend.py
  templates/dashboard_nextgen.html
  templates/login.html
  tests/e2e/advanced_mcp_playwright_tests.py
  tests/e2e/test_complete_application.py
  tests/smoke_check.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @backend-team

refactoring
  migrations/001_create_facebook_tables.sql
  models/facebook_auth.py
  models/facebook_pages.py
  models/facebook_posts.py
  models/oauth_states.py
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  services/facebook_auth_service.py
  services/facebook_page_service.py
  services/facebook_post_service.py
  services/mongo_client.py
  simple_backend.py
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

refactoring
  migrations/001_create_facebook_tables.sql
  models/facebook_auth.py
  models/facebook_pages.py
  models/facebook_posts.py
  models/oauth_states.py
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  services/facebook_auth_service.py
  services/facebook_page_service.py
  services/facebook_post_service.py
  services/mongo_client.py
  simple_backend.py
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

refactoring
  migrations/001_create_facebook_tables.sql
  models/facebook_auth.py
  models/facebook_pages.py
  models/facebook_posts.py
  models/oauth_states.py
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  services/facebook_auth_service.py
  services/facebook_page_service.py
  services/facebook_post_service.py
  services/mongo_client.py
  simple_backend.py
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

refactoring
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  tests/complete-system-verification.spec.ts
Owners: @product-manager, @project-manager, @tech-lead

refactoring
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  tests/complete-system-verification.spec.ts
Owners: @product-manager, @project-manager, @tech-lead

refactoring
  routes/facebook_callback.py
  routes/facebook_connect.py
  routes/facebook_login.py
  routes/facebook_post.py
  tests/complete-system-verification.spec.ts
Owners: @product-manager, @project-manager, @tech-lead

refactoring
  app/main.py
  routes/facebook_callback.py
  simple_backend.py
  templates/dashboard.html
  templates/dashboard_nextgen.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

refactoring
  app/main.py
  routes/facebook_callback.py
  simple_backend.py
  templates/dashboard.html
  templates/dashboard_nextgen.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

refactoring
  app/main.py
  routes/facebook_callback.py
  simple_backend.py
  templates/dashboard.html
  templates/dashboard_nextgen.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/agent_site.html
  templates/dashboard.html
  templates/dashboard_enhanced.html
  templates/dashboard_improved.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/facebook_integration.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/agent_site.html
  templates/dashboard.html
  templates/dashboard_enhanced.html
  templates/dashboard_improved.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/facebook_integration.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/agent_site.html
  templates/dashboard.html
  templates/dashboard_enhanced.html
  templates/dashboard_improved.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/facebook_integration.html
  templates/modern_onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

d
  app/database.py
  app/routers/facebook.py
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  app/database.py
  app/routers/facebook.py
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  app/database.py
  app/routers/facebook.py
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

d
  templates/components/dashboard_scripts.html
Owners: @product-manager, @project-manager, @tech-lead

df
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_header.html
  templates/components/dashboard_scripts.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead
