Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

df
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_header.html
  templates/components/dashboard_scripts.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

df
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_header.html
  templates/components/dashboard_scripts.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

aa
  URL_CONFIGURATION.md
  app/config.py
  app/main.py
  env.template
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  static/js/dashboard_core.js
  static/js/dashboard_functions.js
  static/js/dashboard_init.js
  templates/components/dashboard_main.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_welcome.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/facebook_connect.html
  templates/modern_onboarding.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

aa
  URL_CONFIGURATION.md
  app/config.py
  app/main.py
  env.template
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  static/js/dashboard_core.js
  static/js/dashboard_functions.js
  static/js/dashboard_init.js
  templates/components/dashboard_main.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_welcome.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/facebook_connect.html
  templates/modern_onboarding.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

aa
  URL_CONFIGURATION.md
  app/config.py
  app/main.py
  env.template
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  static/js/dashboard_core.js
  static/js/dashboard_functions.js
  static/js/dashboard_init.js
  templates/components/dashboard_main.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_welcome.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/facebook_connect.html
  templates/modern_onboarding.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

aa
  templates/components/dashboard_scripts.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

aa
  templates/components/dashboard_scripts.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

aa
  templates/components/dashboard_scripts.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

d
  static/default-profile.png
  static/js/dashboard_property.js
  static/js/dashboard_scripts_clean.js
  static/property-placeholder.jpg
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

d
  static/default-profile.png
  static/js/dashboard_property.js
  static/js/dashboard_scripts_clean.js
  static/property-placeholder.jpg
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

d
  static/default-profile.png
  static/js/dashboard_property.js
  static/js/dashboard_scripts_clean.js
  static/property-placeholder.jpg
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_scripts_clean.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_welcome.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

Delete mobile-app directory
  mobile-app/App.js
  mobile-app/App.js.backup
  mobile-app/app.config.js
  mobile-app/assets/favicon.png
  mobile-app/favicon.ico
  mobile-app/package.json
  mobile-app/src/contexts/AuthContext.js
  mobile-app/src/screens/PropertiesScreen.js
Owners: @product-manager, @project-manager, @tech-lead

Delete mobile-app directory
  mobile-app/App.js
  mobile-app/App.js.backup
  mobile-app/app.config.js
  mobile-app/assets/favicon.png
  mobile-app/favicon.ico
  mobile-app/package.json
  mobile-app/src/contexts/AuthContext.js
  mobile-app/src/screens/PropertiesScreen.js
Owners: @product-manager, @project-manager, @tech-lead

Delete mobile-app directory
  mobile-app/App.js
  mobile-app/App.js.backup
  mobile-app/app.config.js
  mobile-app/assets/favicon.png
  mobile-app/favicon.ico
  mobile-app/package.json
  mobile-app/src/contexts/AuthContext.js
  mobile-app/src/screens/PropertiesScreen.js
Owners: @product-manager, @project-manager, @tech-lead

jhgj
  templates/components/dashboard_main.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

jhgj
  templates/components/dashboard_main.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

jhgj
  templates/components/dashboard_main.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/config.py
  app/routers/facebook.py
  templates/login.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/config.py
  app/routers/facebook.py
  templates/login.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/config.py
  app/routers/facebook.py
  templates/login.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/routers/facebook.py
  templates/components/dashboard_main.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/routers/facebook.py
  templates/components/dashboard_main.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
Owners: @product-manager, @project-manager, @tech-lead

df
  app/routers/facebook.py
  templates/components/dashboard_main.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
Owners: @product-manager, @project-manager, @tech-lead

sdf
  UI_CLEANUP_SUMMARY.md
  app/database.py
  app/routers/auth.py
  requirements.txt
  static/js/dashboard-visibility-fix.js
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_facebook.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_properties.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/dashboard_visibility_fix.css
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

sdf
  UI_CLEANUP_SUMMARY.md
  app/database.py
  app/routers/auth.py
  requirements.txt
  static/js/dashboard-visibility-fix.js
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_facebook.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_properties.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/dashboard_visibility_fix.css
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

sdf
  UI_CLEANUP_SUMMARY.md
  app/database.py
  app/routers/auth.py
  requirements.txt
  static/js/dashboard-visibility-fix.js
  templates/components/dashboard_ai_content.html
  templates/components/dashboard_analytics.html
  templates/components/dashboard_crm.html
  templates/components/dashboard_facebook.html
  templates/components/dashboard_onboarding.html
  templates/components/dashboard_properties.html
  templates/components/dashboard_property_form.html
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/dashboard_visibility_fix.css
  templates/components/dashboard_welcome.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

dsf
  app/config.py
  app/core/database.py
  app/main.py
  app/routers/facebook.py
  app/routers/facebook_clean.py
  app/schemas/mongodb_models.py
  requirements.txt
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/propertyai_styles_unified.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/login.html
  templates/modern_onboarding.html
  templates/onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

dsf
  app/config.py
  app/core/database.py
  app/main.py
  app/routers/facebook.py
  app/routers/facebook_clean.py
  app/schemas/mongodb_models.py
  requirements.txt
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/propertyai_styles_unified.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/login.html
  templates/modern_onboarding.html
  templates/onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

dsf
  app/config.py
  app/core/database.py
  app/main.py
  app/routers/facebook.py
  app/routers/facebook_clean.py
  app/schemas/mongodb_models.py
  requirements.txt
  static/css/styles_base.css
  static/css/styles_components.css
  static/css/styles_navigation.css
  templates/components/dashboard_styles.html
  templates/components/dashboard_styles_nextgen.html
  templates/components/dashboard_styles_unified.html
  templates/components/propertyai_styles_unified.html
  templates/dashboard.html
  templates/dashboard_clean.html
  templates/dashboard_modular.html
  templates/login.html
  templates/modern_onboarding.html
  templates/onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

dsf
  .gitignore
  app/api/v1/router.py
  app/services/auth_service.py
  facebook_key.key
  simple_backend.py
  templates/components/dashboard_header.html
  templates/dashboard_clean.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
  tests/unit/test_facebook_pages_api.py
Owners: @product-manager, @project-manager, @tech-lead

dsf
  .gitignore
  app/api/v1/router.py
  app/services/auth_service.py
  facebook_key.key
  simple_backend.py
  templates/components/dashboard_header.html
  templates/dashboard_clean.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
  tests/unit/test_facebook_pages_api.py
Owners: @product-manager, @project-manager, @tech-lead

dsf
  .gitignore
  app/api/v1/router.py
  app/services/auth_service.py
  facebook_key.key
  simple_backend.py
  templates/components/dashboard_header.html
  templates/dashboard_clean.html
  templates/dashboard_nextgen.html
  templates/facebook_connect.html
  templates/login.html
  tests/facebook-integration.spec.ts
  tests/unit/test_facebook_pages_api.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add complete Next.js PropertyAI application with authentication and onboarding
  nextjs-app/.gitignore
  nextjs-app/README.md
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/AIContentGenerator.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/postcss.config.js
  nextjs-app/tailwind.config.js
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

feat: Add complete Next.js PropertyAI application with authentication and onboarding
  nextjs-app/.gitignore
  nextjs-app/README.md
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/AIContentGenerator.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/postcss.config.js
  nextjs-app/tailwind.config.js
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

feat: Add complete Next.js PropertyAI application with authentication and onboarding
  nextjs-app/.gitignore
  nextjs-app/README.md
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/AIContentGenerator.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/postcss.config.js
  nextjs-app/tailwind.config.js
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

fix: Add proper text color and background to form inputs for visibility
  nextjs-app/app/globals.css
Owners: @product-manager, @project-manager, @tech-lead

fix: Add proper text color and background to form inputs for visibility
  nextjs-app/app/globals.css
Owners: @product-manager, @project-manager, @tech-lead

fix: Add proper text color and background to form inputs for visibility
  nextjs-app/app/globals.css
Owners: @product-manager, @project-manager, @tech-lead

feat: Enhanced Next.js app with comprehensive API integration, error handling, and form validation
  nextjs-app/app/layout.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @product-manager, @project-manager, @tech-lead

feat: Enhanced Next.js app with comprehensive API integration, error handling, and form validation
  nextjs-app/app/layout.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
