Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

d
  backend/app/api/v1/endpoints/auth.py
  backend/app/dependencies.py
  backend/app/main.py
  frontend/components/Properties.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/auth.py
  backend/app/dependencies.py
  backend/app/main.py
  frontend/components/Properties.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/auth.py
  backend/app/dependencies.py
  backend/app/main.py
  frontend/components/Properties.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Update Facebook OAuth scope to include email permission
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/hooks/usePropertyForm.ts
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/lib/auth.ts
Owners: @frontend-team

Update Facebook OAuth scope to include email permission
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/hooks/usePropertyForm.ts
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/lib/auth.ts
Owners: @frontend-team

Update Facebook OAuth scope to include email permission
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/hooks/usePropertyForm.ts
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/lib/auth.ts
Owners: @frontend-team

s
  backend/app/main.py
  backend/app/routers/crm.py
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  backend/app/main.py
  backend/app/routers/crm.py
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  backend/app/main.py
  backend/app/routers/crm.py
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Update Facebook OAuth scope to include email permission
  backend/app/api/v1/endpoints/uploads.py
  backend/app/api/v1/router.py
  backend/app/core/rate_limiting.py
  backend/app/main.py
  backend/requirements.txt
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/lib/api.ts
  frontend/package.json
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Update Facebook OAuth scope to include email permission
  backend/app/api/v1/endpoints/uploads.py
  backend/app/api/v1/router.py
  backend/app/core/rate_limiting.py
  backend/app/main.py
  backend/requirements.txt
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/lib/api.ts
  frontend/package.json
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Update Facebook OAuth scope to include email permission
  backend/app/api/v1/endpoints/uploads.py
  backend/app/api/v1/router.py
  backend/app/core/rate_limiting.py
  backend/app/main.py
  backend/requirements.txt
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/lib/api.ts
  frontend/package.json
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Fix dependency injection, data model, and AI suggestion issues
  frontend/__tests__/components/AIAssistantButton.test.tsx
  frontend/__tests__/components/AIContentGenerator.test.tsx
  frontend/__tests__/components/Analytics.test.tsx
  frontend/__tests__/components/CRM.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/GenAIPropertyForm.test.tsx
  frontend/__tests__/components/LoadingStates.test.tsx
  frontend/__tests__/components/Onboarding.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/PropertyFieldInput.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/components/PropertyImageUpload.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/__tests__/components/ThemeProvider.test.tsx
  frontend/__tests__/components/usePropertyForm.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/Properties.tsx
  frontend/components/Properties_new.tsx
  frontend/env.local
Owners: @frontend-team

Fix dependency injection, data model, and AI suggestion issues
  frontend/__tests__/components/AIAssistantButton.test.tsx
  frontend/__tests__/components/AIContentGenerator.test.tsx
  frontend/__tests__/components/Analytics.test.tsx
  frontend/__tests__/components/CRM.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/GenAIPropertyForm.test.tsx
  frontend/__tests__/components/LoadingStates.test.tsx
  frontend/__tests__/components/Onboarding.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/PropertyFieldInput.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/components/PropertyImageUpload.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/__tests__/components/ThemeProvider.test.tsx
  frontend/__tests__/components/usePropertyForm.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/Properties.tsx
  frontend/components/Properties_new.tsx
  frontend/env.local
Owners: @frontend-team

Fix dependency injection, data model, and AI suggestion issues
  frontend/__tests__/components/AIAssistantButton.test.tsx
  frontend/__tests__/components/AIContentGenerator.test.tsx
  frontend/__tests__/components/Analytics.test.tsx
  frontend/__tests__/components/CRM.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/GenAIPropertyForm.test.tsx
  frontend/__tests__/components/LoadingStates.test.tsx
  frontend/__tests__/components/Onboarding.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/PropertyFieldInput.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/components/PropertyImageUpload.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/__tests__/components/ThemeProvider.test.tsx
  frontend/__tests__/components/usePropertyForm.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/Properties.tsx
  frontend/components/Properties_new.tsx
  frontend/env.local
Owners: @frontend-team

Test Suites: 20 failed, 3 passed, 23 of 24 total
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README-DEPLOYMENT.md
  README.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/facebook.py
  backend/app/api/v1/endpoints/listing_posts.py
  backend/app/main.py
  docker/docker-compose.yml
  docker/env.production
  e2e-tests/api-connectivity-test.spec.ts
  e2e-tests/playwright.config.ts
  frontend/app/demo/smart-form/page.tsx
  frontend/env.local
  start-docker.ps1
  start-local.ps1
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Test Suites: 20 failed, 3 passed, 23 of 24 total
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README-DEPLOYMENT.md
  README.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/facebook.py
  backend/app/api/v1/endpoints/listing_posts.py
  backend/app/main.py
  docker/docker-compose.yml
  docker/env.production
  e2e-tests/api-connectivity-test.spec.ts
  e2e-tests/playwright.config.ts
  frontend/app/demo/smart-form/page.tsx
  frontend/env.local
  start-docker.ps1
  start-local.ps1
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Test Suites: 20 failed, 3 passed, 23 of 24 total
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README-DEPLOYMENT.md
  README.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/facebook.py
  backend/app/api/v1/endpoints/listing_posts.py
  backend/app/main.py
  docker/docker-compose.yml
  docker/env.production
  e2e-tests/api-connectivity-test.spec.ts
  e2e-tests/playwright.config.ts
  frontend/app/demo/smart-form/page.tsx
  frontend/env.local
  start-docker.ps1
  start-local.ps1
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

new file: backend/app/core/mid:wq!~ dleware.py
  README-DEPLOYMENT.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/core/application.py
  backend/app/core/middleware.py
  backend/app/core/routes.py
  backend/app/main.py
  docker/env.production
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/simple.test.js
  frontend/auth.py
  frontend/env.local
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/simple.test.js
  start-docker.ps1
  start-local.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

new file: backend/app/core/mid:wq!~ dleware.py
  README-DEPLOYMENT.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/core/application.py
  backend/app/core/middleware.py
  backend/app/core/routes.py
  backend/app/main.py
  docker/env.production
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/simple.test.js
  frontend/auth.py
  frontend/env.local
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/simple.test.js
  start-docker.ps1
  start-local.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

new file: backend/app/core/mid:wq!~ dleware.py
  README-DEPLOYMENT.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/core/application.py
  backend/app/core/middleware.py
  backend/app/core/routes.py
  backend/app/main.py
  docker/env.production
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/simple.test.js
  frontend/auth.py
  frontend/env.local
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/simple.test.js
  start-docker.ps1
  start-local.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Consolidate property schemas into unified_property.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/repositories/property_repository.py
  backend/app/schemas/mongodb_models.py
  backend/app/schemas/unified_property.py
  backend/app/services/property_service.py
  backend/app/services/smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Consolidate property schemas into unified_property.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/repositories/property_repository.py
  backend/app/schemas/mongodb_models.py
  backend/app/schemas/unified_property.py
  backend/app/services/property_service.py
  backend/app/services/smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve test stability and mock clipboard API
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/jest.setup.js
Owners: @frontend-team

Refactor: Improve test stability and mock clipboard API
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/jest.setup.js
Owners: @frontend-team

Fix setImmediate issue in Jest setup
  frontend/jest.setup.js
Owners: @frontend-team

Fix setImmediate issue in Jest setup
  frontend/jest.setup.js
Owners: @frontend-team

feat: Add property forms consolidation documentation
  CONSOLIDATION_SUMMARY.md
  CONSOLIDATION_TEAM_PLAN.md
  PROJECT_KICKOFF.md
  QA_TESTING_PLAN.md
  STEP_BY_STEP_IMPLEMENTATION.md
  TECHNICAL_ANALYSIS_DETAILED.md
  UX_DESIGN_REVIEW.md
Owners: @tech-writer, @product-manager

feat: Implement unified property form and backend API
  .env.example
  IMPLEMENTATION_COMPLETE.md
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/services/unified_property_service.py
  backend/app/utils/migration.py
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/types/PropertyFormTypes.ts
  frontend/utils/analytics.ts
  frontend/utils/featureFlags.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Checkpoint before follow-up message
  README.md
  backend/app/api/v1/router.py
  backend/pytest.ini
  backend/requirements-test.txt
  backend/test_unified_properties.py
  backend/tests/test_unified_properties.py
  frontend/__tests__/hooks/useUnifiedPropertyForm.test.tsx
  frontend/__tests__/integration/PropertyFormIntegration.test.tsx
  frontend/__tests__/performance/PropertyFormPerformance.test.tsx
  frontend/app/properties/add/ai/page.tsx
  frontend/app/properties/add/page.tsx
  frontend/app/properties/add/wizard/page.tsx
  frontend/components/property/PropertyFormWrapper.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/api.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/analytics.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement single AI-first property form
  backend/app/api/v1/endpoints/ai_property_analysis.py
  backend/app/api/v1/router.py
  backend/app/schemas/ai_analysis.py
  backend/app/services/ai_property_service.py
  frontend/app/properties/add/ai/page.tsx
  frontend/app/properties/add/page.tsx
  frontend/app/properties/add/wizard/page.tsx
  frontend/components/Properties_new.tsx
  frontend/components/property/AIFirstPropertyForm.tsx
  frontend/components/property/PropertyFormWrapper.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/lib/api.ts
  frontend/services/aiPropertyAnalysis.ts
  frontend/utils/analytics.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Review and refine property workflow (#17)
  .env.example
  CONSOLIDATION_SUMMARY.md
  CONSOLIDATION_TEAM_PLAN.md
  IMPLEMENTATION_COMPLETE.md
  PROJECT_KICKOFF.md
  QA_TESTING_PLAN.md
  STEP_BY_STEP_IMPLEMENTATION.md
  TECHNICAL_ANALYSIS_DETAILED.md
  UX_DESIGN_REVIEW.md
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/services/unified_property_service.py
  backend/app/utils/migration.py
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/types/PropertyFormTypes.ts
  frontend/utils/analytics.ts
  frontend/utils/featureFlags.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Review and refine property workflow (#17)
  .env.example
  CONSOLIDATION_SUMMARY.md
  CONSOLIDATION_TEAM_PLAN.md
  IMPLEMENTATION_COMPLETE.md
  PROJECT_KICKOFF.md
  QA_TESTING_PLAN.md
  STEP_BY_STEP_IMPLEMENTATION.md
  TECHNICAL_ANALYSIS_DETAILED.md
  UX_DESIGN_REVIEW.md
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/services/unified_property_service.py
  backend/app/utils/migration.py
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/types/PropertyFormTypes.ts
  frontend/utils/analytics.ts
  frontend/utils/featureFlags.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

t pus
  README-DEPLOYMENT.md
  docker/env.production
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/components/Properties_new.tsx
  frontend/env.local
  start-docker.ps1
  start-local.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

t pus
  README-DEPLOYMENT.md
  docker/env.production
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/components/Properties_new.tsx
  frontend/env.local
  start-docker.ps1
  start-local.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  backend/app/services/smart_property_service.py
  frontend/hooks/usePropertyFormRefactored.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Enhance smart property service and API with error handling
  REFACTORING_SUMMARY.md
  backend/app/core/exceptions.py
  backend/app/services/smart_property_service.py
  frontend/__tests__/hooks/usePropertyFormRefactored.test.ts
  frontend/lib/apiRefactored.ts
  test_refactoring_validation.py
  tests/test_smart_properties_integration.py
  tests/test_smart_property_service.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement AI features and analytics tracking
  backend/app/api/v1/endpoints/agents.py
  backend/app/schemas/smart_property.py
  backend/app/services/analytics_service.py
  backend/app/services/email_service.py
  backend/app/services/smart_property_service.py
  backend/app/services/unified_property_service.py
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/contexts/AuthContext.tsx
  frontend/hooks/usePropertyFormShared.ts
  tests/test_property_service.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team
