Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

Newsroom N3: public /news pages, components, SEO, footer, sitemap and nav hide-list
  frontend/app/news/[id]/page.tsx
  frontend/app/news/loading.tsx
  frontend/app/news/page.tsx
  frontend/app/sitemap.ts
  frontend/components/Navigation.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/components/news/InterestStrip.tsx
  frontend/components/news/NewsArticle.tsx
  frontend/components/news/NewsCard.tsx
  frontend/components/news/NewsGrid.tsx
  frontend/lib/news/data.ts
  frontend/lib/news/disclaimer.ts
  frontend/lib/news/fixtures.ts
  frontend/lib/news/seo.ts
Owners: @frontend-team

Newsroom N3: Studio preview of card, channels and exact captions; jest for news pages and preview
  frontend/__tests__/app/newsroom-preview.test.tsx
  frontend/__tests__/news/news-site.test.tsx
  frontend/app/studio/newsroom/page.tsx
  frontend/components/app/newsroom/PostPreview.tsx
  frontend/components/app/newsroom/QueueCard.tsx
  frontend/lib/app/newsroom.ts
  frontend/lib/news/data.ts
Owners: @frontend-team

Newsroom N3: handoff, review samples, smaller Studio thumbnails, screenshot script
  docs/brand/news-samples/card-metro-photo-ig.jpg
  docs/brand/news-samples/card-rera-tip-ig.jpg
  docs/brand/news-samples/card-ring-road-ig.jpg
  docs/brand/news-samples/contact-news-facebook.jpg
  docs/brand/news-samples/contact-news-instagram.jpg
  docs/brand/news-samples/digest-carousel.jpg
  docs/brand/news-samples/page-news-390.jpg
  docs/brand/news-samples/page-news-item-390.jpg
  docs/brand/news-samples/studio-newsroom-preview-390.jpg
  docs/handoff/N3-news.md
  frontend/components/app/newsroom/PostPreview.tsx
  frontend/e2e/news-shots.js
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Merge N3 news presentation; wire public news router
  backend/app/api/v1/router.py
Owners: @product-manager, @project-manager, @tech-lead

Frontend: build with webpack (Turbopack rejects the generated stylesheet)
  frontend/package.json
Owners: @frontend-team

A1: agent brand contract (branding_data) with validation, PATCH/GET /join/site
  backend/app/modules/onboarding/branding.py
  backend/app/modules/onboarding/router.py
  backend/app/modules/onboarding/schemas.py
  backend/app/modules/onboarding/service.py
  backend/tests/modules/test_agent_branding.py
Owners: @product-manager, @project-manager, @tech-lead

Concierge backend: agents, on-behalf listings, consent, audit, attribution hook in social
  backend/app/modules/concierge/__init__.py
  backend/app/modules/concierge/attribution.py
  backend/app/modules/concierge/config.py
  backend/app/modules/concierge/router.py
  backend/app/modules/concierge/service.py
  backend/app/modules/social/service.py
  backend/tests/modules/concierge/__init__.py
  backend/tests/modules/concierge/helpers.py
  backend/tests/modules/concierge/test_router.py
  backend/tests/modules/concierge/test_service.py
Owners: @product-manager, @project-manager, @tech-lead

Concierge tests: relax url scheme
  backend/tests/modules/concierge/test_service.py
Owners: @product-manager, @project-manager, @tech-lead

A1: Listed by <business> RERA line on share cards
  backend/app/modules/marketing/facts.py
  backend/app/modules/marketing/images.py
  backend/tests/modules/test_agent_branding_cards.py
Owners: @product-manager, @project-manager, @tech-lead

Concierge frontend: Agents list, add-agent sheet, detail, post sheet, on-behalf listing flow
  frontend/app/studio/agents/[id]/listings/new/page.tsx
  frontend/app/studio/agents/[id]/page.tsx
  frontend/app/studio/agents/page.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/StudioGate.tsx
  frontend/components/app/agents/AddAgentSheet.tsx
  frontend/components/app/agents/AgentDetailScreen.tsx
  frontend/components/app/agents/AgentsScreen.tsx
  frontend/components/app/agents/BrandEditorSlot.tsx
  frontend/components/app/agents/BrandEditorStub.tsx
  frontend/components/app/agents/NewListingForAgent.tsx
  frontend/components/app/agents/PostSheet.tsx
  frontend/components/app/agents/ProgressRing.tsx
  frontend/components/app/agents/useIsOwner.ts
  frontend/lib/app/concierge.ts
  frontend/lib/app/strings.ts
Owners: @frontend-team

A1: six brand presets, theme resolution, contrast test
  frontend/__tests__/site/presets-contrast.test.ts
  frontend/lib/site/contrast.ts
  frontend/lib/site/presets.ts
  frontend/lib/site/theme.ts
  frontend/lib/site/types.ts
Owners: @frontend-team

Concierge frontend tests
  frontend/__tests__/app/concierge.test.tsx
Owners: @frontend-team

A1: themed agent site, BrandEditor, studio My brand, join preset, tests
  frontend/__tests__/app/brand-editor.test.tsx
  frontend/__tests__/site/agent-branding.test.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/app/studio/page.tsx
  frontend/app/studio/profile/page.tsx
  frontend/components/app/BrandEditor.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/site/AboutAgent.tsx
  frontend/components/site/Hero.tsx
  frontend/components/site/ListingBrowser.tsx
  frontend/components/site/SiteShell.tsx
  frontend/components/site/Skyline.tsx
  frontend/e2e/agent-brand-shots.js
  frontend/lib/app/branding.ts
  frontend/lib/app/types.ts
  frontend/lib/site/fixtures.ts
  frontend/lib/site/theme.ts
Owners: @frontend-team

Concierge: docs, handoff, screenshot script and samples
  docs/AGENT_INVITE_KIT.md
  docs/PILOT_RUNBOOK.md
  docs/brand/concierge-samples/1-agents-list.jpg
  docs/brand/concierge-samples/2-add-agent-sheet.jpg
  docs/brand/concierge-samples/3-add-agent-code.jpg
  docs/brand/concierge-samples/4-agent-detail-top.jpg
  docs/brand/concierge-samples/5-agent-detail-middle.jpg
  docs/brand/concierge-samples/5b-agent-detail-bottom.jpg
  docs/brand/concierge-samples/6-post-captions.jpg
  docs/brand/concierge-samples/8-post-done.jpg
  docs/brand/concierge-samples/9-listing-for-agent.jpg
  docs/handoff/A2-concierge.md
  frontend/e2e/concierge-shots.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

A1: brand samples, editor polish, handoff
  docs/brand/agent-brand-samples/cream-ink-d-top.jpg
  docs/brand/agent-brand-samples/cream-ink-m-about.jpg
  docs/brand/agent-brand-samples/cream-ink-m-top.jpg
  docs/brand/agent-brand-samples/editor-m-bottom.jpg
  docs/brand/agent-brand-samples/editor-m-full.jpg
  docs/brand/agent-brand-samples/editor-m-mid.jpg
  docs/brand/agent-brand-samples/editor-m-top.jpg
  docs/brand/agent-brand-samples/emerald-banner-d-top.jpg
  docs/brand/agent-brand-samples/emerald-banner-m-about.jpg
  docs/brand/agent-brand-samples/emerald-banner-m-top.jpg
  docs/brand/agent-brand-samples/purple-banner-d-top.jpg
  docs/brand/agent-brand-samples/purple-banner-m-top.jpg
  docs/brand/agent-brand-samples/slate-banner-d-top.jpg
  docs/brand/agent-brand-samples/slate-banner-m-top.jpg
  docs/brand/agent-brand-samples/terracotta-d-top.jpg
  docs/brand/agent-brand-samples/terracotta-m-top.jpg
  docs/handoff/A1-brand.md
  frontend/components/app/BrandEditor.tsx
  frontend/e2e/agent-brand-shots.js
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Merge A2 concierge; wire router
  backend/app/api/v1/router.py
Owners: @product-manager, @project-manager, @tech-lead

Merge A1 branded agent pages; concierge uses the real BrandEditor and full branding update
  backend/app/modules/concierge/service.py
  backend/tests/modules/concierge/test_service.py
  frontend/components/app/agents/BrandEditorSlot.tsx
  frontend/components/app/agents/BrandEditorStub.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

e2e: agent site check expects the agent's own brand and the platform credit in the footer
  frontend/e2e/site-brand-check.js
Owners: @frontend-team

Reels: AI director (LLM beats from facts only) with Google Chirp3 HD voiceover in Hindi, English and Marathi
  backend/app/modules/reels/director.py
  backend/app/modules/reels/voice.py
  backend/scripts/make_voiced_reels.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: 2.5D depth parallax (Depth Anything V2 small, ONNX CPU) and our own generated music bed under the voice
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/depth.py
  backend/app/modules/reels/director.py
  backend/app/modules/reels/music.py
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Voiced reels: English uses the reviewed script
  backend/scripts/make_voiced_reels.py
Owners: @product-manager, @project-manager, @tech-lead

Engage: interested and asking commenters become leads in the agent's inbox; hide our own comments from the Interest feed
  backend/app/modules/engage/router.py
  backend/app/modules/engage/service.py
Owners: @product-manager, @project-manager, @tech-lead

Engage: fix the lead message string
  backend/app/modules/engage/service.py
Owners: @product-manager, @project-manager, @tech-lead

Pin opencv-python-headless to the published 5.0.0.93
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Script to post the voiced sample reels
  backend/scripts/post_voiced_reels.py
Owners: @product-manager, @project-manager, @tech-lead

WhatsApp module: config, Graph client, webhook router, service, adapters; agent notifications module
  backend/app/modules/notifications/__init__.py
  backend/app/modules/notifications/router.py
  backend/app/modules/notifications/service.py
  backend/app/modules/whatsapp/__init__.py
  backend/app/modules/whatsapp/adapters.py
  backend/app/modules/whatsapp/config.py
  backend/app/modules/whatsapp/graph.py
  backend/app/modules/whatsapp/lang.py
  backend/app/modules/whatsapp/router.py
  backend/app/modules/whatsapp/service.py
Owners: @product-manager, @project-manager, @tech-lead

WhatsApp: tests (webhook, signature, idempotency, routing, grounded and Hindi answers, leads, STOP, window, dry run, secrets); localised team name
  backend/app/modules/whatsapp/adapters.py
  backend/app/modules/whatsapp/lang.py
  backend/app/modules/whatsapp/service.py
  backend/tests/modules/whatsapp/__init__.py
  backend/tests/modules/whatsapp/helpers.py
  backend/tests/modules/whatsapp/test_router.py
  backend/tests/modules/whatsapp/test_service.py
Owners: @product-manager, @project-manager, @tech-lead

WhatsApp frontend: Chat on WhatsApp button on /go and /i, WhatsApp chats in the Interest tab, Studio home badge
  frontend/__tests__/app/interest-whatsapp.test.tsx
  frontend/__tests__/site/whatsapp-button.test.tsx
  frontend/app/go/page.tsx
  frontend/app/i/[code]/page.tsx
  frontend/app/studio/interest/page.tsx
  frontend/app/studio/page.tsx
  frontend/components/site/WhatsAppButton.tsx
  frontend/lib/app/whatsapp.ts
Owners: @frontend-team

WhatsApp: owner setup guide and connect script (hidden prompts, prints only the verify token)
  deploy/gcp/whatsapp_connect.ps1
  docs/WHATSAPP_SETUP.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

WA1 handoff: wiring snippet, env, tests, Meta sources
  docs/handoff/WA1-whatsapp.md
Owners: @tech-writer, @product-manager

WA1 handoff: production build result
  docs/handoff/WA1-whatsapp.md
Owners: @tech-writer, @product-manager

Merge WhatsApp buyer assistant (off by default); wire routers and the public WhatsApp number build arg
  backend/app/api/v1/router.py
  deploy/gcp/docker-compose.yml
  docs/brand/reel-samples/sample-kharadi-2bhk-frames.jpg
  docs/brand/reel-samples/sample-kharadi-2bhk-hook.jpg
  docs/brand/reel-samples/v2-frames.jpg
  frontend/Dockerfile
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Avasetu brand assets: mark (gold and navy), profile, cover, share image, lockup, icons
  docs/brand/avasetu/board.html
  docs/brand/avasetu/cover.png
  docs/brand/avasetu/icon-192.png
  docs/brand/avasetu/icon-32.png
  docs/brand/avasetu/icon-512.png
  docs/brand/avasetu/lockup.png
  docs/brand/avasetu/mark-navy.svg
  docs/brand/avasetu/mark.svg
  docs/brand/avasetu/og.png
  docs/brand/avasetu/profile.png
Owners: @product-manager, @project-manager, @tech-lead

Avasetu: brand module, bundled mark PNGs, web icons and share images; regenerate the blank icon PNGs
  backend/app/core/brand.py
  backend/app/modules/marketing/assets/avasetu-mark-navy.png
  backend/app/modules/marketing/assets/avasetu-mark.png
  frontend/public/brand/apple-touch-icon.png
  frontend/public/brand/icon-192.png
  frontend/public/brand/icon-32.png
  frontend/public/brand/icon-512.png
  frontend/public/brand/mark-navy.svg
  frontend/public/brand/mark.png
  frontend/public/brand/mark.svg
  frontend/public/brand/og-landing.jpg
  frontend/public/brand/og.jpg
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Avasetu: backend tests for the new brand, attribution and legacy footer
  backend/tests/modules/calendar/test_footer.py
  backend/tests/modules/concierge/test_service.py
  backend/tests/modules/interest/test_interest.py
  backend/tests/modules/newsroom/test_check.py
  backend/tests/modules/newsroom/test_draft.py
  backend/tests/modules/newsroom/test_n3_captions_router.py
  backend/tests/modules/newsroom/test_n3_public.py
  backend/tests/modules/newsroom/test_read.py
  backend/tests/modules/test_agent_branding_cards.py
  backend/tests/modules/test_engage.py
  backend/tests/modules/test_marketing_content.py
  backend/tests/modules/test_marketing_router.py
  backend/tests/modules/test_social_router.py
  backend/tests/modules/test_social_service.py
Owners: @product-manager, @project-manager, @tech-lead

Avasetu: re-render the Hindi/Marathi static cards with the new mark; drop the old PP badge
  backend/app/modules/marketing/assets/logo.png
  backend/app/modules/marketing/static_cards/agents-hindi.jpg
  backend/app/modules/marketing/static_cards/agents-marathi.jpg
  frontend/e2e/render-static-cards.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Avasetu: deploy defaults (business name, site URL follows SITE_HOST), user docs and contracts
  README.md
  WINDOWS_SETUP.md
  deploy/gcp/backup.sh
  deploy/gcp/docker-compose.yml
  deploy/gcp/health_check.sh
  deploy/gcp/meta_connect.ps1
  docs/AGENT_INVITE_KIT.md
  docs/META_SETUP.md
  docs/NEWSROOM_PLAN.md
  docs/PILOT_RUNBOOK.md
  docs/PRODUCT_PLAN.md
  docs/WHATSAPP_SETUP.md
  docs/content/kharadi-vs-upper-kharadi-vs-wagholi.md
  docs/contracts/engagement.md
  docs/contracts/landing.md
  docs/contracts/social.md
  frontend/__tests__/app/concierge.test.tsx
  frontend/__tests__/site/agent-branding.test.tsx
  frontend/lib/app/concierge.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Avasetu: brand guide with the owner's checklist, and the rebrand visual check sheet
  docs/brand/avasetu/README.md
  docs/brand/avasetu/rebrand-check.jpg
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Script: redraw unpublished calendar posts in the current brand, keeping approvals
  backend/scripts/rebrand_calendar.py
Owners: @product-manager, @project-manager, @tech-lead

rebrand_calendar: Monday-based weeks so the whole approved window is rebuilt
  backend/scripts/rebrand_calendar.py
Owners: @product-manager, @project-manager, @tech-lead
