Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Ignore backend/uploads (user-generated files)
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

Make listing photos optional and cheap
  backend/app/modules/ai_listing/schemas.py
  backend/app/modules/ai_listing/service.py
  backend/app/modules/listings/schemas.py
  backend/app/modules/listings/service.py
  backend/tests/modules/test_ai_listing_router.py
  backend/tests/modules/test_ai_listing_service.py
  backend/tests/modules/test_listings_service.py
  docs/contracts/listing.md
  frontend/__tests__/app/fixtures.test.ts
  frontend/__tests__/app/imageCompress.test.ts
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/PhotoPicker.tsx
  frontend/e2e/photo-check.js
  frontend/lib/app/fixtures.ts
  frontend/lib/app/imageCompress.ts
  frontend/lib/app/validate.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Frontend: patch Next to 14.2.35 and apply non-breaking npm audit fixes
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Frontend cleanup: remove demo/test/mock pages, fix type errors, green build
  .gitignore
  frontend/__tests__/integration/api/property_api.test.ts
  frontend/__tests__/site/api-outage.test.ts
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/PropertyManagement.test.tsx
  frontend/__tests__/unit/components/analytics.test.tsx
  frontend/__tests__/unit/components/property_management.test.tsx
  frontend/__tests__/unit/components/social_publishing_workflow.test.tsx
  frontend/__tests__/unit/lib/data_transformers.test.ts
  frontend/app/api/auth/simple-login/route.ts
  frontend/app/api/auth/simple-register/route.ts
  frontend/app/bypass-auth/page.tsx
  frontend/app/demo/genai-form/page.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/app/property-workflow-demo/page.tsx
  frontend/app/simple-login/page.tsx
  frontend/app/simple-register/page.tsx
  frontend/app/test-image-inheritance/page.tsx
  frontend/app/test-simple/page.tsx
  frontend/app/test-workflow/page.tsx
  frontend/app/test/page.tsx
  frontend/components/PublishingWorkflowManager.tsx
  frontend/components/UI/ImageModal.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/auth/ProtectedRoute.tsx
  frontend/lib/api/centralized-client.ts
  frontend/lib/data-transformers.ts
  frontend/lib/site/api.ts
  frontend/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Add Sprint 2 contract: buyer qualification, matching, follow-up drafts, daily dashboard
  docs/contracts/qualification.md
Owners: @tech-writer, @product-manager

Public enquiry form: optional buyer qualification chips
  docs/handoff/f1-enquiry-form.md
  frontend/__tests__/site/components.test.tsx
  frontend/__tests__/site/qualification.test.ts
  frontend/components/site/EnquiryForm.tsx
  frontend/lib/site/qualification.ts
  frontend/lib/site/strings.ts
  frontend/lib/site/tracking.ts
Owners: @tech-writer, @product-manager, @frontend-team

Agent app: business-today dashboard, qualified lead detail, follow-up drafts
  docs/handoff/f2-agent-dashboard.md
  frontend/__tests__/app/business-today.test.tsx
  frontend/__tests__/app/lead-detail.test.tsx
  frontend/__tests__/app/qualification-api.test.ts
  frontend/__tests__/app/qualification-fixtures.test.ts
  frontend/app/studio/leads/[id]/page.tsx
  frontend/app/studio/leads/page.tsx
  frontend/app/studio/page.tsx
  frontend/components/app/BusinessToday.tsx
  frontend/components/app/LeadDetailView.tsx
  frontend/components/app/LeadPanels.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/leads.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Tracking: buyer requirement, matching, follow-up drafts, daily dashboard (contract sections 1-5)
  backend/app/modules/tracking/followup.py
  backend/app/modules/tracking/matching.py
  backend/app/modules/tracking/requirement.py
  backend/app/modules/tracking/router.py
  backend/app/modules/tracking/schemas.py
  backend/app/modules/tracking/service.py
  backend/app/modules/tracking/summary.py
  backend/app/modules/tracking/today.py
  backend/tests/modules/qual_helpers.py
  backend/tests/modules/test_qualification.py
  backend/tests/modules/test_qualification_parsing.py
  backend/tests/modules/test_qualification_router.py
  docs/handoff/s5-qualification.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Use the Indian day for 'due today'; add qualification e2e smoke test
  backend/app/modules/tracking/today.py
  backend/scripts/e2e_qualification.py
  backend/tests/modules/test_qualification.py
Owners: @product-manager, @project-manager, @tech-lead

Follow-up drafts: refer to listings naturally and never claim an over-budget fit
  backend/app/modules/tracking/followup.py
  backend/app/modules/tracking/service.py
  backend/tests/modules/test_qualification.py
  frontend/components/app/LeadPanels.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Add Sprint 3 contract: marketing pack, reverse matching, performance, recommended actions
  docs/contracts/marketing.md
Owners: @tech-writer, @product-manager

Tracking: reverse matching, property performance, recommended actions (contract sections 2-4)
  backend/app/modules/tracking/actions.py
  backend/app/modules/tracking/matching.py
  backend/app/modules/tracking/performance.py
  backend/app/modules/tracking/reverse.py
  backend/app/modules/tracking/router.py
  backend/app/modules/tracking/service.py
  backend/app/modules/tracking/today.py
  backend/tests/modules/reverse_helpers.py
  backend/tests/modules/test_matching_reverse.py
  backend/tests/modules/test_matching_reverse_router.py
  backend/tests/modules/test_performance.py
  backend/tests/modules/test_qualification_router.py
  backend/tests/modules/test_tracking_actions.py
  docs/handoff/t-matching.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Marketing pack backend: deterministic copy, Pillow share cards, generate/get endpoints
  backend/app/modules/marketing/__init__.py
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/facts.py
  backend/app/modules/marketing/images.py
  backend/app/modules/marketing/polish.py
  backend/app/modules/marketing/router.py
  backend/app/modules/marketing/schemas.py
  backend/app/modules/marketing/service.py
  backend/tests/modules/marketing_helpers.py
  backend/tests/modules/test_marketing_content.py
  backend/tests/modules/test_marketing_images.py
  backend/tests/modules/test_marketing_router.py
  docs/handoff/m-marketing.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Mount marketing pack router
  backend/app/api/v1/router.py
Owners: @product-manager, @project-manager, @tech-lead

Agent app: marketing pack screen, matching buyers, AI recommends, listing performance
  docs/handoff/f-marketing.md
  frontend/__tests__/app/marketing-api.test.ts
  frontend/__tests__/app/marketing-fixtures.test.ts
  frontend/__tests__/app/marketing-screen.test.tsx
  frontend/__tests__/app/qualification-fixtures.test.ts
  frontend/app/studio/listings/[id]/marketing/page.tsx
  frontend/app/studio/listings/[id]/page.tsx
  frontend/app/studio/listings/page.tsx
  frontend/components/app/BusinessToday.tsx
  frontend/components/app/ListingCard.tsx
  frontend/components/app/MarketingPackView.tsx
  frontend/components/app/MarketingScreen.tsx
  frontend/components/app/MatchingBuyersCard.tsx
  frontend/components/app/NewListingFlow.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures-marketing.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/marketing.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Fix over-matching found by the real-database run; add marketing e2e script
  backend/app/modules/tracking/matching.py
  backend/app/modules/tracking/reverse.py
  backend/scripts/e2e_marketing.py
  backend/tests/modules/test_matching_reverse.py
  backend/tests/modules/test_matching_reverse_router.py
  backend/tests/modules/test_qualification_parsing.py
Owners: @product-manager, @project-manager, @tech-lead

Read the locality a buyer names in their message; fix reel timing label
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/facebook.py
  backend/app/core/config.py
  backend/app/modules/tracking/requirement.py
  backend/app/modules/tracking/service.py
  backend/app/services/meta_instagram_oauth.py
  backend/development.env.example
  backend/tests/modules/test_qualification.py
  backend/tests/modules/test_qualification_parsing.py
  backend/tests/test_meta_instagram_oauth.py
  frontend/components/app/MarketingPackView.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Add Sprint 4 contract: deal outcomes
  docs/contracts/outcomes.md
Owners: @tech-writer, @product-manager

Deal outcomes backend: won/lost results, attribution, 30-day results
  backend/app/modules/tracking/outcomes.py
  backend/app/modules/tracking/performance.py
  backend/app/modules/tracking/schemas.py
  backend/app/modules/tracking/service.py
  backend/app/modules/tracking/today.py
  backend/tests/modules/test_matching_reverse_router.py
  backend/tests/modules/test_outcomes.py
  backend/tests/modules/test_performance.py
  backend/tests/modules/test_qualification_router.py
  backend/tests/modules/test_tracking_actions.py
Owners: @product-manager, @project-manager, @tech-lead

Agent app: deal outcomes (Won/Lost sheets, mark-sold prompt, This month, deals on listings)
  docs/handoff/f4-outcomes.md
  frontend/__tests__/app/outcomes-api.test.ts
  frontend/__tests__/app/outcomes-fixtures.test.ts
  frontend/__tests__/app/outcomes-ui.test.tsx
  frontend/__tests__/app/qualification-fixtures.test.ts
  frontend/app/studio/leads/page.tsx
  frontend/components/app/BusinessToday.tsx
  frontend/components/app/LeadDetailView.tsx
  frontend/components/app/ListingCard.tsx
  frontend/components/app/OutcomeSheets.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures-marketing.ts
  frontend/lib/app/fixtures-outcomes.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/outcomes.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Add outcomes browser journey (won, mark sold, lost, this month, reopen)
  frontend/e2e/outcomes-journey.js
Owners: @frontend-team

Add Sprint 5 contract: social publishing to the brand Page and Instagram (dry-run first)
  docs/contracts/social.md
Owners: @tech-writer, @product-manager

Add Meta setup guide and plain PUNE Property brand images
  docs/META_SETUP.md
  docs/brand/pune-property-cover.png
  docs/brand/pune-property-profile.png
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Agent app: Post to PUNE Property (approve, consent, test mode, results, history, retry)
  docs/handoff/f-social.md
  frontend/__tests__/app/marketing-screen.test.tsx
  frontend/__tests__/app/outcomes-fixtures.test.ts
  frontend/__tests__/app/qualification-fixtures.test.ts
  frontend/__tests__/app/social-api.test.ts
  frontend/__tests__/app/social-fixtures.test.ts
  frontend/__tests__/app/social-ui.test.tsx
  frontend/components/app/MarketingPackView.tsx
  frontend/components/app/SocialPublishSection.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures-social.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/social.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Add social publishing backend: brand Page + Instagram via Meta Graph API (dry-run default)
  backend/app/modules/social/__init__.py
  backend/app/modules/social/config.py
  backend/app/modules/social/graph.py
  backend/app/modules/social/publisher.py
  backend/app/modules/social/router.py
  backend/app/modules/social/schemas.py
  backend/app/modules/social/service.py
  backend/tests/modules/test_social_graph.py
  backend/tests/modules/test_social_helpers.py
  backend/tests/modules/test_social_router.py
  backend/tests/modules/test_social_service.py
  docs/handoff/b-social.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Mount social router; add social e2e script (dry-run and real-mode with a fake token)
  backend/app/api/v1/router.py
  backend/scripts/e2e_social.py
Owners: @product-manager, @project-manager, @tech-lead

Add single-VM GCP deploy (Caddy + compose); drop case-duplicate components/ui
  deploy/gcp/Caddyfile
  deploy/gcp/docker-compose.yml
  frontend/components/ui/Button.tsx
  frontend/components/ui/Card.tsx
  frontend/components/ui/Input.tsx
  frontend/components/ui/index.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Redesign marketing image cards; fit the Facebook cover to phone and desktop crops
  backend/app/modules/marketing/images.py
  backend/tests/modules/test_marketing_images.py
  docs/META_SETUP.md
  docs/brand/pune-property-cover.png
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Create MongoDB indexes at startup; point Meta guide at the live pilot address
  backend/app/core/database.py
  backend/app/core/indexes.py
  backend/tests/test_indexes.py
  docs/META_SETUP.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Meta setup guide: exact app settings for the live address, server env step, Instagram rules
  docs/META_SETUP.md
Owners: @tech-writer, @product-manager

Add Sprint 6 contracts (activity/freshness, landing/legal/invite requests) and landing screenshots
  docs/contracts/activity.md
  docs/contracts/landing.md
  frontend/public/landing/07-review-top.jpg
  frontend/public/landing/12-site-home.jpg
  frontend/public/landing/19-lead-detail.jpg
  frontend/public/landing/22-marketing-ready.jpg
  frontend/public/landing/27-buyers-match.jpg
  frontend/public/landing/30-home-actions.jpg
Owners: @tech-writer, @product-manager, @frontend-team

Add one-command redeploy script for the GCP pilot VM (dry-run supported)
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

Add listing activity, freshness (still available?) and inquiry abuse protection
  backend/app/modules/listings/freshness.py
  backend/app/modules/listings/router.py
  backend/app/modules/listings/schemas.py
  backend/app/modules/listings/service.py
  backend/app/modules/tracking/activity.py
  backend/app/modules/tracking/limits.py
  backend/app/modules/tracking/performance.py
  backend/app/modules/tracking/router.py
  backend/app/modules/tracking/schemas.py
  backend/app/modules/tracking/service.py
  backend/tests/modules/activity_helpers.py
  backend/tests/modules/test_activity.py
  backend/tests/modules/test_activity_router.py
  backend/tests/modules/test_freshness.py
  backend/tests/modules/test_inquiry_limits.py
  docs/handoff/c1-activity.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Add listing activity page and 'still available?' freshness prompts
  docs/handoff/c2-activity.md
  frontend/__tests__/app/activity-api.test.ts
  frontend/__tests__/app/activity-helpers.test.ts
  frontend/__tests__/app/activity-ui.test.tsx
  frontend/__tests__/app/freshness-ui.test.tsx
  frontend/__tests__/app/outcomes-fixtures.test.ts
  frontend/__tests__/app/qualification-fixtures.test.ts
  frontend/__tests__/app/social-fixtures.test.ts
  frontend/app/studio/listings/[id]/activity/page.tsx
  frontend/app/studio/listings/[id]/page.tsx
  frontend/app/studio/listings/page.tsx
  frontend/components/app/BusinessToday.tsx
  frontend/components/app/FreshnessPrompt.tsx
  frontend/components/app/ListingActivityView.tsx
  frontend/components/app/ListingCard.tsx
  frontend/lib/app/activity.ts
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures-activity.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/freshness.ts
  frontend/lib/app/marketing.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Upgrade to Next 16 + React 19 (clears the last production vulnerabilities)
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/hooks/useAsyncState.ts
  frontend/hooks/useOptimizedState.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Owners: @frontend-team

Index and expire the inquiry_log collection
  backend/app/core/indexes.py
Owners: @product-manager, @project-manager, @tech-lead

Add public front door: landing page, invite request form/API, privacy/terms/data-deletion pages
  backend/app/modules/waitlist/__init__.py
  backend/app/modules/waitlist/router.py
  backend/app/modules/waitlist/schemas.py
  backend/app/modules/waitlist/service.py
  backend/scripts/invite_requests.py
  backend/tests/modules/test_waitlist.py
  backend/tests/modules/test_waitlist_router.py
  docs/handoff/b-landing.md
  frontend/__tests__/marketing/config.test.ts
  frontend/__tests__/marketing/invite-form.test.tsx
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/legal-pages.test.tsx
  frontend/app/dashboard/DashboardHome.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/data-deletion/page.tsx
  frontend/app/page.tsx
  frontend/app/privacy/page.tsx
  frontend/app/request-invite/page.tsx
  frontend/app/terms/page.tsx
  frontend/components/Navigation.tsx
  frontend/components/marketing/ContactLines.tsx
  frontend/components/marketing/LegalPage.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/components/marketing/PhoneFrame.tsx
  frontend/components/marketing/RequestInviteForm.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/components/marketing/SiteHeader.tsx
  frontend/lib/marketing/config.ts
  frontend/lib/marketing/invite.ts
  frontend/lib/marketing/seo.ts
  frontend/lib/marketing/strings.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Pilot runbook: deploy, invites and operations on the GCP server
  docs/PILOT_RUNBOOK.md
Owners: @tech-writer, @product-manager

Mount the invite-request router; index its collections
  backend/app/api/v1/router.py
  backend/app/core/indexes.py
Owners: @product-manager, @project-manager, @tech-lead

Fix agent sites under Next 16 (async route params); pilot browser checks; deploy build args
  backend/scripts/dev_set_freshness.py
  deploy/gcp/docker-compose.yml
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/Dockerfile
  frontend/__tests__/site/route-params.test.tsx
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/components/marketing/SiteHeader.tsx
  frontend/e2e/browser-journey.js
  frontend/e2e/photo-check.js
  frontend/e2e/pilot-pages.js
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
