Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

feat: Implement AI features and analytics tracking (#18)
  backend/app/api/v1/endpoints/agents.py
  backend/app/schemas/smart_property.py
  backend/app/services/analytics_service.py
  backend/app/services/email_service.py
  backend/app/services/smart_property_service.py
  backend/app/services/unified_property_service.py
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/contexts/AuthContext.tsx
  frontend/hooks/usePropertyFormShared.ts
  tests/test_property_service.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement AI features and analytics tracking (#18)
  backend/app/api/v1/endpoints/agents.py
  backend/app/schemas/smart_property.py
  backend/app/services/analytics_service.py
  backend/app/services/email_service.py
  backend/app/services/smart_property_service.py
  backend/app/services/unified_property_service.py
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/contexts/AuthContext.tsx
  frontend/hooks/usePropertyFormShared.ts
  tests/test_property_service.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

🧹 Clean up: Remove temporary validation script
  test_refactoring_validation.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/requirements.txt
  frontend/components/Properties_new.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/api.ts
  frontend/types/PropertyFormTypes.ts
  frontend/utils/analytics.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  backend/requirements.txt
  frontend/components/Properties_new.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/api.ts
  frontend/types/PropertyFormTypes.ts
  frontend/utils/analytics.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

sdf
  REFACTORING_SUMMARY.md
  backend/app/core/exceptions.py
  backend/app/services/smart_property_service.py
  frontend/__tests__/hooks/usePropertyFormRefactored.test.ts
  frontend/hooks/usePropertyFormRefactored.ts
  frontend/lib/apiRefactored.ts
  tash push -m Local improvements to smart property service and exceptions
  tash show -p
  test_refactoring_validation.py
  tests/test_smart_properties_integration.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

sdf
  REFACTORING_SUMMARY.md
  backend/app/core/exceptions.py
  backend/app/services/smart_property_service.py
  frontend/__tests__/hooks/usePropertyFormRefactored.test.ts
  frontend/hooks/usePropertyFormRefactored.ts
  frontend/lib/apiRefactored.ts
  tash push -m Local improvements to smart property service and exceptions
  tash show -p
  test_refactoring_validation.py
  tests/test_smart_properties_integration.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Consolidate to unified AI-powered property solution
  backend/app/api/v1/endpoints/properties.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/core/routes.py
  backend/app/repositories/property_repository.py
  backend/app/schemas/property.py
  backend/app/schemas/smart_property.py
  backend/app/services/property_service.py
  backend/app/services/smart_property_service.py
  frontend/app/page.tsx
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/hooks/usePropertyForm.ts
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/hooks/usePropertyFormRefactored.ts
  frontend/hooks/usePropertyFormShared.ts
  frontend/hooks/useUnifiedPropertyForm.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Consolidate to unified AI-powered property solution
  backend/app/api/v1/endpoints/properties.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/core/routes.py
  backend/app/repositories/property_repository.py
  backend/app/schemas/property.py
  backend/app/schemas/smart_property.py
  backend/app/services/property_service.py
  backend/app/services/smart_property_service.py
  frontend/app/page.tsx
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/PropertyForm.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/hooks/usePropertyForm.ts
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/hooks/usePropertyFormRefactored.ts
  frontend/hooks/usePropertyFormShared.ts
  frontend/hooks/useUnifiedPropertyForm.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  frontend/__tests__/components/Analytics.test.tsx
  frontend/__tests__/components/CRM.test.tsx
  frontend/__tests__/components/ConsolidatedPropertyForm.test.tsx
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/GenAIPropertyForm.test.tsx
  frontend/__tests__/components/PropertyFieldInput.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/components/PropertyImageUpload.test.tsx
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/__tests__/components/usePropertyForm.test.tsx
  frontend/__tests__/hooks/usePropertyFormRefactored.test.ts
  frontend/components/Analytics.tsx
  frontend/simple.test.js
Owners: @frontend-team

d
  frontend/__tests__/components/Analytics.test.tsx
  frontend/__tests__/components/CRM.test.tsx
  frontend/__tests__/components/ConsolidatedPropertyForm.test.tsx
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/GenAIPropertyForm.test.tsx
  frontend/__tests__/components/PropertyFieldInput.test.tsx
  frontend/__tests__/components/PropertyForm.test.tsx
  frontend/__tests__/components/PropertyImageUpload.test.tsx
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/__tests__/components/usePropertyForm.test.tsx
  frontend/__tests__/hooks/usePropertyFormRefactored.test.ts
  frontend/components/Analytics.tsx
  frontend/simple.test.js
Owners: @frontend-team

d
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
Owners: @frontend-team

d
  frontend/__tests__/components/FacebookIntegration.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
Owners: @frontend-team

feat: Implement unified property form and demo page
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/app/globals.css
  frontend/components/UserFeedbackModal.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/styles/design-system.css
  frontend/utils/userTesting.ts
Owners: @frontend-team

feat: Implement unified property form and demo page (#19)
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/app/globals.css
  frontend/components/UserFeedbackModal.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/styles/design-system.css
  frontend/utils/userTesting.ts
Owners: @frontend-team

feat: Implement unified property form and demo page (#19)
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/app/globals.css
  frontend/components/UserFeedbackModal.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/styles/design-system.css
  frontend/utils/userTesting.ts
Owners: @frontend-team

feat: Implement MongoDB integration for smart properties
  DATABASE_INTEGRATION_COMPLETE.md
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/schemas/smart_property.py
  backend/app/services/smart_property_service.py
  backend/app/utils/database_init.py
  backend/test_database_integration.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Add comprehensive deployment strategy documentation
  DEPLOYMENT_STRATEGY_COMPLETE.md
Owners: @tech-writer, @product-manager

feat: Add mock Facebook service and endpoints
  FACEBOOK_TESTING_GUIDE.md
  FACEBOOK_TESTING_SOLUTION.md
  backend/app/api/v1/endpoints/mock_facebook.py
  backend/app/api/v1/router.py
  backend/app/services/mock_facebook_service.py
  backend/test_mock_facebook.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Full product analysis and implementation plan (#20)
  DATABASE_INTEGRATION_COMPLETE.md
  DEPLOYMENT_STRATEGY_COMPLETE.md
  FACEBOOK_TESTING_GUIDE.md
  FACEBOOK_TESTING_SOLUTION.md
  backend/app/api/v1/endpoints/mock_facebook.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/schemas/smart_property.py
  backend/app/services/mock_facebook_service.py
  backend/app/services/smart_property_service.py
  backend/app/utils/database_init.py
  backend/test_database_integration.py
  backend/test_mock_facebook.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Full product analysis and implementation plan (#20)
  DATABASE_INTEGRATION_COMPLETE.md
  DEPLOYMENT_STRATEGY_COMPLETE.md
  FACEBOOK_TESTING_GUIDE.md
  FACEBOOK_TESTING_SOLUTION.md
  backend/app/api/v1/endpoints/mock_facebook.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/schemas/smart_property.py
  backend/app/services/mock_facebook_service.py
  backend/app/services/smart_property_service.py
  backend/app/utils/database_init.py
  backend/test_database_integration.py
  backend/test_mock_facebook.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

d
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/repositories/user_repository.py
  backend/app/services/analytics_service.py
  backend/app/services/auth_service.py
  backend/app/utils/__init__.py
  backend/cleanup_db.py
  backend/pytest.ini
  backend/test_smart_properties_migration.py
  backend/tests/conftest.py
  backend/tests/test_auth_registration.py
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/core/config.py
  backend/app/repositories/user_repository.py
  backend/app/services/analytics_service.py
  backend/app/services/auth_service.py
  backend/app/utils/__init__.py
  backend/cleanup_db.py
  backend/pytest.ini
  backend/test_smart_properties_migration.py
  backend/tests/conftest.py
  backend/tests/test_auth_registration.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/core/database.py
  frontend/app/onboarding/page.tsx
  frontend/components/Onboarding.tsx
  package-lock.json
  package.json
  test_onboarding_flow.js
  test_user_lookup.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Fix onboarding and mock DB compatibility
  MANUAL_TESTING_GUIDE.md
  ONBOARDING_FIXES_SUMMARY.md
  backend/app/core/database.py
  backend/app/services/onboarding_service.py
  test_complete_flow.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Fix: Adjust user repo for mock DB and add onboarding test
  COMPLETE_FLOW_STATUS.md
  backend/app/repositories/user_repository.py
  test_onboarding_minimal.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Refactor: Remove ObjectId validation for mock database
  backend/app/repositories/user_repository.py
Owners: @product-manager, @project-manager, @tech-lead

Fix: Set default E2E base URL to localhost:3000
  e2e-tests/playwright.config.ts
Owners: @frontend-team

feat: Add registration/login tests and property form component
  e2e-tests/registration-login-flow.spec.ts
  frontend/components/property/ConsolidatedPropertyForm.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  e2e-tests/hydration-test.spec.ts
  frontend/app/login/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/app/page.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  frontend/app/login/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  e2e-tests/consolidated-property-form-e2e.spec.ts
  frontend/components/property/ConsolidatedPropertyForm.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  e2e-tests/consolidated-property-form-e2e.spec.ts
  e2e-tests/property-form-evidence.png
  e2e-tests/property-form-evidence.spec.ts
  e2e-tests/wizard-step1.png
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/core/database.py
  debug_auth.py
  e2e-tests/simple-property-test.spec.ts
  simple_debug.py
Owners: @product-manager, @project-manager, @tech-lead

Fix: Update property type selector and add evidence screenshots
  EVIDENCE_SUMMARY.md
  e2e-tests/post-creation-evidence.png
  e2e-tests/post-creation-evidence.spec.ts
  e2e-tests/property-form-filled.png
  e2e-tests/property-promotion-evidence.png
  e2e-tests/simple-property-test.spec.ts
  e2e-tests/wizard-step2.png
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/repositories/user_repository.py
  backend/app/schemas/user.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/core/database.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve mock database handling and e2e tests
  backend/app/core/application.py
  backend/app/core/database.py
  backend/app/utils/database_init.py
  e2e-tests/property-form-evidence.png
  e2e-tests/property-form-evidence.spec.ts
  e2e-tests/property-form-filled.png
  e2e-tests/property-promotion-evidence.png
  e2e-tests/wizard-step1.png
  e2e-tests/wizard-step2.png
Owners: @product-manager, @project-manager, @tech-lead

feat: Implement public agent websites
  AGENT_PUBLIC_WEBSITES_PLAN.md
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/schemas/agent_public.py
  backend/app/services/agent_public_service.py
  e2e-tests/agent-public-website.spec.ts
  frontend/__tests__/pages/AgentPublicPage.test.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add AgentContactPage and PropertyDetailPage
  frontend/__tests__/pages/AgentContactPage.test.tsx
  frontend/__tests__/pages/PropertyDetailPage.test.tsx
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
Owners: @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
