Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

s
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/auth_backend.py
  backend/app/models/user.py
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

s
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/auth_backend.py
  backend/app/models/user.py
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/core/auth_backend.py
  backend/app/models/user.py
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/core/auth_backend.py
  backend/app/models/user.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Complete FastAPI Users integration with full UI testing
  backend/requirements.txt
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/login/page.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  frontend/lib/form-validation.ts
  frontend/playwright.config.ts
  frontend/run-ui-tests.sh
  frontend/screenshots/01-register-page.png
  frontend/screenshots/02-login-page.png
  frontend/screenshots/02-register-page.png
  frontend/screenshots/03-registration-form.png
  frontend/screenshots/04-agent-public-page.png
  frontend/screenshots/05-agent-properties-page.png
  frontend/screenshots/05-login-page.png
  frontend/screenshots/06-dashboard-navigation.png
  frontend/screenshots/06-login-form-filled.png
  frontend/screenshots/07-login-success.png
  frontend/screenshots/08-dashboard.png
  frontend/screenshots/09-onboarding-page.png
  frontend/screenshots/simple-01-home.png
  frontend/screenshots/simple-02-login.png
  frontend/screenshots/simple-03-login-filled.png
  frontend/screenshots/simple-04-login-success.png
  frontend/screenshots/simple-05-dashboard.png
  frontend/screenshots/simple-06-properties.png
  frontend/screenshots/simple-07-add-property.png
  frontend/screenshots/simple-08-onboarding.png
  frontend/screenshots/simple-09-agent-profile.png
  frontend/screenshots/simple-10-publishing.png
  frontend/screenshots/simple-11-agent-website.png
  frontend/tests/e2e/full-user-journey.spec.ts
  frontend/tests/e2e/perfect-run.spec.ts
  frontend/tests/e2e/simple-journey.spec.ts
  frontend/tests/full-user-journey.spec.ts
  frontend/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Complete FastAPI Users integration with full UI testing
  backend/requirements.txt
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/login/page.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  frontend/lib/form-validation.ts
  frontend/playwright.config.ts
  frontend/run-ui-tests.sh
  frontend/screenshots/01-register-page.png
  frontend/screenshots/02-login-page.png
  frontend/screenshots/02-register-page.png
  frontend/screenshots/03-registration-form.png
  frontend/screenshots/04-agent-public-page.png
  frontend/screenshots/05-agent-properties-page.png
  frontend/screenshots/05-login-page.png
  frontend/screenshots/06-dashboard-navigation.png
  frontend/screenshots/06-login-form-filled.png
  frontend/screenshots/07-login-success.png
  frontend/screenshots/08-dashboard.png
  frontend/screenshots/09-onboarding-page.png
  frontend/screenshots/simple-01-home.png
  frontend/screenshots/simple-02-login.png
  frontend/screenshots/simple-03-login-filled.png
  frontend/screenshots/simple-04-login-success.png
  frontend/screenshots/simple-05-dashboard.png
  frontend/screenshots/simple-06-properties.png
  frontend/screenshots/simple-07-add-property.png
  frontend/screenshots/simple-08-onboarding.png
  frontend/screenshots/simple-09-agent-profile.png
  frontend/screenshots/simple-10-publishing.png
  frontend/screenshots/simple-11-agent-website.png
  frontend/tests/e2e/full-user-journey.spec.ts
  frontend/tests/e2e/perfect-run.spec.ts
  frontend/tests/e2e/simple-journey.spec.ts
  frontend/tests/full-user-journey.spec.ts
  frontend/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

fix: Resolve form validation issues and enable full UI functionality
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
  frontend/screenshots/debug-01-login-page.png
  frontend/screenshots/fix-01-login-page.png
  frontend/screenshots/fix-02-after-login-submit.png
  frontend/screenshots/fix-03-registration-form.png
  frontend/screenshots/fix-04-after-registration-submit.png
  frontend/screenshots/manual-01-home-page.png
  frontend/screenshots/manual-02-login-page.png
  frontend/screenshots/workflow-01-registration-filled.png
  frontend/screenshots/workflow-02-after-registration.png
  frontend/screenshots/workflow-03-login-filled.png
  frontend/screenshots/workflow-04-after-login.png
  frontend/screenshots/workflow-05-properties-page.png
  frontend/screenshots/workflow-06-add-property-form.png
  frontend/screenshots/workflow-07-property-form-filled.png
  frontend/screenshots/workflow-09-agent-public.png
  frontend/screenshots/workflow-10-agent-properties.png
  frontend/tests/e2e/comprehensive-workflow.spec.ts
  frontend/tests/e2e/debug-login.spec.ts
  frontend/tests/e2e/functional-verification.spec.ts
  frontend/tests/e2e/manual-testing-phase1.spec.ts
  frontend/tests/e2e/simple-manual-test.spec.ts
  frontend/tests/e2e/test-form-fix.spec.ts
Owners: @frontend-team

fix: Resolve form validation issues and enable full UI functionality
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
  frontend/screenshots/debug-01-login-page.png
  frontend/screenshots/fix-01-login-page.png
  frontend/screenshots/fix-02-after-login-submit.png
  frontend/screenshots/fix-03-registration-form.png
  frontend/screenshots/fix-04-after-registration-submit.png
  frontend/screenshots/manual-01-home-page.png
  frontend/screenshots/manual-02-login-page.png
  frontend/screenshots/workflow-01-registration-filled.png
  frontend/screenshots/workflow-02-after-registration.png
  frontend/screenshots/workflow-03-login-filled.png
  frontend/screenshots/workflow-04-after-login.png
  frontend/screenshots/workflow-05-properties-page.png
  frontend/screenshots/workflow-06-add-property-form.png
  frontend/screenshots/workflow-07-property-form-filled.png
  frontend/screenshots/workflow-09-agent-public.png
  frontend/screenshots/workflow-10-agent-properties.png
  frontend/tests/e2e/comprehensive-workflow.spec.ts
  frontend/tests/e2e/debug-login.spec.ts
  frontend/tests/e2e/functional-verification.spec.ts
  frontend/tests/e2e/manual-testing-phase1.spec.ts
  frontend/tests/e2e/simple-manual-test.spec.ts
  frontend/tests/e2e/test-form-fix.spec.ts
Owners: @frontend-team

Fix: Update agent dashboard auth and pydantic versions
  AGENT_WORK_CONTINUATION_REPORT.md
  backend/app/api/v1/endpoints/agent_dashboard.py
  backend/requirements.txt
  test_comprehensive_api.py
  token.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Fix: Update agent dashboard auth and pydantic versions
  AGENT_WORK_CONTINUATION_REPORT.md
  backend/app/api/v1/endpoints/agent_dashboard.py
  backend/requirements.txt
  test_comprehensive_api.py
  token.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Add frontend-backend integration test script
  test_frontend_backend_integration.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add frontend-backend integration test script
  test_frontend_backend_integration.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add signup and login flow test script
  test_signup_login.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add signup and login flow test script
  test_signup_login.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add property creation and visibility test script
  test_property_creation_visibility.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add property creation and visibility test script
  test_property_creation_visibility.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  property_page_demo.html
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  property_page_demo.html
Owners: @product-manager, @project-manager, @tech-lead

feat: Add property page viewer HTML structure
  property_page_viewer.html
Owners: @product-manager, @project-manager, @tech-lead

feat: Add property page viewer HTML structure
  property_page_viewer.html
Owners: @product-manager, @project-manager, @tech-lead

feat: Add system verification report
  verification_report.md
Owners: @tech-writer, @product-manager

feat: Add system verification report
  verification_report.md
Owners: @tech-writer, @product-manager

feat: Add advanced features verification report and tests
  advanced_features_verification_report.md
  test_advanced_features.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Add advanced features verification report and tests
  advanced_features_verification_report.md
  test_advanced_features.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/components/Analytics.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/Analytics.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/Analytics.tsx
  frontend/components/CRM.tsx
  frontend/components/ErrorBoundary.tsx
  frontend/components/TeamManagement.tsx
  frontend/lib/api.ts
  frontend/lib/data-transformers.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/Analytics.tsx
  frontend/components/CRM.tsx
  frontend/components/ErrorBoundary.tsx
  frontend/components/TeamManagement.tsx
  frontend/lib/api.ts
  frontend/lib/data-transformers.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property-api.test.ts
  frontend/__tests__/unit/components/Analytics.test.tsx
  frontend/__tests__/unit/components/CRM.test.tsx
  frontend/__tests__/unit/lib/data-transformers.test.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/api.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property-api.test.ts
  frontend/__tests__/unit/components/Analytics.test.tsx
  frontend/__tests__/unit/components/CRM.test.tsx
  frontend/__tests__/unit/lib/data-transformers.test.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/lib/api.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/FacebookIntegration.tsx
  frontend/components/Properties.tsx
  frontend/lib/api.ts
  frontend/lib/data-transformers.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/FacebookIntegration.tsx
  frontend/components/Properties.tsx
  frontend/lib/api.ts
  frontend/lib/data-transformers.ts
Owners: @frontend-team

Refactor: Update dependencies and jest config
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Refactor: Update dependencies and jest config
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Refactor: Improve test stability and UI robustness
  frontend/__tests__/unit/components/Analytics.test.tsx
  frontend/__tests__/unit/components/CRM.test.tsx
  frontend/components/CRM.tsx
Owners: @frontend-team

Refactor: Improve test stability and UI robustness
  frontend/__tests__/unit/components/Analytics.test.tsx
  frontend/__tests__/unit/components/CRM.test.tsx
  frontend/components/CRM.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/package-lock.json
  frontend/package.json
  test_complete_user_journey.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/package-lock.json
  frontend/package.json
  test_complete_user_journey.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team
