Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

feat: Implement enhanced post management API
  backend/app/api/v1/endpoints/enhanced_post_management.py
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/core/database.py
  backend/app/models/post.py
  backend/app/services/enhanced_post_management_service.py
  backend/app/utils/database_init.py
  frontend/lib/api.ts
  frontend/store/postManagementStore.ts
  test_enhanced_api.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add E2E testing scripts and results report
  E2E_TESTING_RESULTS.md
  demo_posting_workflow.py
  e2e_posting_test.py
  simple_e2e_test.py
  simple_posting_test.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

d
  AUTHENTICATION_ONBOARDING_ANALYSIS.md
  COMPREHENSIVE_STATE_ANALYSIS.md
  ONBOARDING_FIXES_SUMMARY.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/branding.py
  backend/app/api/v1/router.py
  backend/app/core/auth_backend.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/app/routers/agents.py
  backend/app/services/ai_content_service.py
  backend/requirements.txt
  frontend/components/Onboarding.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  test_onboarding_fixes.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  backend/app/schemas/user.py
  frontend/lib/api.ts
  frontend/lib/api/migration-guide.md
  frontend/lib/api/unified-client.ts
  frontend/lib/auth/types.ts
  frontend/lib/errors/index.ts
  frontend/lib/posts/api.ts
  frontend/lib/properties/api.ts
  frontend/lib/validation/index.ts
  frontend/types/property.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team, @tech-writer

Checkpoint before follow-up message
  backend/app/schemas/user.py
  test_integration_fixes.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  comprehensive_e2e_test.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add comprehensive E2E tests and refactor test scripts
  api_only_test.py
  backend/app/core/config.py
  final_comprehensive_test.py
  package.json
  playwright_e2e_test.js
  simple_api_test.py
  test_db_connection.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add agent profile endpoint and comprehensive tests
  backend/app/api/v1/endpoints/agent_public.py
  final_comprehensive_test.py
  test-screenshots/ui_dashboard_20250917_031453.html
  test-screenshots/ui_home_20250917_031453.html
  test-screenshots/ui_login_20250917_031453.html
  working_features_test.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/agent_public.py
  backend/app/api/v1/endpoints/onboarding.py
  backend/app/schemas/agent_public.py
  frontend/app/layout.tsx
  frontend/app/posts/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/properties/page.tsx
  frontend/app/register/page.tsx
  frontend/components/Navigation.tsx
  production_ready_test.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Improve property creation and auth
  backend/app/core/auth_backend.py
  backend/app/services/unified_property_service.py
  production-screenshots/prod_dashboard_20250917_041139.html
  production-screenshots/prod_dashboard_20250917_041255.html
  production-screenshots/prod_home_20250917_041138.html
  production-screenshots/prod_home_20250917_041254.html
  production-screenshots/prod_login_20250917_041139.html
  production-screenshots/prod_login_20250917_041255.html
  production-screenshots/prod_posts_20250917_041139.html
  production-screenshots/prod_posts_20250917_041255.html
  production-screenshots/prod_profile_20250917_041140.html
  production-screenshots/prod_profile_20250917_041255.html
  production-screenshots/prod_properties_20250917_041139.html
  production-screenshots/prod_properties_20250917_041255.html
  production-screenshots/prod_register_20250917_041139.html
  production-screenshots/prod_register_20250917_041255.html
Owners: @product-manager, @project-manager, @tech-lead

Fix: Use real JWT authentication and update screenshots
  backend/app/core/auth_backend.py
  production-screenshots/prod_dashboard_20250917_042027.html
  production-screenshots/prod_home_20250917_042026.html
  production-screenshots/prod_login_20250917_042027.html
  production-screenshots/prod_posts_20250917_042027.html
  production-screenshots/prod_profile_20250917_042027.html
  production-screenshots/prod_properties_20250917_042027.html
  production-screenshots/prod_register_20250917_042027.html
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Update UI component paths and fix profile name bug
  frontend/app/page.tsx
  frontend/components/AgentProfile.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/MobileNavigation.tsx
  frontend/components/PostCard.tsx
  frontend/components/PostManagement/PostCard.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/social_publishing/AIContentPanel.tsx
  frontend/components/social_publishing/ChannelSelector.tsx
  frontend/components/social_publishing/ContentEditor.tsx
  frontend/components/social_publishing/LanguageSelector.tsx
  frontend/components/social_publishing/PublishBar.tsx
  frontend/components/social_publishing/mobile/MobilePublishingWorkflow.tsx
  frontend/tsconfig.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/lib/api/unified-client.ts
Owners: @frontend-team

Setup and review backend and frontend (#43)
  frontend/app/page.tsx
  frontend/components/AgentProfile.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/MobileNavigation.tsx
  frontend/components/PostCard.tsx
  frontend/components/PostManagement/PostCard.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/social_publishing/AIContentPanel.tsx
  frontend/components/social_publishing/ChannelSelector.tsx
  frontend/components/social_publishing/ContentEditor.tsx
  frontend/components/social_publishing/LanguageSelector.tsx
  frontend/components/social_publishing/PublishBar.tsx
  frontend/components/social_publishing/mobile/MobilePublishingWorkflow.tsx
  frontend/lib/api/unified-client.ts
  frontend/tsconfig.json
Owners: @frontend-team

Refactor: Improve auth, onboarding, and UI components
  frontend/app/dashboard/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/components/AIContentGenerator.tsx
  frontend/components/AgentProfile.tsx
  frontend/components/CRM.tsx
  frontend/components/Navigation.tsx
  frontend/components/PostCard.tsx
  frontend/components/PostManagement/PostCard.tsx
  frontend/components/UI/LoadingStates.tsx
  frontend/components/UI/MemoizedComponents.tsx
  frontend/components/UI/UnifiedPostCard.tsx
  frontend/hooks/useAsyncState.ts
  frontend/hooks/useOptimizedState.ts
  frontend/lib/auth/manager.ts
  frontend/lib/cache.ts
  frontend/lib/properties/api.ts
  frontend/lib/social_publishing/api.ts
Owners: @frontend-team

Refactor: Improve auth, onboarding, and UI components (#44)
  frontend/app/dashboard/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/components/AIContentGenerator.tsx
  frontend/components/AgentProfile.tsx
  frontend/components/CRM.tsx
  frontend/components/Navigation.tsx
  frontend/components/PostCard.tsx
  frontend/components/PostManagement/PostCard.tsx
  frontend/components/UI/LoadingStates.tsx
  frontend/components/UI/MemoizedComponents.tsx
  frontend/components/UI/UnifiedPostCard.tsx
  frontend/hooks/useAsyncState.ts
  frontend/hooks/useOptimizedState.ts
  frontend/lib/auth/manager.ts
  frontend/lib/cache.ts
  frontend/lib/properties/api.ts
  frontend/lib/social_publishing/api.ts
Owners: @frontend-team

Checkpoint before follow-up message
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve CI/CD, testing, and documentation
  .github/workflows/deploy.yml
  COMPREHENSIVE_GUIDE.md
  backend/app/core/application.py
  backend/app/core/simple_user_db.py
  backend/app/models/social_draft.py
  backend/app/models/social_post.py
  comprehensive_test.py
  deploy.sh
  docker-compose.production.yml
  docker/monitoring/prometheus.yml
  docker/nginx/nginx.conf
  frontend/components/analytics/BusinessDashboard.tsx
  qa/performance_test.py
  test_results_comprehensive.json
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Refactor: Remove redundant files and consolidate documentation
  CLEANUP_SUMMARY.md
  DEVELOPMENT_SETUP_GUIDE.md
  SETUP_GUIDES.md
  backend/Dockerfile.dev
  backend/app/api/v1/endpoints/social_publishing_new.py
  backend/app/api/v1/endpoints/social_publishing_old.py
  backend/simple_main.py
  backend/test_auth.py
  backend/test_server.py
  cleanup_plan.md
  env.production.template
  env.template
  frontend/Dockerfile.dev
  frontend/Dockerfile.frontend
  frontend/auth.py
  frontend/env.local
  frontend/lib/auth.legacy.ts
  test_results_comprehensive.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Update README and add Windows setup guide
  DOCUMENTATION_VERIFICATION.md
  README.md
  WINDOWS_SETUP.md
  test_results_comprehensive.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/enhanced_templates.py
  backend/app/services/ai_content_generation_service.py
  backend/app/services/template_service.py
  backend/app/templates/enhanced_property_templates.json
  frontend/components/analytics/AIInsightsPanel.tsx
  frontend/components/analytics/BusinessDashboard.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  comprehensive_test.py
  test_results_comprehensive.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/router.py
  test_results_tier1_backend.json
  test_results_tier1_basic.json
  tests/README.md
  tests/run_all_tests.py
  tests/tier1-backend/test_basic_api_flow.py
  tests/tier1-backend/test_complete_api_flow.py
  tests/tier2-frontend/test_component_suite.py
  tests/tier3-e2e/test_playwright_mcp_e2e.py
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Checkpoint before follow-up message
  test_results_comprehensive.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Use current_active_user and update test results
  backend/app/api/v1/endpoints/enhanced_templates.py
  test_results_comprehensive.json
Owners: @product-manager, @project-manager, @tech-lead

Fix: Adjust API request formats and data for backend tests
  test_results_tier1_backend.json
  tests/tier1-backend/test_complete_api_flow.py
Owners: @product-manager, @project-manager, @tech-lead

Fix: Update API tests and add search functionality
  backend/app/api/v1/endpoints/unified_properties.py
  test_results_tier1_backend.json
  tests/tier1-backend/test_complete_api_flow.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/LoadingSpinner.test.tsx
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/PropertyManagement.test.tsx
  frontend/__tests__/unit/components/RegisterForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  tests/tier2-frontend/test_component_suite.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  tests/TESTING_STRATEGY.md
  tests/tier2-frontend/test_component_suite.py
  tests/tier3-e2e/test_playwright_mcp_e2e.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property-api.test.ts
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/RegisterForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  frontend/components/UI/Badge.tsx
  frontend/components/UI/Card.tsx
  frontend/components/UI/Tabs.tsx
  frontend/components/analytics/AIInsightsPanel.tsx
  frontend/components/analytics/BusinessDashboard.tsx
  frontend/package-lock.json
  frontend/package.json
  test_results_tier2_frontend.json
  tests/tier2-frontend/test_component_suite.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property_api.test.ts
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  frontend/__tests__/unit/components/ai_insights_panel.test.tsx
  frontend/__tests__/unit/components/analytics.test.tsx
  frontend/__tests__/unit/components/business_dashboard.test.tsx
  frontend/__tests__/unit/components/crm.test.tsx
  frontend/__tests__/unit/components/error_boundary.test.tsx
  frontend/__tests__/unit/components/loading_spinner.test.tsx
  frontend/__tests__/unit/components/login_form.test.tsx
  frontend/__tests__/unit/components/property_management.test.tsx
  frontend/__tests__/unit/components/register_form.test.tsx
  frontend/__tests__/unit/components/social_publishing_workflow.test.tsx
  frontend/__tests__/unit/lib/data_transformers.test.ts
  frontend/e2e-results.json
  test_results_tier2_frontend.json
  tests/tier2-frontend/test_component_suite.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

feat: Add e2e results file for interrupted runs
  frontend/e2e-results.json/.last-run.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property_api.test.ts
  frontend/__tests__/unit/components/crm.test.tsx
  frontend/__tests__/unit/lib/data_transformers.test.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/integration/api/property_api.test.ts
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/LoadingSpinner.test.tsx
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/PropertyManagement.test.tsx
  frontend/__tests__/unit/components/RegisterForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  test_results_tier2_frontend.json
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

feat: Integrate Playwright MCP for E2E testing
  frontend/__tests__/unit/components/crm.test.tsx
  frontend/__tests__/unit/components/social_publishing_workflow.test.tsx
  frontend/e2e/mcp-tests/01-authentication-flow.spec.ts
  frontend/e2e/mcp-tests/02-property-management.spec.ts
  frontend/e2e/mcp-tests/03-social-publishing.spec.ts
  frontend/e2e/mcp-tests/04-analytics-dashboard.spec.ts
  frontend/e2e/mcp-tests/05-complete-user-journey.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  tests/tier3-e2e/playwright_mcp_setup.py
  tests/tier3-e2e/run_playwright_mcp_e2e.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Refactor: Update e2e-results.xml with new test structure
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e/mcp-tests/simple-natural-language.spec.ts
Owners: @frontend-team

feat: Add unit tests for frontend components
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/__tests__/unit/components/ErrorBoundary.test.tsx
  frontend/__tests__/unit/components/LoadingSpinner.test.tsx
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/PropertyManagement.test.tsx
  frontend/__tests__/unit/components/RegisterForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  test_results_tier1_backend.json
  test_results_tier2_frontend.json
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

feat: Add analytics page and update component paths
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/__tests__/unit/components/BusinessDashboard.test.tsx
  frontend/app/analytics/page.tsx
  frontend/e2e/mcp-tests/working-e2e-test.spec.ts
Owners: @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
