Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

modified: app/schemas/user.py
  app/api/v1/endpoints/auth.py
  app/main.py
  app/schemas/user.py
  app/services/auth_service.py
  app/services/user_service.py
Owners: @product-manager, @project-manager, @tech-lead

new file: app/schemas/agent.py
  api/endpoints/agents.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/facebook.py
  app/config.py
  app/core/database.py
  app/main.py
  app/routes/proxy.py
  app/schemas/agent.py
  app/services/auth_service.py
  app/services/facebook_service.py
  core/config.py
Owners: @backend-team, @product-manager, @project-manager, @tech-lead

modified: app/repositories/base.py
  app/api/v1/endpoints/facebook.py
  app/repositories/base.py
  app/routes/proxy.py
  app/schemas/agent.py
  app/services/facebook_service.py
Owners: @product-manager, @project-manager, @tech-lead

modified: app/core/database.py
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/facebook.py
  app/api/v1/router.py
  app/config.py
  app/core/database.py
  app/core/exceptions.py
  app/dependencies.py
  app/logging.py
  app/main.py
  app/repositories/base_repository.py
  app/repositories/lead_repository.py
  app/repositories/property_repository.py
  app/repositories/user_repository.py
  app/schemas/lead.py
  app/schemas/property.py
  app/schemas/user.py
  app/services/auth_service.py
  app/services/facebook_service.py
  core/config.py
  docker-compose.yml
  quick_fix.py
  start.py
  venv/Lib/site-packages/pip/_vendor/rich/logging.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

renamed: app/api/v1/endpoints/__init__.py -> app/api/v1/endpoints/__init__.py.backup
  app/api/endpoints/__init__.py
  app/api/endpoints/__init__.py.backup
  app/api/endpoints/dashboard.py
  app/api/v1/__init__.py
  app/api/v1/__init__.py.backup
  app/api/v1/endpoints/__init__.py
  app/api/v1/endpoints/__init__.py.backup
  app/api/v1/router.py
  app/config.py.backup
  app/db_integration.py.backup
  app/dependencies.py
  app/logging.py.backup
  app/repositories/base.py.backup
  app/repositories/lead_repository.py
  app/repositories/property_repository.py
  app/routes/__init__.py.backup
  app/services/__init__.py.backup
  app/services/facebook_service.py
  app/services/user_service.py.backup
  app/utils/__init__.py.backup
  app/utils/db_client.py.backup
  core/connections.py.backup
  core/dependencies.py.backup
  core/security.py.backup
  core/unified_auth.py.backup
  delete.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

modified: frontend/src/App.tsx
  app/main.py
  frontend/src/App.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat(app): mount SimpleAuth, AgentOnboarding, and AILocalization routers; add login and dashboard UI routes to restore agent flow
  app/main.py
Owners: @product-manager, @project-manager, @tech-lead

feat(onboarding): wire agent onboarding routes, DB client; add /onboarding UI; post to /agent/onboard
  app/api/endpoints/agent_onboarding.py
  app/main.py
  app/templates/onboarding.html
  app/utils/db_client.py
Owners: @product-manager, @project-manager, @tech-lead

fix(templates): robust template dir resolution; add SKIP_DB option; link login to onboarding
  app/main.py
  templates/login.html
Owners: @product-manager, @project-manager, @tech-lead

test: add unit tests for template rendering and Playwright tests for onboarding flow
  tests/e2e/onboarding_flow.py
  tests/ui/onboarding.spec.ts
  tests/unit/test_templates.py
Owners: @product-manager, @project-manager, @tech-lead

fix(templates): search both root and app templates; route onboarding via app templates; use root templates for login/dashboard
  app/main.py
Owners: @product-manager, @project-manager, @tech-lead

feat(onboarding): add branding-suggest endpoint and multi-step onboarding UI with live AI suggestions
  app/api/endpoints/agent_onboarding.py
  app/templates/onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

fix(onboarding): remove TS syntax from inline script for cross-browser compatibility
  app/templates/onboarding.html
Owners: @product-manager, @project-manager, @tech-lead

chore(static): reaffirm /static mount in app.main and push for sync
  app/main.py
Owners: @product-manager, @project-manager, @tech-lead

fix(routes): import onboarding and ai_localization routers from app.api.* to ensure inclusion across environments
  app/main.py
Owners: @product-manager, @project-manager, @tech-lead

fix(onboarding): remove stray token causing NameError in agent_onboarding endpoint import
  app/api/endpoints/agent_onboarding.py
Owners: @product-manager, @project-manager, @tech-lead

Implement World Glass Gen AI Property CRM with AI-powered onboarding
  README.md
  app/config.py
  app/dependencies.py
  app/main.py
  app/models/agent.py
  app/routes/agent_routes.py
  app/services/agent_service.py
  app/services/ai_service.py
  demo_crm.py
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/AgentOnboarding.jsx
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor agent schemas, add comprehensive onboarding flow and branding context
  app/config.py
  app/models/__init__.py
  app/models/agent.py
  app/models/property.py
  app/routes/agent_routes.py
  app/schemas/agent.py
  app/services/agent_service.py
  app/services/ai_service.py
  frontend/src/App.tsx
  frontend/src/contexts/BrandingContext.tsx
  frontend/src/pages/AgentOnboarding.tsx
  frontend/src/styles/globals.css
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Initialize PropertyAI mobile app with comprehensive setup and architecture
  MOBILE_APP_GUIDE.md
  mobile-app/App.js
  mobile-app/README.md
  mobile-app/app.config.js
  mobile-app/babel.config.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/src/components/onboarding/AISetupStep.js
  mobile-app/src/components/onboarding/BrandingStep.js
  mobile-app/src/components/onboarding/CompanyInfoStep.js
  mobile-app/src/components/onboarding/PersonalInfoStep.js
  mobile-app/src/components/onboarding/PreferencesStep.js
  mobile-app/src/components/onboarding/VerificationStep.js
  mobile-app/src/contexts/AuthContext.js
  mobile-app/src/contexts/BrandingContext.js
  mobile-app/src/navigation/MainTabNavigator.js
  mobile-app/src/screens/AIAssistantScreen.js
  mobile-app/src/screens/AgentOnboardingFlow.js
  mobile-app/src/screens/ClientsScreen.js
  mobile-app/src/screens/DashboardScreen.js
  mobile-app/src/screens/LeadsScreen.js
  mobile-app/src/screens/LoginScreen.js
  mobile-app/src/screens/OnboardingScreen.js
  mobile-app/src/screens/PropertiesScreen.js
  mobile-app/src/screens/SplashScreen.js
  mobile-app/src/services/groqService.js
  mobile-app/src/theme/theme.js
  mobile-app/start-app.sh
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Refactor frontend, add branding API, and improve app configuration
  api/endpoints/branding.py
  app/main.py
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/index.css
  frontend/src/theme.ts
  frontend/vite.config.js
Owners: @backend-team, @product-manager, @project-manager, @tech-lead, @frontend-team

Add AI-powered branding generation with color scheme support
  app/api/endpoints/agent_onboarding.py
  app/services/agent_onboarding_service.py
  app/templates/onboarding.html
  app/utils/ai.py
  static/css/style.css
  templates/dashboard.html
  templates/login.html
  venv/pyvenv.cfg
Owners: @product-manager, @project-manager, @tech-lead

Add PropertyAI mobile app with dynamic branding and AI features
  refactoring/DEPLOYMENT_CHECKLIST.md
  refactoring/MOBILE_APP_GUIDE.md
  refactoring/README.md
  refactoring/mobile-app/App.js
  refactoring/mobile-app/README.md
  refactoring/mobile-app/app.config.js
  refactoring/mobile-app/babel.config.js
  refactoring/mobile-app/package-lock.json
  refactoring/mobile-app/package.json
  refactoring/mobile-app/src/components/onboarding/AISetupStep.js
  refactoring/mobile-app/src/components/onboarding/BrandingStep.js
  refactoring/mobile-app/src/components/onboarding/CompanyInfoStep.js
  refactoring/mobile-app/src/components/onboarding/PersonalInfoStep.js
  refactoring/mobile-app/src/components/onboarding/PreferencesStep.js
  refactoring/mobile-app/src/components/onboarding/VerificationStep.js
  refactoring/mobile-app/src/contexts/AuthContext.js
  refactoring/mobile-app/src/contexts/BrandingContext.js
  refactoring/mobile-app/src/navigation/MainTabNavigator.js
  refactoring/mobile-app/src/screens/AIAssistantScreen.js
  refactoring/mobile-app/src/screens/AgentOnboardingFlow.js
  refactoring/mobile-app/src/screens/ClientsScreen.js
  refactoring/mobile-app/src/screens/DashboardScreen.js
  refactoring/mobile-app/src/screens/LeadsScreen.js
  refactoring/mobile-app/src/screens/LoginScreen.js
  refactoring/mobile-app/src/screens/OnboardingScreen.js
  refactoring/mobile-app/src/screens/PropertiesScreen.js
  refactoring/mobile-app/src/screens/SplashScreen.js
  refactoring/mobile-app/src/services/groqService.js
  refactoring/mobile-app/src/theme/theme.js
  refactoring/mobile-app/start-app.sh
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Create main FastAPI application entrypoint with dynamic router loading
  app/main.py
Owners: @product-manager, @project-manager, @tech-lead

Add AI-powered branding generation with Groq LLM integration
  app/services/agent_onboarding_service.py
  app/utils/ai.py
  models/agent.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

Implement premium mobile UX with advanced gestures and interactive components
  refactoring/MOBILE_UX_IMPLEMENTATION_SUMMARY.md
  refactoring/PREMIUM_MOBILE_UX_GUIDE.md
  refactoring/mobile-app/app.config.js
  refactoring/mobile-app/package.json
  refactoring/mobile-app/src/components/InteractiveButton.js
  refactoring/mobile-app/src/components/InteractiveCard.js
  refactoring/mobile-app/src/navigation/MainTabNavigator.js
  refactoring/mobile-app/src/screens/LoginScreen.js
  refactoring/mobile-app/src/screens/OnboardingScreen.js
  refactoring/mobile-app/src/screens/PostingScreen.js
  refactoring/mobile-app/src/utils/gestureUtils.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add comprehensive mobile UX verification and documentation for premium app
  refactoring/QUICK_VERIFICATION.md
  refactoring/VERIFICATION_GUIDE.md
Owners: @tech-writer, @product-manager

Add AI-powered branding generation with Groq LLM integration (#8)
  app/services/agent_onboarding_service.py
  app/utils/ai.py
  models/agent.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

Add AI-powered branding generation with Groq LLM integration (#8)
  app/services/agent_onboarding_service.py
  app/utils/ai.py
  models/agent.py
Owners: @product-manager, @project-manager, @tech-lead, @backend-team

Develop agent onboarding with custom branding (#6)
  api/endpoints/branding.py
  app/main.py
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/index.css
  frontend/src/theme.ts
  frontend/vite.config.js
Owners: @backend-team, @product-manager, @project-manager, @tech-lead, @frontend-team

Develop agent onboarding with custom branding (#6)
  api/endpoints/branding.py
  app/main.py
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/index.css
  frontend/src/theme.ts
  frontend/vite.config.js
Owners: @backend-team, @product-manager, @project-manager, @tech-lead, @frontend-team

Add intelligent merge conflict resolution for premium mobile CRM
  MERGE_CONFLICT_RESOLUTION.md
  MERGE_RESOLUTION_SUCCESS.md
  verify-integration.sh
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Add intelligent merge conflict resolution for premium mobile CRM
  MERGE_CONFLICT_RESOLUTION.md
  MERGE_RESOLUTION_SUCCESS.md
  verify-integration.sh
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Complete merge resolution application
  RESOLUTION_APPLIED_SUCCESS.md
Owners: @tech-writer, @product-manager

Complete merge resolution application
  RESOLUTION_APPLIED_SUCCESS.md
Owners: @tech-writer, @product-manager

Complete PR resolution documentation
  PR_RESOLUTION_COMPLETE.md
Owners: @tech-writer, @product-manager

Complete PR resolution documentation
  PR_RESOLUTION_COMPLETE.md
Owners: @tech-writer, @product-manager

Close pending PRs with comprehensive integration documentation
  CLOSE_PENDING_PRS.md
Owners: @tech-writer, @product-manager

Close pending PRs with comprehensive integration documentation
  CLOSE_PENDING_PRS.md
Owners: @tech-writer, @product-manager

Add CLOSE_PRS_SCRIPT.sh for managing and closing integrated pull requests
  CLOSE_PRS_SCRIPT.sh
Owners: @product-manager, @project-manager, @tech-lead

Add CLOSE_PRS_SCRIPT.sh for managing and closing integrated pull requests
  CLOSE_PRS_SCRIPT.sh
Owners: @product-manager, @project-manager, @tech-lead
