Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Instagram is now @avasetu_
  docs/brand/avasetu/README.md
  frontend/__tests__/posts/posts-site.test.tsx
  frontend/lib/marketing/social.ts
Owners: @tech-writer, @product-manager, @frontend-team

Site links map, header menu and footer columns, demo page CTA, QR encoder, demo slug setting
  frontend/app/page.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/components/marketing/SiteHeader.tsx
  frontend/components/marketing/siteLinks.ts
  frontend/lib/brand.ts
  frontend/lib/qr.ts
Owners: @frontend-team

/for-agents brochure page (print to A4, inline QR to the invite page) and the DEMO ribbon on demo agent pages
  frontend/app/agent/[slug]/DemoRibbon.tsx
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/app/for-agents/InviteQr.tsx
  frontend/app/for-agents/content.ts
  frontend/app/for-agents/page.tsx
  frontend/app/sitemap.ts
  frontend/lib/site/fixtures.ts
  frontend/lib/site/types.ts
Owners: @frontend-team

Demo agent: owner-only branding_data.demo flag, scripts/create_demo_agent.py (idempotent, 9 labelled sample homes), tests
  backend/app/modules/onboarding/branding.py
  backend/scripts/create_demo_agent.py
  backend/tests/modules/test_demo_agent.py
  docs/handoff/A1-brand.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Tests: /for-agents brochure, QR encoder, DEMO ribbon, header/footer links; sign in now goes to /studio
  frontend/__tests__/marketing/for-agents.test.tsx
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/legal-pages.test.tsx
  frontend/__tests__/marketing/site-nav.test.tsx
  frontend/__tests__/site/demo-ribbon.test.tsx
Owners: @frontend-team

/for-agents prints in brand colours (overrides the global print reset), print invite line, smaller DEMO ribbon, legacy nav hidden on /for-agents; sales-kit screenshots and A4 PDF
  docs/brand/avasetu/avasetu-for-agents.pdf
  docs/brand/avasetu/sales-kit/demo-agent-1280.jpg
  docs/brand/avasetu/sales-kit/demo-agent-390.jpg
  docs/brand/avasetu/sales-kit/for-agents-1280-full.jpg
  docs/brand/avasetu/sales-kit/for-agents-1280.jpg
  docs/brand/avasetu/sales-kit/for-agents-390-full.jpg
  docs/brand/avasetu/sales-kit/for-agents-390.jpg
  docs/brand/avasetu/sales-kit/landing-footer-1280.jpg
  docs/brand/avasetu/sales-kit/landing-footer-390.jpg
  docs/brand/avasetu/sales-kit/landing-menu-390.jpg
  docs/brand/avasetu/sales-kit/landing-top-1280.jpg
  docs/brand/avasetu/sales-kit/landing-top-390.jpg
  frontend/__tests__/marketing/for-agents.test.tsx
  frontend/app/agent/[slug]/DemoRibbon.tsx
  frontend/app/for-agents/page.tsx
  frontend/app/page.tsx
  frontend/components/Navigation.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

S1 handoff note
  docs/handoff/S1-sales-kit.md
Owners: @tech-writer, @product-manager

Agent hero chip shows the agent's areas, never 'Pune property'
  frontend/components/app/BrandEditor.tsx
  frontend/components/site/Hero.tsx
Owners: @frontend-team

Never cache an error render: news, posts and the /go hub retry on the next visit
  frontend/lib/interest/api.ts
  frontend/lib/news/data.ts
  frontend/lib/posts/data.ts
  frontend/lib/site/noCacheOnError.ts
Owners: @frontend-team

Chat v2 engine: inferred intent, name capture, phone ask at most twice with cooldown, matching home cards, agent alerts, page-aware greeting, language-consistent phrases
  backend/app/modules/chat/engine.py
  backend/app/modules/chat/phrases.py
  backend/app/modules/chat/router.py
  backend/app/modules/chat/service.py
  backend/app/modules/notifications/service.py
Owners: @product-manager, @project-manager, @tech-lead

Chat v2: existing chat and WhatsApp tests follow the new flow (name ask, snooze, inferred intent)
  backend/app/modules/chat/phrases.py
  backend/tests/modules/test_chat.py
  backend/tests/modules/whatsapp/test_service.py
Owners: @product-manager, @project-manager, @tech-lead

Chat v2: conversation-level tests (intent, names, number asks and cooldown, cards, alerts, greeting, WhatsApp, language); newest stated requirement wins
  backend/app/modules/chat/engine.py
  backend/tests/modules/test_chat_v2.py
Owners: @product-manager, @project-manager, @tech-lead

Chat v2: acknowledgements in the buyer's language, number never asked back to back, 'no' to 'anything else' pauses the ask, move on when the buyer answers something else
  backend/app/modules/chat/engine.py
  backend/app/modules/chat/phrases.py
  backend/tests/modules/test_chat_v2.py
Owners: @product-manager, @project-manager, @tech-lead

Chat widget shows matching homes as compact cards (Sample badge, no sample price), WhatsApp quick reply as a link only with a wa.me URL; Studio badge counts every alert kind
  frontend/__tests__/site/chat-widget.test.tsx
  frontend/app/studio/page.tsx
  frontend/components/app/LeadAlertsBadge.tsx
  frontend/components/site/ChatWidget.tsx
  frontend/lib/site/chatApi.ts
Owners: @frontend-team

Chat v2: the next question follows the home cards (follow_up), samples never titled 'for sale', compact cards and one-row quick replies; widget screenshot at 390x844; e2e follows the new flow
  backend/app/modules/chat/engine.py
  backend/app/modules/chat/phrases.py
  backend/app/modules/chat/router.py
  backend/app/modules/chat/service.py
  backend/tests/modules/test_chat_v2.py
  docs/brand/avasetu/chat-v2.jpg
  frontend/__tests__/site/chat-widget.test.tsx
  frontend/components/site/ChatWidget.tsx
  frontend/e2e/chat-journey.js
  frontend/lib/site/chatApi.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

C3 chat v2 handoff note
  docs/handoff/C3-chat-v2.md
Owners: @tech-writer, @product-manager

Official Avasetu page at /agent/avasetu (old personal-name address redirects); script to convert the owner page
  backend/app/modules/interest/router.py
  backend/scripts/make_official_page.py
  backend/scripts/post_samples.py
  frontend/app/localities/[slug]/page.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/e2e/web-audit-shots.js
  frontend/next.config.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Guide run: live e2e script for the agent guide (self signup, owner concierge, showcase) and a test-data helper that only touches the guide's test numbers
  backend/scripts/g1_testdata.py
  frontend/e2e/guide-run.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Guide run: wrong-code check, review and public-page screenshots, cleanup removes the test listings' marketing folders
  backend/scripts/g1_testdata.py
  frontend/e2e/guide-run.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Test-data helper: allow 9000000011 to 9000000019 and the Admin run's names; leave admin_settings out of the scan and only undo the pause switches test users changed; 'controls' shows them
  backend/scripts/g1_testdata.py
Owners: @product-manager, @project-manager, @tech-lead

Admin run: mask the mobile number inside the WhatsApp message in screenshots too
  frontend/e2e/admin-run.js
Owners: @frontend-team

Listing reels: commas instead of ' · ' on screen and the Listed-by/RERA closing as two lines (the visual check showed a separator starting a wrapped line)
  backend/app/modules/reels/listing_reel.py
  backend/tests/modules/reels/test_listing_reel.py
Owners: @product-manager, @project-manager, @tech-lead

R2 handoff: listing reels, limits, router and worker wiring, tests
  docs/handoff/R2-listing-reels.md
Owners: @tech-writer, @product-manager

Listing reel visual check: 6 frames of a real Hindi reel (sample 2 BHK, Kharadi, 2 showcase photos, music only)
  docs/brand/avasetu/listing-reel-check.jpg
Owners: @product-manager, @project-manager, @tech-lead

Wire listing reels: mount the agent reel routes at /listings, start the reel worker with the app, honest wait text (a few minutes)
  backend/app/api/v1/router.py
  backend/app/core/application.py
  frontend/components/app/MarketingPackView.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Jest: quality lib, photo badges and tips, Use enhanced toggle, listing photos, brand banner switch, review chip
  frontend/__tests__/app/photo-quality.test.tsx
Owners: @frontend-team

Photo quality tests (analysis, enhance similarity, smart crop, store, media choice, vision fallbacks and cache, pipeline redo-once, API scoping) and the frontend quality client
  backend/app/modules/photoquality/vision_review.py
  backend/tests/modules/photoquality/__init__.py
  backend/tests/modules/photoquality/test_analysis_enhance.py
  backend/tests/modules/photoquality/test_pipeline_and_router.py
  backend/tests/modules/photoquality/test_store_and_media.py
  backend/tests/modules/photoquality/test_vision_review.py
  frontend/lib/app/quality.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Q1 handoff: router and env wiring, deps, vision model and limits; smaller contact sheet
  backend/app/modules/photoquality/contact_sheet.py
  docs/brand/avasetu/photo-quality-check.jpg
  docs/handoff/Q1-photo-quality.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Mount the photo quality review route at /quality; reel test follows the new wait text
  backend/app/api/v1/router.py
  frontend/__tests__/app/reel-maker.test.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Reels: guess-the-price hooks and a hook that is on screen from frame one
  backend/app/modules/marketing/content.py
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/templates.py
  backend/tests/modules/reels/test_compose.py
  backend/tests/modules/test_marketing_content.py
Owners: @product-manager, @project-manager, @tech-lead

Listing reels from the first live run: a sample home closes with 'tell us what you want' (it cannot be visited), and scripts with sales words (only, just, hurry, केवल...) are rewritten
  backend/app/modules/reels/listing_reel.py
  backend/tests/modules/reels/test_listing_reel.py
Owners: @product-manager, @project-manager, @tech-lead

Listing reel caption: a sample home is not called 'for sale'
  backend/app/modules/reels/listing_reel.py
Owners: @product-manager, @project-manager, @tech-lead

Add team task list: domain, content engine, site as home, agent listing import
  docs/TASKS.md
Owners: @tech-writer, @product-manager

Ignore the root uploads/ folder: renders and the downloaded depth model never belong in git
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

MahaRERA pages still missing after the pass are asked again in 2 late rounds, 20 s apart: live, the page with the newest in-area projects failed all 3 quick tries
  backend/app/modules/newsroom/sources/maharera.py
  backend/tests/modules/newsroom/conftest.py
  backend/tests/modules/newsroom/test_project_register.py
Owners: @product-manager, @project-manager, @tech-lead

MahaRERA count page gets the late retry rounds too: live, it failed 3 quick tries and the whole read was skipped
  backend/app/modules/newsroom/sources/maharera.py
  backend/tests/modules/newsroom/test_project_register.py
Owners: @product-manager, @project-manager, @tech-lead

MahaRERA records skip the same-story check: their titles share most words, so live every in-area project after the first was dropped as a duplicate
  backend/app/modules/newsroom/pipeline.py
  backend/tests/modules/newsroom/test_project_register.py
Owners: @product-manager, @project-manager, @tech-lead

Live MahaRERA drafts: a question opening with 'Has' is not an unknown name, and 'MahaRERA' keeps its capitals in 'Source:' lines
  backend/app/modules/newsroom/presentation.py
  backend/app/modules/newsroom/stages/check.py
  backend/app/modules/newsroom/stages/draft.py
  backend/tests/modules/newsroom/test_new_projects.py
Owners: @product-manager, @project-manager, @tech-lead

Captions no longer strip a date like 2026-10-01 as a phone number (live: 'last modified on .')
  backend/app/modules/newsroom/presentation.py
  backend/tests/modules/newsroom/test_new_projects.py
Owners: @product-manager, @project-manager, @tech-lead

Pin the media record helpers before they move: which upload URLs are ours, enhanced-copy names, the URL shown for a photo and the public media list, recorded from today's code
  backend/tests/platform_layer/test_media.py
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
