Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Checkpoint before follow-up message
  frontend/__tests__/components/PropertyFormPrice.test.tsx
Owners: @frontend-team

feat: Implement image upload and fix property price
  FINAL_STATUS_REPORT.md
  PROPERTY_FUNCTIONALITY_PROOF.md
  e2e-tests/property-creation-proof.spec.ts
  test-property-api.js
  validate-functionality.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Implement property price fix and image upload
  CURRENT_STATUS_UPDATE.md
Owners: @tech-writer, @product-manager

feat: Add documentation for image proof generation
  IMAGE_PROOFS_STATUS.md
  PROOF_SUMMARY.md
Owners: @tech-writer, @product-manager

Implement property price and image upload (#28)
  CURRENT_STATUS_UPDATE.md
  FINAL_STATUS_REPORT.md
  IMAGE_PROOFS_STATUS.md
  PROOF_SUMMARY.md
  PROPERTY_FUNCTIONALITY_PROOF.md
  backend/tests/test_property_price_and_images.py
  e2e-tests/property-creation-proof.spec.ts
  e2e-tests/property-creation-with-images.spec.ts
  frontend/__tests__/components/PropertyFormPrice.test.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/validation.ts
  test-property-api.js
  validate-functionality.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Implement property price and image upload (#28)
  CURRENT_STATUS_UPDATE.md
  FINAL_STATUS_REPORT.md
  IMAGE_PROOFS_STATUS.md
  PROOF_SUMMARY.md
  PROPERTY_FUNCTIONALITY_PROOF.md
  backend/tests/test_property_price_and_images.py
  e2e-tests/property-creation-proof.spec.ts
  e2e-tests/property-creation-with-images.spec.ts
  frontend/__tests__/components/PropertyFormPrice.test.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/validation.ts
  test-property-api.js
  validate-functionality.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Update profile API calls and data handling
  frontend/components/ProfileSettings.tsx
  frontend/lib/api.ts
Owners: @frontend-team

Refactor: Update profile API calls and data handling (#29)
  frontend/components/ProfileSettings.tsx
  frontend/lib/api.ts
Owners: @frontend-team

Refactor: Update profile API calls and data handling (#29)
  frontend/components/ProfileSettings.tsx
  frontend/lib/api.ts
Owners: @frontend-team

Fix image upload FormData Content-Type issue - prevent 422 error
  frontend/lib/api.ts
Owners: @frontend-team

Fix image upload FormData Content-Type issue - prevent 422 error
  frontend/lib/api.ts
Owners: @frontend-team

d
  backend/uploads/images/4bf0de73-7aea-4467-9bec-9e075f3afd98.jpg
  backend/uploads/images/5405e311-7106-423d-ac78-8ae41cd18769.png
  backend/uploads/images/743fa9dd-ead0-42f9-b7c4-fc916e25ea22.png
  backend/uploads/images/745e0a7c-aa84-4794-8edb-a93457a6e6eb.png
  backend/uploads/images/thumb_4bf0de73-7aea-4467-9bec-9e075f3afd98.jpg
  backend/uploads/images/thumb_5405e311-7106-423d-ac78-8ae41cd18769.png
  backend/uploads/images/thumb_743fa9dd-ead0-42f9-b7c4-fc916e25ea22.png
  backend/uploads/images/thumb_745e0a7c-aa84-4794-8edb-a93457a6e6eb.png
  backend/uploads/images/thumb_84bc8f5d-1215-4a56-92d7-fb4d6268c140.jpg
  frontend/components/ProfileSettings.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/uploads/images/4bf0de73-7aea-4467-9bec-9e075f3afd98.jpg
  backend/uploads/images/5405e311-7106-423d-ac78-8ae41cd18769.png
  backend/uploads/images/743fa9dd-ead0-42f9-b7c4-fc916e25ea22.png
  backend/uploads/images/745e0a7c-aa84-4794-8edb-a93457a6e6eb.png
  backend/uploads/images/thumb_4bf0de73-7aea-4467-9bec-9e075f3afd98.jpg
  backend/uploads/images/thumb_5405e311-7106-423d-ac78-8ae41cd18769.png
  backend/uploads/images/thumb_743fa9dd-ead0-42f9-b7c4-fc916e25ea22.png
  backend/uploads/images/thumb_745e0a7c-aa84-4794-8edb-a93457a6e6eb.png
  backend/uploads/images/thumb_84bc8f5d-1215-4a56-92d7-fb4d6268c140.jpg
  frontend/components/ProfileSettings.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/api/v1/endpoints/user_profile.py
  backend/app/core/routes.py
  backend/app/logging_config.py
  backend/app/services/agent_public_service.py
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/api/v1/endpoints/user_profile.py
  backend/app/core/routes.py
  backend/app/logging_config.py
  backend/app/services/agent_public_service.py
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  frontend/components/PublicWebsiteManagement.tsx
Owners: @frontend-team

d
  frontend/components/PublicWebsiteManagement.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  PUBLIC_WEBSITE_FUNCTIONALITY.md
  backend/app/core/config.py
  backend/app/services/agent_public_service.py
  test_public_website.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  test_complete_user_flow.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Implement public website functionality and fix price issue
  FINAL_STATUS_REPORT.md
Owners: @tech-writer, @product-manager

feat: Add user flow test script and results
  COMPLETE_FLOW_RESULTS.md
  detailed_flow_test.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Refactor dashboard stats and add real flow test
  ISSUE_ANALYSIS.md
  backend/app/core/routes.py
  real_flow_test.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Implement agent profile creation and public access
  FINAL_INTEGRATION_TEST.md
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/core/database.py
  backend/app/core/routes.py
  backend/app/schemas/agent_public.py
  backend/app/services/agent_public_service.py
  test_agent_profile.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Add complete flow test with MongoDB integration
  complete_flow_test.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Implement agent profile creation and property linkage
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/schemas/agent_public.py
  backend/app/services/agent_public_service.py
  check_property_linkage.py
  create_agent_profile.py
  simple_test.py
  test_property_agent_link.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add test for Facebook post and promote
  test_facebook_post_promote.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/router.py
  test_multilanguage_posts.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  MODERN_PUBLISHING_WORKFLOW.md
  backend/app/api/v1/endpoints/property_publishing.py
  backend/app/api/v1/router.py
  backend/app/schemas/agent_language_preferences.py
  backend/app/schemas/unified_property.py
  backend/app/services/agent_language_service.py
  backend/app/services/property_publishing_service.py
  test_modern_publishing_workflow.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/schemas/agent_language_preferences.py
  backend/app/services/agent_public_service.py
  backend/app/services/unified_property_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  test_publishing_basic.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Implement modern property publishing workflow
  FINAL_PUBLISHING_WORKFLOW_DEMO.py
  MODERN_PUBLISHING_WORKFLOW_COMPLETE.md
  backend/app/api/v1/endpoints/property_publishing.py
  backend/app/api/v1/router.py
  backend/app/services/property_publishing_service.py
  test_complete_publishing_workflow.py
  test_router_debug.py
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

feat: Add agent profile persistence and debug scripts
  DEBUG_PROPERTY_WEBSITE.py
  FINAL_EVIDENCE_TEST.py
  PROPERTY_WEBSITE_EVIDENCE.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  DATABASE_QUERY_TEST.py
  DIRECT_DATABASE_TEST.py
  DIRECT_DB_TEST.py
  FINAL_FIXED_EVIDENCE.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  TEST_DATABASE_STORAGE.py
  TEST_DIRECT_DB_QUERY.py
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add Property Management and Publishing Workflow
  UI_TEST.md
  frontend/app/page.tsx
  frontend/components/ModernPublishingWorkflow.tsx
  frontend/components/PropertyManagement.tsx
  frontend/lib/api.ts
Owners: @tech-writer, @product-manager, @frontend-team

Refactor: Update property types and API calls
  UI_VERIFICATION_REPORT.md
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/app/demo/genai-form/page.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/components/GenAIPropertyForm.tsx
  frontend/components/ModernPublishingWorkflow.tsx
  frontend/components/Onboarding.tsx
  frontend/components/Properties.tsx
  frontend/components/PropertyManagement.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/UserFeedbackModal.tsx
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/lib/auth.ts
  frontend/types/PropertyFormTypes.ts
  frontend/types/property.ts
  frontend/utils/analytics.ts
  frontend/utils/userTesting.ts
Owners: @tech-writer, @product-manager, @frontend-team

feat: Add UI verification scripts and report
  COMPLETE_UI_VERIFICATION.py
  SIMPLE_UI_VERIFICATION.py
  UI_VERIFICATION_COMPLETE.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

feat: Add Playwright tests and reports
  PLAYWRIGHT_TEST_REPORT.md
  TESTING_SUMMARY.md
  api-mock-01-initial.png
  comprehensive-functionality-tests.spec.ts
  demo-01-initial-page.png
  demo-02-step1-filled.png
  demo-03-step2-filled.png
  demo-functionality-test.spec.ts
  demo-reports/demo-report-1757437329111.json
  demo-reports/demo-report-1757437329123.html
  demo-responsive-01-desktop.png
  demo-responsive-02-tablet.png
  demo-responsive-03-mobile.png
  demo-validation-01-initial.png
  demo-validation-02-errors.png
  playwright-test-runner.js
  playwright.config.js
  responsive-01-desktop.png
  responsive-02-tablet.png
  responsive-03-mobile.png
  run-demo-tests.js
  simple-demo-01-initial.png
  simple-demo-02-form-filled.png
  simple-demo-03-form-submitted.png
  simple-demo-04-property-display.png
  simple-demo-test.spec.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Fix: Improve test stability and API mocking
  ISSUES_FIXED_SUMMARY.md
  final-01-initial.png
  final-02-form-filled.png
  final-03-form-submitted.png
  final-04-property-display.png
  final-05-form-cleared.png
  final-price-01-initial.png
  final-price-02-valid.png
  final-price-03-too-low.png
  final-price-04-negative.png
  final-price-05-empty.png
  final-responsive-01-desktop.png
  final-responsive-02-tablet.png
  final-responsive-03-mobile.png
  final-working-tests.spec.ts
  fixed-demo-01-initial.png
  fixed-demo-02-step1-filled.png
  fixed-demo-03-step2-filled.png
  fixed-demo-test.spec.ts
  fixed-validation-01-initial.png
  simple-demo-test.spec.ts
  working-01-initial.png
  working-02-form-filled.png
  working-03-form-submitted.png
  working-04-property-display.png
  working-api-01-initial.png
  working-api-02-response.png
  working-responsive-01-desktop.png
  working-responsive-02-tablet.png
  working-responsive-03-mobile.png
  working-tests.spec.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
