Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

feat: Implement advanced CRM features and UI components
  backend/app/api/v1/router.py
  backend/app/routers/advanced_crm.py
  backend/app/schemas/analytics.py
  backend/app/schemas/lead.py
  backend/app/schemas/team.py
  backend/app/services/analytics_service.py
  backend/app/services/lead_management_service.py
  backend/app/services/team_management_service.py
  frontend/app/page.tsx
  frontend/components/Analytics.tsx
  frontend/components/CRM.tsx
  frontend/components/TeamManagement.tsx
  frontend/lib/crm-api.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Update design system and component styles
  frontend/app/globals.css
  frontend/components/Analytics.tsx
  frontend/components/CRM.tsx
  frontend/components/TeamManagement.tsx
  frontend/styles/components/analytics.css
  frontend/styles/components/crm.css
  frontend/styles/components/team-management.css
  frontend/styles/design-system.css
Owners: @frontend-team

feat: Add testing guidelines and component tests
  frontend/__tests__/TESTING_GUIDELINES.md
  frontend/__tests__/components/Analytics.api.test.tsx
  frontend/__tests__/components/CRM.api.test.tsx
  frontend/__tests__/components/TeamManagement.test.tsx
  frontend/jest.config.js
Owners: @tech-writer, @product-manager, @frontend-team

feat: Add comprehensive Playwright E2E testing suite
  .github/workflows/e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/cross-browser.spec.ts
  frontend/e2e/css-visual-tests.spec.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/responsive-design.spec.ts
  frontend/e2e/test-data-attributes.md
  frontend/e2e/visual-regression.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Checkpoint before follow-up message
  frontend/hooks/useAuth.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Add comprehensive tests for components and utilities
  frontend/__tests__/components/ApiTest.test.tsx
  frontend/__tests__/components/FormTest.test.tsx
  frontend/__tests__/components/MinimalTest.test.tsx
  frontend/__tests__/components/MotionTest.test.tsx
  frontend/__tests__/components/SimpleSmartForm.test.tsx
  frontend/__tests__/components/ValidationTest.test.tsx
  frontend/debug-test.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Fix: Skip failing tests and adjust Jest config
  frontend/__tests__/components/DashboardStats.test.tsx
  frontend/__tests__/components/PropertyFormPrice.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/components/Analytics.tsx
  frontend/components/CRM.tsx
  frontend/components/TeamManagement.tsx
  frontend/jest.config.js
Owners: @frontend-team

test: Add tests for SmartPropertyForm component
  frontend/__tests__/components/SmartPropertyFormDebug.test.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/globals.css
  frontend/e2e/basic-visual.spec.ts
  frontend/e2e/global-setup.ts
Owners: @frontend-team

feat: Add visual regression tests for dashboard
  frontend/e2e/basic-visual.spec.ts-snapshots/dark-mode-dashboard-Mobile-Chrome-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/dark-mode-dashboard-chromium-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/dark-mode-dashboard-firefox-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/desktop-layout-Mobile-Chrome-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/desktop-layout-chromium-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/desktop-layout-firefox-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/mobile-layout-Mobile-Chrome-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/mobile-layout-chromium-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/mobile-layout-firefox-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/tablet-layout-Mobile-Chrome-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/tablet-layout-chromium-linux.png
  frontend/e2e/basic-visual.spec.ts-snapshots/tablet-layout-firefox-linux.png
  frontend/playwright.config.ts
Owners: @frontend-team

d
  SCRIPT_GUIDE.md
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/core/application.py
  backend/app/routers/advanced_crm.py
  backend/app/services/agent_public_service.py
  backend/app/services/analytics_service.py
  backend/app/utils/__init__.py
  backend/start_backend.bat
  backend/start_backend.ps1
  backend/uploads/images/3f7c515d-0a3d-4864-8735-131408c5ded1.png
  backend/uploads/images/thumb_3f7c515d-0a3d-4864-8735-131408c5ded1.png
  frontend/app/dashboard/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/components/Onboarding.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
  frontend/start_frontend.ps1
  start-local.ps1
  start_app.sh
  startup-fixed.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

d
  SCRIPT_GUIDE.md
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/core/application.py
  backend/app/routers/advanced_crm.py
  backend/app/services/agent_public_service.py
  backend/app/services/analytics_service.py
  backend/app/utils/__init__.py
  backend/start_backend.bat
  backend/start_backend.ps1
  backend/uploads/images/3f7c515d-0a3d-4864-8735-131408c5ded1.png
  backend/uploads/images/thumb_3f7c515d-0a3d-4864-8735-131408c5ded1.png
  frontend/app/dashboard/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/components/Onboarding.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
  frontend/start_frontend.ps1
  start-local.ps1
  start_app.sh
  startup-fixed.ps1
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Simplify form field value and checked logic
  frontend/components/PublicWebsiteManagement.tsx
Owners: @frontend-team

Refactor: Enhance project structure and configuration
  IMPROVEMENTS_SUMMARY.md
  backend/Dockerfile.dev
  backend/app/core/config.py
  backend/app/core/monitoring.py
  backend/app/core/security.py
  basic_test_results.json
  docker-compose.dev.yml
  docker-compose.yml
  docker/mongo-init-dev.js
  docker/mongo-init.js
  docker/nginx.conf
  env.template
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/components/Analytics.tsx
  frontend/env.template
  setup.sh
  test_basic_functionality.py
  test_functionality.py
  test_results.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add architectural review document
  ARCHITECTURAL_REVIEW.md
Owners: @tech-writer, @product-manager

feat: Add UX review document for real estate platform
  UX_REVIEW.md
Owners: @tech-writer, @product-manager

feat: Add comprehensive E2E testing suite
  COMPREHENSIVE_E2E_TEST_REPORT.md
  backend/app/core/config.py
  backend/app/services/analytics_service.py
  comprehensive_e2e_test.py
  e2e_test_results_20250913_053452.json
  simplified_e2e_test.py
  simplified_e2e_test_results_20250913_053821.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/routers/advanced_crm.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve startup script with better error handling
  start_app_improved.sh
Owners: @product-manager, @project-manager, @tech-lead

feat: Add simplified end-to-end test results
  simplified_e2e_test_results_20250913_071017.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve mock database and disable password checks
  backend/app/core/database.py
  backend/app/repositories/user_repository.py
  backend/app/services/auth_service.py
  backend/app/utils/validation.py
  e2e_test_results_20250913_071105.json
  e2e_test_results_20250913_071237.json
  e2e_test_results_20250913_071749.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Use jwt settings for auth service
  backend/app/services/auth_service.py
  e2e_test_results_20250913_072343.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor E2E tests to use updated API endpoints
  comprehensive_e2e_test.py
  e2e_test_results_20250913_074058.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor JWT and user retrieval, add AI test setup
  backend/app/repositories/user_repository.py
  backend/app/utils/__init__.py
  comprehensive_e2e_test.py
  e2e_test_results_20250913_074708.json
  login_response.json
  token.txt
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/facebook.py
  backend/app/models/user.py
  backend/app/repositories/user_repository.py
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/core/auth_backend.py
  backend/app/core/database.py
  backend/app/core/mock_user_db.py
  backend/app/core/user_db.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/core/auth_backend.py
  backend/app/core/database.py
  backend/app/core/user_db.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Update FastAPI Users to 14.0.1 and add PasswordHelper
  backend/app/core/auth_backend.py
  backend/app/models/user.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add FastAPI Users authentication tests
  backend/test_auth.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/auth.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/auth.py
  backend/app/models/user.py
  frontend/lib/api.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Update UserManager to use PydanticObjectId for user IDs
  backend/app/core/auth_backend.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add user journey test script and report
  USER_JOURNEY_TEST_REPORT.md
  test_results.json
  test_user_journey.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  backend/app/api/v1/endpoints/facebook.py
  backend/app/api/v1/endpoints/listing_posts.py
  backend/app/api/v1/endpoints/mock_facebook.py
  backend/app/schemas/unified_property.py
  backend/app/services/unified_property_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Move auth dependencies and simplify user db
  backend/app/api/v1/endpoints/facebook.py
  backend/app/api/v1/endpoints/leads.py
  backend/app/api/v1/endpoints/mock_facebook.py
  backend/app/api/v1/endpoints/uploads.py
  backend/app/core/auth_backend.py
  backend/app/core/fastapi_users_deps.py
  backend/app/core/mock_user_db.py
  backend/app/core/monitoring.py
  backend/app/core/security.py
  backend/app/core/simple_user_db.py
  backend/app/core/user_db.py
  backend/app/repositories/user_repository.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor property publishing and agent onboarding services
  backend/app/api/v1/endpoints/agent_onboarding.py
  backend/app/api/v1/endpoints/property_publishing.py
  backend/app/core/simple_user_db.py
  backend/app/schemas/agent_language_preferences.py
  backend/app/services/agent_onboarding_service.py
  backend/app/services/agent_profile_service.py
  backend/app/services/property_publishing_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/playwright.config.ts
  frontend/screenshots/01-register-page.png
  frontend/tests/full-user-journey.spec.ts
Owners: @frontend-team

Refactor: Update playwright config and add screenshot reports
  frontend/final-screenshot-report.md
  frontend/playwright.config.ts
  frontend/screenshot-summary.md
  frontend/screenshots/01-home-page.png
  frontend/screenshots/02-register-page.png
  frontend/screenshots/05-login-page.png
  frontend/screenshots/06-login-form-filled.png
  frontend/screenshots/07-login-success.png
  frontend/screenshots/08-dashboard.png
  frontend/screenshots/09-onboarding-page.png
  frontend/screenshots/simple-01-home.png
  frontend/screenshots/simple-02-login.png
  frontend/screenshots/simple-03-login-filled.png
  frontend/screenshots/simple-04-login-success.png
  frontend/screenshots/simple-05-dashboard.png
  frontend/screenshots/simple-06-properties.png
  frontend/screenshots/simple-07-add-property.png
  frontend/screenshots/simple-08-onboarding.png
  frontend/screenshots/simple-09-agent-profile.png
  frontend/screenshots/simple-10-publishing.png
  frontend/screenshots/simple-11-agent-website.png
  frontend/tests/e2e/full-user-journey.spec.ts
  frontend/tests/e2e/simple-journey.spec.ts
Owners: @tech-writer, @product-manager, @frontend-team

d
  backend/app/api/v1/endpoints/agent_dashboard.py
  backend/app/api/v1/endpoints/agent_public.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/demo.py
  backend/app/api/v1/endpoints/facebook_mock.py
  backend/app/api/v1/router.py
  backend/app/core/auth_backend.py
  backend/app/core/simple_user_db.py
  frontend/app/login/page.tsx
  frontend/components/FacebookIntegration.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
  frontend/lib/api.ts
  frontend/styles/design-system.css
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/agent_dashboard.py
  backend/app/api/v1/endpoints/agent_public.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/demo.py
  backend/app/api/v1/endpoints/facebook_mock.py
  backend/app/api/v1/router.py
  backend/app/core/auth_backend.py
  backend/app/core/simple_user_db.py
  frontend/app/login/page.tsx
  frontend/components/FacebookIntegration.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
  frontend/lib/api.ts
  frontend/styles/design-system.css
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
