Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

Fix: Resolve ProfileSettings infinite loop and add tests
  TESTING_REPORT.md
  test-infinite-loop-fix.js
  test-original-bug.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Clean up: Remove temporary test files
  test-infinite-loop-fix.js
  test-original-bug.js
Owners: @product-manager, @project-manager, @tech-lead

Clean up: Remove temporary test files
  test-infinite-loop-fix.js
  test-original-bug.js
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/api/v1/endpoints/onboarding.py
  backend/app/api/v1/endpoints/user_profile.py
  backend/app/api/v1/router.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/routers/agent_public.py
  backend/app/routers/agents.py
  backend/app/services/onboarding_service.py
  env.template
  frontend/app/login/page.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/onboarding.py
  backend/app/api/v1/endpoints/user_profile.py
  backend/app/api/v1/router.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/routers/agent_public.py
  backend/app/routers/agents.py
  backend/app/services/onboarding_service.py
  env.template
  frontend/app/login/page.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  test_mongodb.py
Owners: @product-manager, @project-manager, @tech-lead

Remove test_mongodb.py
  test_mongodb.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Use local fetch for public profile and mock stats
  frontend/components/PublicWebsiteManagement.tsx
Owners: @frontend-team

Fix: Update API endpoints and data mapping for public profile
  ARCHITECTURE_REVIEW.md
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
Owners: @tech-writer, @product-manager, @frontend-team

d
  backend/app/api/v1/endpoints/agent_public.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/api/v1/endpoints/agent_public.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add multi-post management system documentation
  APPROVAL_PACKAGE.md
  ARCHITECTURE_REVIEW.md
  ARCHITECT_APPROVAL_CHECKLIST.md
  ARCHITECT_SUMMARY.md
  TECHNICAL_IMPLEMENTATION_PLAN.md
Owners: @tech-writer, @product-manager

feat: Add project setup and task assignment documentation
  DEVELOPER_TASK_ASSIGNMENTS.md
  DEVELOPMENT_SETUP_GUIDE.md
  TEAM_ASSIGNMENT_STRATEGY.md
Owners: @tech-writer, @product-manager

Check for dummy data in project (#40)
  APPROVAL_PACKAGE.md
  ARCHITECTURE_REVIEW.md
  ARCHITECT_APPROVAL_CHECKLIST.md
  ARCHITECT_SUMMARY.md
  DEVELOPER_TASK_ASSIGNMENTS.md
  DEVELOPMENT_SETUP_GUIDE.md
  TEAM_ASSIGNMENT_STRATEGY.md
  TECHNICAL_IMPLEMENTATION_PLAN.md
Owners: @tech-writer, @product-manager

feat: Sprint 1 - Multi-Post Management System Implementation
  1
  SPRINT_COORDINATION.md
  backend/app/api/v1/endpoints/posts.py
  backend/app/api/v1/endpoints/templates.py
  backend/app/api/v1/router.py
  backend/app/schemas/post_schemas.py
  backend/app/services/ai_content_service.py
  backend/app/services/post_management_service.py
  backend/app/services/template_service.py
  e -Include .py,.tsx,.ts  Measure-Object  Select-Object Count
  frontend/components/PostManagement/PostActionsMenu.tsx
  frontend/components/PostManagement/PostCard.tsx
  frontend/components/PostManagement/PostCreationWizard.tsx
  frontend/components/PostManagement/PostEditor.tsx
  frontend/components/PostManagement/PostFiltersPanel.tsx
  frontend/components/PostManagement/PostManagementDashboard.tsx
  frontend/components/PostManagement/PostStatsPanel.tsx
  frontend/components/Properties.tsx
  frontend/components/UI/ChannelBadge.tsx
  frontend/components/UI/StatusBadge.tsx
  frontend/lib/api.ts
  frontend/store/postManagementStore.ts
  frontend/types/post.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

d
  SPRINT1_DOCUMENTATION.md
Owners: @tech-writer, @product-manager

feat: Add daily scrum and sprint planning templates
  DAILY_SCRUM_TEMPLATE.md
  SPRINT_COORDINATION_PLAN.md
  SPRINT_IMPLEMENTATION_SUMMARY.md
  TECHNICAL_IMPLEMENTATION_STRATEGY.md
Owners: @tech-writer, @product-manager

Checkpoint before follow-up message
  backend/app/api/base_api_router.py
  backend/app/services/base_service.py
  backend/app/services/facebook_service.py
  backend/app/services/instagram_service.py
  backend/app/services/linkedin_service.py
  backend/app/services/multi_channel_publishing_service.py
  backend/app/services/post_management_service.py
  backend/app/services/twitter_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve analytics and post management services
  SPRINT_PROGRESS_REPORT_DAY2.md
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/post_management.py
  backend/app/services/analytics_service.py
  backend/tests/run_tests.py
  backend/tests/test_analytics_service.py
  backend/tests/test_post_management_api.py
  backend/tests/test_post_management_service.py
  frontend/components/AIContentGenerator.tsx
  frontend/components/AnalyticsDashboard.tsx
  frontend/components/PostManagementDashboard.tsx
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add deployment guide and core services
  backend/app/core/code_review.py
  backend/app/core/performance_monitoring.py
  backend/app/core/performance_optimization.py
  backend/app/core/security.py
  backend/tests/test_integration.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add code analysis and realistic sprint assessment
  EXPERT_CODE_ANALYSIS.md
  REALISTIC_SPRINT_ASSESSMENT.md
Owners: @tech-writer, @product-manager

feat: Add comprehensive architecture analysis and deprecation plan
  ARCHITECTURE_ANALYSIS_AND_DIAGRAM.md
  COMPONENT_DEPRECATION_PLAN.md
  SYSTEM_ARCHITECTURE_DIAGRAM.md
Owners: @tech-writer, @product-manager

feat: Add CREW_LEAD_REVIEW and SYSTEMATIC_IMPLEMENTATION_PLAN documents
  CREW_LEAD_REVIEW.md
  SYSTEMATIC_IMPLEMENTATION_PLAN.md
Owners: @tech-writer, @product-manager

Checkpoint before follow-up message
  UX_IMPROVEMENTS_PLAN.md
  frontend/components/UX/BreadcrumbNavigation.tsx
  frontend/components/UX/QuickActionsPanel.tsx
  frontend/components/UX/SmartSearch.tsx
Owners: @tech-writer, @product-manager, @frontend-team

feat: Add parallel development plan and scripts
  IMMEDIATE_EXECUTION_SUMMARY.md
  PARALLEL_DEVELOPMENT_PLAN.md
  QUICK_START_SCRIPT.sh
  TEAM_START_COMMANDS.md
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Refactor: Update imports and dependencies, fix Pydantic regex
  DEVELOPMENT_STATUS_REPORT.md
  backend/app/api/v1/endpoints/posts.py
  backend/app/api/v1/endpoints/templates.py
  backend/app/schemas/post_schemas.py
  backend/app/services/analytics_service.py
  backend/app/services/facebook_service.py
  backend/app/services/template_service.py
  backend/app/services/unified_property_service.py
  backend/requirements.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/components/AIContentGenerator.tsx
  frontend/components/PostManagement/PostManagementDashboard.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
  frontend/types/post.ts
  frontend/types/property.ts
Owners: @frontend-team

feat: Add unpublish API and refactor auth token handling
  frontend/lib/api.ts
  frontend/lib/auth.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e/tests/01-auth.spec.ts
  frontend/e2e/tests/02-onboarding.spec.ts
  frontend/e2e/tests/03-property-management.spec.ts
  frontend/e2e/tests/04-post-management.spec.ts
  frontend/e2e/tests/05-agent-website.spec.ts
  frontend/e2e/tests/06-analytics-dashboard.spec.ts
  frontend/e2e/tests/07-crm-system.spec.ts
  frontend/e2e/tests/08-team-management.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Owners: @frontend-team

feat: Add Playwright e2e test results
  frontend/e2e-results.json
  frontend/e2e-results.xml
  frontend/e2e/README.md
  frontend/e2e/package.json
  frontend/e2e/tests/00-integration.spec.ts
  frontend/e2e/tests/09-ai-content-generation.spec.ts
  frontend/e2e/tests/10-multi-channel-publishing.spec.ts
Owners: @frontend-team, @tech-writer, @product-manager

feat: Add secure configuration files with environment variables
  DEPLOYMENT_GUIDE.md
  backend/app/core/config.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/screenshots/agent-website/04-agent-public-page.png
  frontend/screenshots/agent-website/05-agent-properties-page.png
  frontend/screenshots/login-registration/01-home-page.png
  frontend/screenshots/login-registration/02-login-page.png
  frontend/screenshots/login-registration/03-registration-form.png
  frontend/screenshots/login-registration/workflow-01-registration-filled.png
  frontend/screenshots/login-registration/workflow-02-after-registration.png
  frontend/screenshots/login-registration/workflow-03-login-filled.png
  frontend/screenshots/login-registration/workflow-04-after-login.png
  frontend/screenshots/property-management/workflow-05-properties-page.png
  frontend/screenshots/property-management/workflow-06-add-property-form.png
  frontend/screenshots/property-management/workflow-07-property-form-filled.png
Owners: @frontend-team

feat: Add comprehensive screenshot structure for all features
  frontend/screenshots/analytics-dashboard/01-analytics-overview.png
  frontend/screenshots/analytics-dashboard/02-post-performance.png
  frontend/screenshots/analytics-dashboard/03-channel-breakdown.png
  frontend/screenshots/analytics-dashboard/04-real-time-metrics.png
  frontend/screenshots/onboarding/01-welcome-screen.png
  frontend/screenshots/onboarding/02-profile-setup.png
  frontend/screenshots/onboarding/03-ai-branding.png
  frontend/screenshots/onboarding/04-preferences.png
  frontend/screenshots/onboarding/05-completion.png
  frontend/screenshots/posting-workflow/01-post-dashboard.png
  frontend/screenshots/posting-workflow/02-create-post-button.png
  frontend/screenshots/posting-workflow/03-property-selection.png
  frontend/screenshots/posting-workflow/04-template-selection.png
  frontend/screenshots/posting-workflow/05-ai-content-generation.png
  frontend/screenshots/posting-workflow/06-content-review.png
  frontend/screenshots/posting-workflow/07-publishing-options.png
  frontend/screenshots/posting-workflow/08-multi-channel-selection.png
  frontend/screenshots/posting-workflow/09-scheduling-options.png
  frontend/screenshots/posting-workflow/10-post-created.png
  frontend/screenshots/settings/01-general-settings.png
  frontend/screenshots/settings/02-account-settings.png
  frontend/screenshots/settings/03-notifications.png
  frontend/screenshots/settings/04-integrations.png
  frontend/screenshots/team-management/01-team-overview.png
  frontend/screenshots/team-management/02-add-member.png
  frontend/screenshots/team-management/03-permissions.png
  frontend/screenshots/team-management/04-roles.png
Owners: @frontend-team

fix: Replace empty screenshot placeholders with actual content
  frontend/screenshots/analytics-dashboard/01-analytics-overview.png
  frontend/screenshots/analytics-dashboard/02-post-performance.png
  frontend/screenshots/analytics-dashboard/03-channel-breakdown.png
  frontend/screenshots/analytics-dashboard/04-real-time-metrics.png
  frontend/screenshots/onboarding/01-welcome-screen.png
  frontend/screenshots/onboarding/02-profile-setup.png
  frontend/screenshots/onboarding/03-ai-branding.png
  frontend/screenshots/onboarding/04-preferences.png
  frontend/screenshots/onboarding/05-completion.png
  frontend/screenshots/posting-workflow/01-post-dashboard.png
  frontend/screenshots/posting-workflow/02-create-post-button.png
  frontend/screenshots/posting-workflow/03-property-selection.png
  frontend/screenshots/posting-workflow/04-template-selection.png
  frontend/screenshots/posting-workflow/05-ai-content-generation.png
  frontend/screenshots/posting-workflow/06-content-review.png
  frontend/screenshots/posting-workflow/07-publishing-options.png
  frontend/screenshots/posting-workflow/08-multi-channel-selection.png
  frontend/screenshots/posting-workflow/09-scheduling-options.png
  frontend/screenshots/posting-workflow/10-post-created.png
  frontend/screenshots/settings/01-general-settings.png
  frontend/screenshots/settings/02-account-settings.png
  frontend/screenshots/settings/03-notifications.png
  frontend/screenshots/settings/04-integrations.png
  frontend/screenshots/team-management/01-team-overview.png
  frontend/screenshots/team-management/02-add-member.png
  frontend/screenshots/team-management/03-permissions.png
  frontend/screenshots/team-management/04-roles.png
Owners: @frontend-team

feat: Create proper posting workflow screenshots with documentation
  frontend/screenshots/posting-workflow/01-post-dashboard.png
  frontend/screenshots/posting-workflow/02-create-post-wizard.png
  frontend/screenshots/posting-workflow/03-property-selection-step.png
  frontend/screenshots/posting-workflow/03-property-selection.png
  frontend/screenshots/posting-workflow/05-ai-content-generation.png
  frontend/screenshots/posting-workflow/07-publishing-options.png
  frontend/screenshots/posting-workflow/09-scheduling-options.png
  frontend/screenshots/posting-workflow/10-post-published.png
  frontend/screenshots/posting-workflow/README.md
Owners: @frontend-team, @tech-writer, @product-manager

Checkpoint before follow-up message
  backend/app/core/auth_backend.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Implement working posting workflow with real screenshots
  frontend/app/test/page.tsx
  frontend/capture-screenshots.js
  frontend/e2e-results.json
  frontend/e2e-results.xml
  frontend/screenshots/posting-workflow/01-select-property.png
  frontend/screenshots/posting-workflow/02-generate-content.png
  frontend/screenshots/posting-workflow/03-choose-channels.png
  frontend/screenshots/posting-workflow/04-schedule-post.png
  frontend/screenshots/posting-workflow/05-review-publish.png
  frontend/screenshots/posting-workflow/06-mobile-view.png
  frontend/screenshots/posting-workflow/README.md
Owners: @frontend-team, @tech-writer, @product-manager

fix: Resolve authentication system issues
  frontend/app/bypass-auth/page.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
Owners: @frontend-team

Checkpoint before follow-up message
  backend/requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Implement lazy loading for services and add social media config
  backend/app/api/v1/endpoints/post_management.py
  backend/app/core/config.py
  backend/app/services/ai_content_service.py
  backend/app/services/base_service.py
Owners: @product-manager, @project-manager, @tech-lead
