Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Areas: names match whole words only (Banerjee is not Baner); Keshav Nagar and Baner get their own specific hashtags
  backend/app/core/areas.py
  backend/tests/core/test_areas_registry.py
Owners: @product-manager, @project-manager, @tech-lead

Reach test: Keshav Nagar's second tag is #Keshavnagar
  backend/tests/modules/calendar/test_reach.py
Owners: @product-manager, @project-manager, @tech-lead

Area reels load the area stats module by name, so the calendar (and the import check) work before the areastats module is merged
  backend/app/modules/calendar/area_reels.py
Owners: @product-manager, @project-manager, @tech-lead

Agent reels: 10 short Reels that recruit Pune agents (hook, pain, real product screen, result, "Comment AGENT")
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/reach.py
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/service.py
  backend/app/modules/reels/agent_reels.py
  backend/app/modules/reels/assets/screens/07-review-top.jpg
  backend/app/modules/reels/assets/screens/12-site-home.jpg
  backend/app/modules/reels/assets/screens/19-lead-detail.jpg
  backend/app/modules/reels/assets/screens/22-marketing-ready.jpg
  backend/app/modules/reels/assets/screens/27-buyers-match.jpg
  backend/app/modules/reels/assets/screens/30-home-actions.jpg
  backend/app/modules/reels/compose.py
  backend/scripts/agent_reels.py
  backend/tests/modules/reels/test_agent_reels.py
  backend/tests/modules/test_engage.py
  docs/plan/agent-reels.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

start-local: restart a stale backend or frontend (port taken but not healthy) and clear the Next.js cache before starting
  start-local.ps1
Owners: @product-manager, @project-manager, @tech-lead

Plan: SEO (a page per post, readable news addresses, area pages as hubs), streams and contracts
  docs/plan/seo.md
Owners: @tech-writer, @product-manager

Readable news addresses: a story's public id is <headline words>-<6 id chars>, old ids and older slugs still answer, area= filter
  backend/app/modules/newsroom/public.py
  backend/tests/modules/newsroom/test_n3_public.py
  backend/tests/modules/newsroom/test_n3_public_slugs.py
Owners: @product-manager, @project-manager, @tech-lead

Area pages as hubs: "Latest from <Area>" with our posts and news about the area, links to the other areas of the same tier, and a title buyers search for
  frontend/__tests__/marketing/locality-area-feed.test.tsx
  frontend/app/localities/[slug]/page.tsx
  frontend/components/localities/AreaLatest.tsx
  frontend/components/localities/areaFeed.ts
Owners: @frontend-team

Posts API: a readable slug, area and audience on every post, an area filter and GET /public/posts/{slug} with the full text
  backend/app/modules/calendar/public.py
  backend/tests/modules/calendar/test_public.py
Owners: @product-manager, @project-manager, @tech-lead

A page for every post: /posts/<slug> with its slides, text, date, Facebook/Instagram, its area and project, Article JSON-LD; cards open it; the sitemap lists them all
  frontend/__tests__/posts/post-page.test.tsx
  frontend/app/posts/[slug]/loading.tsx
  frontend/app/posts/[slug]/not-found.tsx
  frontend/app/posts/[slug]/page.tsx
  frontend/app/sitemap.ts
  frontend/components/site/PostCard.tsx
  frontend/lib/posts/data.ts
  frontend/lib/posts/seo.ts
  frontend/lib/posts/text.ts
Owners: @frontend-team

News pages at readable addresses: old ids redirect permanently, area links, fetchNews(limit, area), Pune-wide wording
  frontend/__tests__/news/news-addresses.test.tsx
  frontend/__tests__/news/news-site.test.tsx
  frontend/app/news/[id]/page.tsx
  frontend/components/news/NewsArticle.tsx
  frontend/components/news/NewsCard.tsx
  frontend/components/news/NewsSection.tsx
  frontend/lib/news/data.ts
  frontend/lib/news/fixtures.ts
  frontend/lib/news/seo.ts
Owners: @frontend-team

Landing tests: buyers row links all 8 area pages; the compare link left the home page
  frontend/__tests__/marketing/landing.test.tsx
Owners: @frontend-team

News: the loading screen covers only the list, so an old story address gets a real 308 redirect instead of an in-page one
  frontend/__tests__/news/news-site.test.tsx
  frontend/app/news/(list)/loading.tsx
  frontend/app/news/(list)/page.tsx
Owners: @frontend-team

News: no loading screen (the list is cached), so an old story address gets a real 308; the route-group version hit a Next.js build bug
  frontend/__tests__/news/news-site.test.tsx
  frontend/app/news/(list)/loading.tsx
  frontend/app/news/page.tsx
Owners: @frontend-team

Deploy: remove code files the bundle no longer has (deleted files used to stay on the VM and get built in)
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

Deploy: stale-file cleanup without $( ) or < (the script runs commands through Invoke-Expression)
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

Slide reels open on a hook: big hook line at frame one, punch-in cuts, no repeated cover
  backend/app/modules/calendar/adapters.py
  backend/app/modules/engage/service.py
  backend/app/modules/reels/slides.py
  backend/app/wiring.py
  backend/tests/modules/calendar/test_adapters.py
  backend/tests/modules/reels/test_slides_and_brand_music.py
  backend/tests/test_wiring.py
Owners: @product-manager, @project-manager, @tech-lead

wip trend reels
  backend/app/modules/reels/director.py
  backend/app/modules/reels/trend.py
  backend/scripts/trend_reels.py
  backend/tests/modules/reels/test_trend.py
  docs/TREND_REELS.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Content platform: target architecture and work items the team can pick up
  docs/ARCHITECTURE.md
  docs/CONTENT_PLATFORM.md
Owners: @tech-writer, @product-manager

Confirm official trend reel facts
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/trend.py
  backend/scripts/trend_reels.py
  backend/tests/modules/reels/test_trend.py
  docs/CONTENT_PLATFORM.md
  docs/TREND_REELS.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Cost-sheet reel caption: the opening total comes from the cost sheet (Rs 67.5 lakh, was a stale Rs 66.5 lakh) and GST reads '5% of the price (7.5% on two-thirds)', matching the amount
  backend/app/modules/reels/trend.py
Owners: @product-manager, @project-manager, @tech-lead

Live check: a deleted post on our own Facebook Page answers #10, not #100; count it as gone (still two sightings apart)
  backend/app/modules/calendar/liveness.py
  backend/tests/modules/calendar/test_liveness.py
Owners: @product-manager, @project-manager, @tech-lead

Plan: our own page for every MahaRERA project (contract between register pages and property-facts campaigns)
  docs/plan/project-pages.md
Owners: @tech-writer, @product-manager

Agent campaigns in Marathi: an agent's posts carry their name, logo and phone, a contact block, and can be made in Marathi or Hindi; campaigns are page first
  backend/Dockerfile
  backend/app/modules/creative/assets/fonts/Mukta-Bold.ttf
  backend/app/modules/creative/assets/fonts/Mukta-Medium.ttf
  backend/app/modules/creative/assets/fonts/Mukta-Regular.ttf
  backend/app/modules/creative/assets/fonts/Mukta-SemiBold.ttf
  backend/app/modules/creative/assets/fonts/OFL.txt
  backend/app/modules/creative/copywriter.py
  backend/app/modules/creative/layouts/__init__.py
  backend/app/modules/creative/layouts/base.py
  backend/app/modules/creative/layouts/checklist.py
  backend/app/modules/creative/layouts/product_showcase.py
  backend/app/modules/creative/models.py
  backend/app/modules/creative/pipeline.py
  backend/app/modules/creative/prompts.py
  backend/app/modules/creative/translate.py
  backend/app/modules/propertyfacts/campaign.py
  backend/app/modules/propertyfacts/identity.py
  backend/app/modules/propertyfacts/jobs.py
  backend/app/modules/propertyfacts/public.py
  backend/app/modules/propertyfacts/router.py
  backend/tests/modules/creative/fixtures/prompt_versions.json
  backend/tests/modules/propertyfacts/test_agent_posts.py
  backend/tests/modules/propertyfacts/test_jobs.py
  backend/tests/modules/propertyfacts/test_register_and_store.py
  frontend/__tests__/app/marketing-run-card.test.tsx
  frontend/components/app/MarketingRunCard.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

/projects lists every MahaRERA project page by area (projects with full facts; ones an agent lists stay in the agents' section above), and its title covers Pune, not three areas
  frontend/__tests__/site/projects-register-list.test.tsx
  frontend/app/projects/page.tsx
Owners: @frontend-team

Marathi posts pass the card checks; AI calls take turns over Groq and OpenRouter and stop asking retired or rate-limited models
  backend/app/modules/creative/guards.py
  backend/app/modules/creative/layouts/base.py
  backend/app/platform/llm.py
  backend/tests/platform_layer/test_llm_rotation.py
Owners: @product-manager, @project-manager, @tech-lead

Project page: when the agent catalog cannot be reached (e.g. right after a restart), our own register page still serves the project; the temporary-error page shows only when neither can be read
  frontend/__tests__/site/project-page-fallback.test.tsx
  frontend/app/projects/[slug]/page.tsx
Owners: @frontend-team

Marketing pack: one pack per listing; when the listing moved to another agent's account its old pack is replaced instead of a duplicate-key 500 (seen live on Gulmohar City)
  backend/app/modules/marketing/service.py
  backend/tests/modules/test_marketing_router.py
Owners: @product-manager, @project-manager, @tech-lead

Send to calendar: only waiting, approved or published rows block a campaign post, so a campaign made again after its earlier rows were skipped sends its posts (Gulmohar: Send added nothing)
  backend/app/modules/propertyfacts/schedule.py
  backend/tests/modules/propertyfacts/test_jobs.py
Owners: @product-manager, @project-manager, @tech-lead

X-1: insights probe and what Meta returns (Instagram needs instagram_manage_insights; Facebook metrics readable)
  backend/scripts/insights_probe.py
  docs/META_SETUP.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

meta_connect: warn when the token lacks instagram_manage_insights (needed to read Instagram post numbers)
  deploy/gcp/meta_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

Deploy: the stale-file clean-up covers every frontend code folder (hooks, store, types, utils, styles, tests): a deleted store file stayed on the VM and broke the build
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

Calendar rows say what they are about: group (listings, news, guides, agents, other), source, and the property campaign with its listing name
  backend/app/modules/calendar/groups.py
  backend/app/modules/calendar/router.py
  backend/tests/modules/calendar/test_groups.py
  backend/tests/modules/calendar/test_router.py
Owners: @product-manager, @project-manager, @tech-lead

Reach: each post keeps its best 5 (Instagram) / 3 (Facebook) hashtags, most specific first
  backend/app/modules/calendar/reach.py
  backend/tests/modules/calendar/test_reach.py
Owners: @product-manager, @project-manager, @tech-lead

Studio Content: card meta lines wrap at phone width (status pill no longer runs off the card); screenshots of the type chips and a campaign card at 390px
  docs/content/content-groups-all.png
  docs/content/content-groups.png
  frontend/components/app/content/CampaignCard.tsx
  frontend/components/app/content/ContentCard.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Reels: no empty screen after the hook, a punch-in on every cut, short screens, and the price reveal closes the tour
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/templates.py
  backend/tests/modules/reels/test_compose.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: smooth transitions: a 0.35 s blend, the old text leaves before the new text arrives, one background per split line
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/templates.py
  backend/tests/modules/reels/test_compose.py
Owners: @product-manager, @project-manager, @tech-lead

Calendar: tags on every row (X-3), so results can be compared by what each post was
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/calendar/store.py
  backend/app/modules/calendar/tags.py
  backend/app/modules/reels/compose.py
  backend/scripts/calendar_admin.py
  backend/tests/modules/calendar/test_daily_reels.py
  backend/tests/modules/calendar/test_plan.py
  backend/tests/modules/calendar/test_tags.py
  docs/CONTENT_PLATFORM.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Insights check script (X-1): which numbers our Meta token can read, per kind of post
  backend/scripts/insights_check.py
  backend/tests/modules/calendar/test_insights_check.py
  docs/CONTENT_PLATFORM.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Insights collector (X-1, X-2): post results are read by the system itself, a person is asked only when needed
  backend/.importlinter
  backend/app/core/indexes.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/insights/__init__.py
  backend/app/modules/insights/collector.py
  backend/app/modules/insights/graph.py
  backend/app/modules/notifications/service.py
  backend/app/worker.py
  backend/scripts/insights_check.py
  backend/tests/modules/test_insights.py
  backend/tests/test_worker.py
  docs/CONTENT_PLATFORM.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
