Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

feat: Add public website management for agents
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/api/v1/router.py
  backend/app/schemas/agent_public.py
  e2e-tests/dashboard-public-website.spec.ts
  frontend/__tests__/components/PublicWebsiteManagement.simple.test.tsx
  frontend/__tests__/components/PublicWebsiteManagement.test.tsx
  frontend/app/page.tsx
  frontend/components/PublicWebsiteManagement.tsx
  test-dashboard-integration.js
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Improve component tests and mocks
  frontend/__tests__/components/AIContentGenerator.simple.test.tsx
  frontend/__tests__/components/AIContentGenerator.test.tsx
  frontend/__tests__/components/DashboardStats.simple.test.tsx
  frontend/__tests__/components/ErrorBoundary.simple.test.tsx
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/LoadingStates.test.tsx
  frontend/components/LoadingStates.tsx
  frontend/components/ThemeProvider.tsx
  frontend/jest.setup.js
Owners: @frontend-team

Refactor: Mock agent service and remove auth dependencies
  backend/app/api/v1/endpoints/agent_dashboard_router.py
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/services/agent_public_service.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/jest.setup.js
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/components/Properties.test.tsx
  frontend/jest.setup.js
Owners: @frontend-team

Refactor: Mock heroicons and update tests for components
  frontend/__tests__/components/AIAssistantButton.test.tsx
  frontend/__tests__/components/DashboardStats.simple.test.tsx
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
Owners: @frontend-team

Fix: Adjust property component test assertions
  frontend/__tests__/components/Properties_new.test.tsx
Owners: @frontend-team

Skip tests in Properties and Properties_new components
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
Owners: @frontend-team

Skip property detail page tests
  frontend/__tests__/pages/PropertyDetailPage.test.tsx
Owners: @frontend-team

Skip tests in PropertyImageUpload component
  frontend/__tests__/components/PropertyImageUpload.test.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/pages/AgentPublicPage.test.tsx
Owners: @frontend-team

Test: Update DashboardStats component tests
  frontend/__tests__/components/DashboardStats.test.tsx
Owners: @frontend-team

Refactor: Skip AIContentGenerator tests and update descriptions
  frontend/__tests__/components/AIContentGenerator.test.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
Owners: @frontend-team

Skip tests and update UI text and styling
  frontend/__tests__/components/AIAssistantButton.test.tsx
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/Onboarding.test.tsx
  frontend/__tests__/components/ProfileSettings.test.tsx
  frontend/__tests__/components/PublicWebsiteManagement.test.tsx
  frontend/__tests__/lib/form-validation.test.ts
  frontend/__tests__/pages/AgentContactPage.test.tsx
Owners: @frontend-team

Refactor authentication tests and schemas
  backend/tests/test_auth_registration.py
  tests/test_auth_endpoints.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Consolidate property services and update tests
  tests/test_property_service.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor Pydantic validators and add property management
  backend/app/schemas/agent_public.py
  backend/app/schemas/property.py
  backend/app/schemas/user.py
  backend/app/services/property_service.py
  backend/test_mock_facebook.py
  backend/test_smart_properties_migration.py
  backend/tests/test_auth_registration.py
  frontend/__tests__/pages/AgentPublicPage.test.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Improve ErrorBoundary and PublicWebsiteManagement tests
  backend/app/schemas/property.py
  backend/app/services/property_service.py
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/PublicWebsiteManagement.test.tsx
  get-pip.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Rename smart_property to unified_property
  backend/test_database_integration.py
  backend/test_mock_facebook.py
  backend/test_smart_properties_migration.py
  tests/test_smart_properties_integration.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/ProfileSettings.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/Properties.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
Owners: @frontend-team

Resolve conflicts: adopt lightweight property schema/service; finalize ErrorBoundary tests
  backend/app/schemas/property.py
  backend/app/services/property_service.py
  frontend/__tests__/components/ErrorBoundary.test.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Mock FormValidator and improve Properties share test
  frontend/__tests__/components/ProfileSettings.test.tsx
  frontend/__tests__/components/Properties.test.tsx
Owners: @frontend-team

Test: Improve mock for navigator.share and clipboard
  frontend/__tests__/components/Properties.test.tsx
Owners: @frontend-team

tests(frontend): stabilize Properties share tests; finalize consolidation
  frontend/__tests__/components/Properties.test.tsx
Owners: @frontend-team

Consolidated agents work (#25)
  backend/app/schemas/agent_public.py
  backend/app/schemas/property.py
  backend/app/schemas/user.py
  backend/app/services/property_service.py
  backend/test_database_integration.py
  backend/test_mock_facebook.py
  backend/test_smart_properties_migration.py
  backend/tests/test_auth_registration.py
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/ProfileSettings.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/PublicWebsiteManagement.test.tsx
  frontend/__tests__/pages/AgentPublicPage.test.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/Properties.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
  get-pip.py
  tests/test_auth_endpoints.py
  tests/test_property_service.py
  tests/test_smart_properties_integration.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Consolidated agents work (#25)
  backend/app/schemas/agent_public.py
  backend/app/schemas/property.py
  backend/app/schemas/user.py
  backend/app/services/property_service.py
  backend/test_database_integration.py
  backend/test_mock_facebook.py
  backend/test_smart_properties_migration.py
  backend/tests/test_auth_registration.py
  frontend/__tests__/components/ErrorBoundary.test.tsx
  frontend/__tests__/components/ProfileSettings.test.tsx
  frontend/__tests__/components/Properties.test.tsx
  frontend/__tests__/components/PublicWebsiteManagement.test.tsx
  frontend/__tests__/pages/AgentPublicPage.test.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/Properties.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
  get-pip.py
  tests/test_auth_endpoints.py
  tests/test_property_service.py
  tests/test_smart_properties_integration.py
  tests/test_smart_property_service.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/smart_property.py
  backend/app/services/auth_service.py
  backend/app/services/onboarding_service.py
  backend/app/services/smart_property_service.py
  backend/app/utils/migration.py
  backend/tests/test_auth_registration.py
  frontend/IMPLEMENTATION_GUIDE_CONSOLIDATED_FORMS.md
  frontend/__tests__/components/DashboardStats.simple.test.tsx
  frontend/__tests__/components/DashboardStats.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/app/demo/smart-form/page.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/components/Properties_new.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/contexts/AuthContext.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/lib/apiRefactored.ts
  frontend/types/PropertyFormTypes.ts
  t
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

s
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/api/v1/endpoints/smart_properties.py
  backend/app/api/v1/router.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/smart_property.py
  backend/app/services/auth_service.py
  backend/app/services/onboarding_service.py
  backend/app/services/smart_property_service.py
  backend/app/utils/migration.py
  backend/tests/test_auth_registration.py
  frontend/IMPLEMENTATION_GUIDE_CONSOLIDATED_FORMS.md
  frontend/__tests__/components/DashboardStats.simple.test.tsx
  frontend/__tests__/components/DashboardStats.test.tsx
  frontend/__tests__/components/Properties_new.test.tsx
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/__tests__/components/UnifiedPropertyForm.test.tsx
  frontend/app/demo/smart-form/page.tsx
  frontend/app/demo/unified-form/page.tsx
  frontend/components/Properties_new.tsx
  frontend/components/property/ConsolidatedPropertyForm.tsx
  frontend/components/property/UnifiedPropertyForm.tsx
  frontend/contexts/AuthContext.tsx
  frontend/hooks/useUnifiedPropertyForm.ts
  frontend/lib/apiRefactored.ts
  frontend/types/PropertyFormTypes.ts
  t
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Fix: Improve onboarding state sync and add verification
  FINAL_STATUS_SUMMARY.md
  ONBOARDING_FIX_SUMMARY.md
  e2e-tests/onboarding-fix-verification.spec.ts
  frontend/components/Onboarding.tsx
  frontend/lib/auth.ts
  simple_api_test.js
  test_complete_user_flow.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Fix: Improve onboarding state sync and add verification (#26)
  FINAL_STATUS_SUMMARY.md
  ONBOARDING_FIX_SUMMARY.md
  e2e-tests/onboarding-fix-verification.spec.ts
  frontend/components/Onboarding.tsx
  frontend/lib/auth.ts
  simple_api_test.js
  test_complete_user_flow.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Fix: Improve onboarding state sync and add verification (#26)
  FINAL_STATUS_SUMMARY.md
  ONBOARDING_FIX_SUMMARY.md
  e2e-tests/onboarding-fix-verification.spec.ts
  frontend/components/Onboarding.tsx
  frontend/lib/auth.ts
  simple_api_test.js
  test_complete_user_flow.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/user.py
Owners: @product-manager, @project-manager, @tech-lead

d
  backend/app/api/v1/endpoints/auth_router.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/user.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add agent profile and stats endpoints
  backend/app/api/v1/endpoints/agent_public_router.py
  frontend/app/demo/smart-form/page.tsx
  frontend/app/page.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add agent profile and stats endpoints (#27)
  backend/app/api/v1/endpoints/agent_public_router.py
  frontend/app/demo/smart-form/page.tsx
  frontend/app/page.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add agent profile and stats endpoints (#27)
  backend/app/api/v1/endpoints/agent_public_router.py
  frontend/app/demo/smart-form/page.tsx
  frontend/app/page.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/api/v1/proxy.py
  backend/app/core/routes.py
  backend/app/repositories/user_repository.py
  backend/app/services/unified_property_service.py
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_ai_suggest_endpoint.py
  backend/tests/test_unified_properties.py
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/app/page.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/validation.ts
  start-local.ps1
  t  findstr python
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

d
  backend/app/api/v1/endpoints/agent_public_router.py
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/api/v1/proxy.py
  backend/app/core/routes.py
  backend/app/repositories/user_repository.py
  backend/app/services/unified_property_service.py
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_ai_suggest_endpoint.py
  backend/tests/test_unified_properties.py
  frontend/__tests__/components/SmartPropertyForm.test.tsx
  frontend/app/page.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/validation.ts
  start-local.ps1
  t  findstr python
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement property image upload and refine price handling
  backend/tests/test_property_price_and_images.py
  e2e-tests/property-creation-with-images.spec.ts
  frontend/__tests__/components/PropertyFormPrice.test.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
