Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

Record the step 2 measurement: 10 modules left in the import cycle (from 16), 109 imports between modules (from 165), 68 of them inside functions (from 100)
  docs/MODERNIZATION.md
Owners: @tech-writer, @product-manager

Modernization step 4: worker process and loop heartbeats
  backend/app/core/application.py
  backend/app/core/config.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/engage/runner.py
  backend/app/modules/newsroom/runner.py
  backend/app/modules/reels/listing_reel.py
  backend/app/modules/reels/router.py
  backend/app/platform/heartbeats.py
  backend/app/worker.py
  backend/tests/platform_layer/test_heartbeats.py
  backend/tests/test_worker.py
Owners: @product-manager, @project-manager, @tech-lead

Modernization step 4: run the worker in production and alert on stale loops
  deploy/gcp/ai_connect.ps1
  deploy/gcp/deploy.ps1
  deploy/gcp/docker-compose.yml
  deploy/gcp/health_check.sh
  deploy/gcp/meta_connect.ps1
  deploy/gcp/openrouter_connect.ps1
  deploy/gcp/whatsapp_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

Docs: steps 3 and 4 done (results, measurements, rollback for the worker), the composition root and the worker in ARCHITECTURE.md
  docs/ARCHITECTURE.md
  docs/MODERNIZATION.md
Owners: @tech-writer, @product-manager

Modernization step 5: concierge reel posts go through the publish ledger, keyed by reel job and channel
  backend/app/modules/concierge/service.py
Owners: @product-manager, @project-manager, @tech-lead

Docs: step 5 done in code (publish ledger, one way out, rollback, what to do with 'may already be live', what deliberately stays with the callers)
  docs/ARCHITECTURE.md
  docs/MODERNIZATION.md
Owners: @tech-writer, @product-manager

Ignore .claude/worktrees/: temporary isolated checkouts used by Claude Code agents
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

Reels: the opening scene has no entrance animation, so frame 0 shows the complete hook
  backend/app/modules/reels/compose.py
  backend/tests/modules/reels/test_compose.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom: fixed 'Worth checking' buyer line per pillar, MahaRERA wording audit, digest hook
  backend/app/modules/newsroom/captions.py
  backend/app/modules/newsroom/cards.py
  backend/app/modules/newsroom/digest.py
  backend/app/modules/newsroom/policy.py
  backend/app/modules/newsroom/presentation.py
  backend/app/modules/newsroom/samples.py
  backend/app/modules/newsroom/stages/check.py
  backend/tests/modules/newsroom/test_buyer_lines.py
  docs/brand/news-samples/contact-news-instagram.jpg
  docs/brand/news-samples/digest-cover-ig.jpg
Owners: @product-manager, @project-manager, @tech-lead

Captions open with the hook, not a label (Instagram shows ~125 chars)
  backend/app/modules/calendar/guards.py
  backend/app/modules/calendar/library.py
  backend/app/modules/marketing/content.py
  backend/app/modules/showcase/captions.py
  backend/app/platform/text.py
  backend/tests/modules/calendar/test_library.py
  backend/tests/modules/showcase/test_captions_publish.py
  backend/tests/modules/test_marketing_content.py
  backend/tests/platform_layer/test_text.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: render a 1080x1920 cover (the hook still) next to each mp4 and send it as Instagram cover_url
  backend/app/modules/calendar/adapters.py
  backend/app/modules/concierge/service.py
  backend/app/modules/reels/compose.py
  backend/app/modules/social/reel_publish.py
  backend/tests/modules/calendar/test_adapters.py
  backend/tests/modules/reels/test_compose.py
  backend/tests/modules/reels/test_listing_reel.py
  backend/tests/modules/reels/test_publish.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: no 'Follow for more' end card by default; the last scene carries a small brand mark
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/director.py
  backend/app/modules/reels/listing_reel.py
  backend/app/modules/reels/templates.py
  backend/tests/modules/reels/test_compose.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: keep all text and the CTA inside Instagram's safe zone (y 14-72%, clear of the right 12%)
  backend/app/modules/reels/compose.py
  backend/tests/modules/reels/test_compose.py
Owners: @product-manager, @project-manager, @tech-lead

Domain switch ready: Caddy redirects REDIRECT_HOSTS (www and the old sslip.io address) to SITE_HOST keeping the path, so old links keep working; validated with caddy adapt for avasetu.in
  deploy/gcp/Caddyfile
  deploy/gcp/docker-compose.yml
Owners: @product-manager, @project-manager, @tech-lead

Reels: one photo per scene in tour, listing and director reels; fewer scenes instead of repeats
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/director.py
  backend/app/modules/reels/listing_reel.py
  backend/app/modules/reels/templates.py
  backend/tests/modules/reels/test_compose.py
  backend/tests/modules/reels/test_listing_reel.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: the call to action is 'Comment INTERESTED for details' (the comment assistant answers it)
  backend/app/modules/reels/director.py
  backend/app/modules/reels/listing_reel.py
  backend/app/modules/reels/templates.py
  backend/scripts/make_voiced_reels.py
  backend/tests/modules/reels/test_listing_reel.py
Owners: @product-manager, @project-manager, @tech-lead

Reel samples v3: contact sheet and cover of a sample Kharadi listing reel
  docs/brand/reel-samples/v3-cover.jpg
  docs/brand/reel-samples/v3-frames.jpg
Owners: @product-manager, @project-manager, @tech-lead

The metro text post opens with its hook instead of 'Myth vs fact'; every Facebook text post is now held to the same first-line hook check
  backend/app/modules/marketing/text_posts.py
  backend/tests/modules/test_text_posts.py
Owners: @product-manager, @project-manager, @tech-lead

avasetu.in is the site address: defaults in brand.py/brand.ts and the deploy, invite, Meta and WhatsApp helper scripts; tests updated (the QR test keeps its 46-byte input)
  backend/app/core/brand.py
  backend/tests/modules/calendar/test_footer.py
  backend/tests/modules/calendar/test_public.py
  deploy/gcp/deploy.ps1
  deploy/gcp/invite.ps1
  deploy/gcp/meta_connect.ps1
  deploy/gcp/whatsapp_connect.ps1
  frontend/__tests__/app/newsroom-preview.test.tsx
  frontend/lib/brand.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Public news API carries each item's 'Worth checking' buyer line (the same fixed line the captions use; None for education and digest items)
  backend/app/modules/newsroom/public.py
  backend/tests/modules/newsroom/test_n3_public.py
Owners: @product-manager, @project-manager, @tech-lead

/for-agents gains the product screenshots strip and the agent FAQ from the old home page
  frontend/__tests__/marketing/for-agents.test.tsx
  frontend/app/for-agents/content.ts
  frontend/app/for-agents/page.tsx
  frontend/components/marketing/LeadCardMock.tsx
Owners: @frontend-team

Home page serves buyers first: news, area guides, real homes, buyer guides, our posts
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/site-nav.test.tsx
  frontend/app/page.tsx
  frontend/components/marketing/home/HomeAgentBand.tsx
  frontend/components/marketing/home/HomeAreas.tsx
  frontend/components/marketing/home/HomeGuides.tsx
  frontend/components/marketing/home/HomeHero.tsx
  frontend/components/marketing/home/HomeListings.tsx
  frontend/components/marketing/home/HomeNews.tsx
  frontend/components/marketing/home/SectionHead.tsx
  frontend/components/marketing/home/shared.ts
  frontend/lib/marketing/strings.ts
Owners: @frontend-team

Home hero says the brand once (the header already shows the logo); the phone header button reads 'Enquire' instead of a bare 'Tell us', with an accessible name that contains both visible labels
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/site-nav.test.tsx
  frontend/__tests__/news/news-site.test.tsx
  frontend/components/marketing/SiteHeader.tsx
  frontend/components/marketing/home/HomeHero.tsx
Owners: @frontend-team

House Deal launch on the new Avasetu Page and @avasetu_: comparison carousel and first reel at once, the rest planned at most 3 a day for the owner to approve; old-Page rows skipped
  backend/scripts/house_deal_launch.py
Owners: @product-manager, @project-manager, @tech-lead

Agent hero shows the business logo when the agent has no photo, before falling back to initials
  frontend/__tests__/site/hero-logo.test.tsx
  frontend/components/site/Hero.tsx
Owners: @frontend-team

Posts feed: posts marked hidden_from_feed (taken down from Facebook/Instagram) are not shown, and a reel with the same title as a post is shown once as the post
  backend/app/modules/calendar/public.py
  backend/tests/modules/calendar/test_public.py
Owners: @product-manager, @project-manager, @tech-lead

Facebook links that open: posts store Facebook's own permalink_url (the bare page_post link sends logged-out visitors to the login screen), and the site's Facebook link is the new Avasetu Page
  backend/app/platform/meta_graph/graph.py
  backend/tests/modules/test_social_graph.py
  deploy/gcp/meta_connect.ps1
  frontend/lib/marketing/social.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

SEO groundwork: fuller sitemap, private paths out of robots, structured data, demo agent unindexed
  backend/app/modules/agentprojects/router.py
  backend/app/modules/agentprojects/service.py
  backend/app/modules/listings/router.py
  backend/app/modules/listings/service.py
  backend/tests/modules/agentprojects/test_service.py
  backend/tests/modules/test_listings_service.py
  deploy/gcp/docker-compose.yml
  docs/operator/OPERATOR_GUIDE.md
  frontend/Dockerfile
  frontend/__tests__/marketing/localities.test.ts
  frontend/__tests__/news/news-site.test.tsx
  frontend/__tests__/site/projects.test.tsx
  frontend/app/agent/[slug]/projects/[project]/page.tsx
  frontend/app/insights/[slug]/page.tsx
  frontend/app/layout.tsx
  frontend/app/localities/[slug]/page.tsx
  frontend/app/news/[id]/page.tsx
  frontend/app/robots.ts
  frontend/app/sitemap.ts
  frontend/lib/marketing/localities.ts
  frontend/lib/marketing/seo.ts
  frontend/lib/site/api.ts
  frontend/lib/site/seo.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Shared project pages, filter pages and links between them (SEO P1 and P2)
  backend/app/modules/agentprojects/router.py
  backend/app/modules/agentprojects/schemas.py
  backend/app/modules/agentprojects/service.py
  backend/tests/modules/agentprojects/test_router.py
  backend/tests/modules/agentprojects/test_service.py
  frontend/__tests__/site/catalog.test.tsx
  frontend/app/2-bhk/[area]/page.tsx
  frontend/app/3-bhk/[area]/page.tsx
  frontend/app/agent/[slug]/projects/[project]/page.tsx
  frontend/app/localities/[slug]/page.tsx
  frontend/app/page.tsx
  frontend/app/price/[band]/[area]/page.tsx
  frontend/app/projects/[slug]/page.tsx
  frontend/app/projects/page.tsx
  frontend/app/sitemap.ts
  frontend/components/Navigation.tsx
  frontend/components/marketing/FilterPage.tsx
  frontend/components/marketing/home/HomeListings.tsx
  frontend/components/marketing/home/HomeProjects.tsx
  frontend/components/marketing/siteLinks.ts
  frontend/components/site/ProjectCard.tsx
  frontend/components/site/ProjectDetails.tsx
  frontend/lib/marketing/siteTheme.ts
  frontend/lib/marketing/strings.ts
  frontend/lib/site/api.ts
  frontend/lib/site/filters.ts
  frontend/lib/site/projects.ts
  frontend/lib/site/seo.ts
  frontend/lib/site/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Website requests to join reach the owner: a Studio alert per request, and a re-request is never hidden
  backend/app/modules/notifications/service.py
  backend/app/modules/waitlist/router.py
  backend/app/modules/waitlist/service.py
  backend/app/wiring.py
  backend/tests/modules/test_waitlist.py
  backend/tests/modules/test_waitlist_router.py
  backend/tests/test_wiring.py
  frontend/__tests__/app/admin.test.tsx
  frontend/__tests__/site/chat-widget.test.tsx
  frontend/components/app/LeadAlertsBadge.tsx
  frontend/components/app/admin/AdminScreen.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Carousels play on Facebook as a Reel of their slides, and every reel carries the Avasetu signature music
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/config.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/music.py
  backend/app/modules/reels/slides.py
  backend/tests/modules/calendar/test_runner.py
  backend/tests/modules/reels/test_slides_and_brand_music.py
Owners: @product-manager, @project-manager, @tech-lead

The Avasetu theme: a santoor melody in Raag Bhupali built on the A-va-se-tu sound logo
  backend/app/modules/reels/music.py
  backend/scripts/brand_music.py
  backend/tests/modules/reels/test_slides_and_brand_music.py
  docs/brand/avasetu/README.md
  docs/brand/avasetu/audio/avasetu-sound-logo.m4a
  docs/brand/avasetu/audio/avasetu-theme-15s.m4a
  docs/brand/avasetu/audio/avasetu-theme-30s.m4a
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Group post with the lead card as the hero (stop chasing 'Price?' comments, get buyers you can call)
  backend/scripts/promo_agents.py
Owners: @product-manager, @project-manager, @tech-lead

avasetu.in/pilot: the page to share in property groups; its link preview is the promo (stop chasing 'Price?' comments, sample lead card) and it sends agents to the invite form with their ?src= tag
  frontend/app/pilot/page.tsx
  frontend/public/promo/group-lead.jpg
  frontend/public/promo/og-pilot.jpg
Owners: @frontend-team

Meta domain verification meta-tag for avasetu.in in every page's head
  frontend/app/layout.tsx
Owners: @frontend-team

Landing redesign: the UX team's structure and copy in the navy/gold brand
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/site-nav.test.tsx
  frontend/app/page.tsx
  frontend/components/marketing/LeadCardMock.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/components/marketing/RequestInviteForm.tsx
  frontend/components/marketing/StickyJoinBar.tsx
  frontend/e2e/landing-shots.js
  frontend/lib/marketing/strings.ts
Owners: @frontend-team

Comment replies on our agent promo posts link to the pilot sign-up (avasetu.in/pilot), not the buyer landing page or a buyer interest link
  backend/app/modules/engage/service.py
  backend/tests/modules/test_engage.py
Owners: @product-manager, @project-manager, @tech-lead

One list of the Pune areas we cover (8: Kharadi, Upper Kharadi, Wagholi, Lohegaon, Keshav Nagar, Hinjawadi, Wakad, Baner) with slugs, tier, spellings and hashtags, for every module to read
  backend/app/core/areas.py
  backend/tests/core/test_areas_registry.py
Owners: @product-manager, @project-manager, @tech-lead

Plan: Pune areas (strategy, rules, four workstreams with owned files, area stats contract)
  docs/plan/pune-areas.md
Owners: @tech-writer, @product-manager

Reach covers all 8 Pune areas: hashtags, spellings and the Instagram location come from app.core.areas (explicit area key on the row first, else the most specific area the caption names, else Pune)
  backend/app/modules/calendar/reach.py
  backend/tests/modules/calendar/test_reach.py
Owners: @product-manager, @project-manager, @tech-lead
