Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Fix: Update e2e test results
  frontend/e2e-results.xml
Owners: @frontend-team

Fix authentication issues
  frontend/app/page.tsx
Owners: @frontend-team

s
  backend/app/core/auth_backend.py
  backend/app/models/user.py
  backend/app/services/onboarding_service.py
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/PostsManagementHub.tsx
  frontend/components/PublishingWorkflowManager.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/api/centralized-client.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  frontend/components/ImageSelectionPanel.tsx
Owners: @frontend-team

feat: Implement image inheritance and selection UI
  backend/app/api/v1/endpoints/image_inheritance.py
  backend/app/services/enhanced_post_management_service.py
  frontend/app/test-image-inheritance/page.tsx
  frontend/components/ImageInheritanceTest.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/imageUtils.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Manual content fallback and editing (#48)
  backend/app/api/v1/endpoints/image_inheritance.py
  backend/app/services/enhanced_post_management_service.py
  frontend/app/test-image-inheritance/page.tsx
  frontend/components/ImageInheritanceTest.tsx
  frontend/components/ImageSelectionPanel.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/imageUtils.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

a
  backend/app/api/v1/endpoints/unified_ai_unified.py
  backend/app/api/v1/endpoints/unified_publishing.py
  backend/app/api/v1/router.py
  backend/app/services/unified_ai_content_service.py
  backend/app/services/unified_publishing_orchestrator.py
  backend/check_all_data.py
  backend/check_all_databases.py
  backend/check_all_posts.py
  backend/check_posts.py
  backend/check_posts_detailed.py
  backend/check_specific_post.py
  backend/test_auth_and_posts.py
  backend/uploads/images/0a1a719e-3bbc-4ff7-9586-dc4297d83bfb.png
  backend/uploads/images/19115e12-889d-45bf-9c7e-69a971aeb553.png
  backend/uploads/images/319994f2-a07d-4582-b638-d31355d5a2a2.jpg
  backend/uploads/images/3505295e-ce91-4b26-9871-a78058b55701.png
  backend/uploads/images/e2af311e-10f9-4481-8061-823811a6fba6.png
  backend/uploads/images/f5a47c2e-5d3b-4d04-8254-d085165dd48a.png
  backend/uploads/images/thumb_0a1a719e-3bbc-4ff7-9586-dc4297d83bfb.png
  backend/uploads/images/thumb_19115e12-889d-45bf-9c7e-69a971aeb553.png
  backend/uploads/images/thumb_319994f2-a07d-4582-b638-d31355d5a2a2.jpg
  backend/uploads/images/thumb_3505295e-ce91-4b26-9871-a78058b55701.png
  backend/uploads/images/thumb_e2af311e-10f9-4481-8061-823811a6fba6.png
  backend/uploads/images/thumb_f5a47c2e-5d3b-4d04-8254-d085165dd48a.png
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/posts/[postId]/page.tsx
  frontend/app/agent/[agentName]/posts/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/components/UI/UnifiedPostCard.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/data-transformers.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add image gallery to UnifiedPostCard and improve date parsing
  backend/app/utils/datetime_utils.py
  frontend/components/UI/UnifiedPostCard.tsx
  frontend/types/post.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement comprehensive PropertyAI image and date display fixes
  backend/app/utils/datetime_utils.py
  frontend/components/UI/UnifiedPostCard.tsx
  frontend/types/post.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

s
  frontend/components/UnifiedPostingHub.tsx
  frontend/tsconfig.json
  frontend/types/jest-dom.d.ts
Owners: @frontend-team

fix: Improve date formatting and add image display debugging
  frontend/components/UI/UnifiedPostCard.tsx
Owners: @frontend-team

fix: Add image display and upload functionality to PropertyAI
  frontend/components/PostsManagementHub.tsx
  frontend/components/UnifiedPostingHub.tsx
Owners: @frontend-team

fix: Add debugging and image preview to Standalone Hub
  frontend/components/UnifiedPostingHub.tsx
Owners: @frontend-team

s
  backend/uploads/images/28442711-5337-4679-9feb-f16f071af91a.png
  backend/uploads/images/96fc5053-c757-41a8-963e-e7426a3da911.jpg
  backend/uploads/images/bb3228d9-1ab6-438d-afca-4bc529106fce.png
  backend/uploads/images/thumb_28442711-5337-4679-9feb-f16f071af91a.png
  backend/uploads/images/thumb_96fc5053-c757-41a8-963e-e7426a3da911.jpg
  backend/uploads/images/thumb_bb3228d9-1ab6-438d-afca-4bc529106fce.png
  docker-compose.ngrok.yml
  docker/nginx-ngrok.conf
  frontend/app/test-image-inheritance/page.tsx
  frontend/components/PostsManagementHub.tsx
  frontend/components/UnifiedPostingHub.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement comprehensive mobile responsiveness improvements
  MOBILE_IMPROVEMENTS.md
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/MobileBottomNavigation.tsx
  frontend/components/Navigation.tsx
  frontend/components/Properties.tsx
  frontend/styles/mobile.css
Owners: @tech-writer, @product-manager, @frontend-team

Refactor: Implement comprehensive design system
  DESIGN_SYSTEM_IMPLEMENTATION.md
  frontend/app/globals.css
  frontend/styles/README.md
  frontend/styles/colors.css
  frontend/styles/components.css
  frontend/styles/design-system-analysis.md
  frontend/styles/design-system.css
  frontend/styles/design-tokens.css
  frontend/styles/spacing.css
  frontend/styles/typography.css
Owners: @tech-writer, @product-manager, @frontend-team

feat: Implement design system and refactor components
  DESIGN_SYSTEM_IMPLEMENTATION_COMPLETE.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/ui/Button.tsx
  frontend/components/ui/Card.tsx
  frontend/components/ui/Input.tsx
  frontend/components/ui/index.ts
  frontend/lib/design-tokens.ts
  frontend/lib/utils.ts
  frontend/tailwind.config.js
Owners: @tech-writer, @product-manager, @frontend-team

Fix mobile app readiness issues (#50)
  DESIGN_SYSTEM_IMPLEMENTATION.md
  DESIGN_SYSTEM_IMPLEMENTATION_COMPLETE.md
  MOBILE_IMPROVEMENTS.md
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/MobileBottomNavigation.tsx
  frontend/components/Navigation.tsx
  frontend/components/Properties.tsx
  frontend/components/ui/Button.tsx
  frontend/components/ui/Card.tsx
  frontend/components/ui/Input.tsx
  frontend/components/ui/index.ts
  frontend/lib/design-tokens.ts
  frontend/lib/utils.ts
  frontend/styles/README.md
  frontend/styles/colors.css
  frontend/styles/components.css
  frontend/styles/design-system-analysis.md
  frontend/styles/design-system.css
  frontend/styles/design-tokens.css
  frontend/styles/mobile.css
  frontend/styles/spacing.css
  frontend/styles/typography.css
  frontend/tailwind.config.js
Owners: @tech-writer, @product-manager, @frontend-team

d
  frontend/app/page.tsx
  frontend/components/BreadcrumbNavigation.tsx
  frontend/components/MobileBottomNavigation.tsx
  frontend/components/MobileFirstNavigation.tsx
  frontend/components/Navigation.tsx
  frontend/components/UX/QuickActionsPanel.tsx
Owners: @frontend-team

d
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/core/application.py
  backend/app/core/logging.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/services/__init__.py
  backend/app/services/agent_service.py
  frontend/MOBILE_FIRST_MIGRATION.md
  frontend/app/page.tsx
  frontend/components/AdminPostsManagement.tsx
  frontend/components/Analytics.tsx
  frontend/components/DashboardCustomization.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/MobileFirstNavigation.tsx
  frontend/components/PostPreviewModal.tsx
  frontend/components/Properties.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/UI/ImageModal.tsx
  frontend/components/UI/UnifiedPostCard.new.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/components/property/shared/PropertyFieldInput.tsx
  frontend/lib/api/centralized-client.ts
  frontend/lib/auth/manager.ts
  frontend/lib/data-transformers.ts
  frontend/lib/mobile.ts
  frontend/lib/validation-feedback.ts
  frontend/styles/flow-specific.css
  frontend/styles/form-validation.css
  frontend/styles/mobile-first-unified.css
  frontend/styles/mobile.css
  frontend/types/dashboard.ts
  frontend/types/posting.ts
  frontend/types/property.ts
  frontend/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Fix property listing queries and add stats endpoint
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/stats.py
  backend/app/api/v1/endpoints/unified_properties.py
  backend/app/core/middleware.py
  backend/app/services/stats_service.py
  backend/app/services/unified_property_service.py
  backend/tests/test_unified_property_service_queries.py
Owners: @product-manager, @project-manager, @tech-lead

Refresh UI Button, Card, Input components and home page styling
  frontend/app/page.tsx
Owners: @frontend-team

Add v2 architecture, roadmap and multi-agent implementation plan
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/ROADMAP.md
Owners: @tech-writer, @product-manager

Refresh UI Button, Card, Input components
  frontend/components/UI/Button.tsx
  frontend/components/UI/Card.tsx
  frontend/components/UI/Input.tsx
  frontend/components/UI/index.ts
Owners: @frontend-team

Make pytest runnable: fix pytest.ini header, quarantine stale tests
  backend/pytest.ini
  backend/tests/conftest.py
Owners: @product-manager, @project-manager, @tech-lead

Consolidate to a single API router and remove dead/unsafe routes
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/api/v1/router.py
  backend/app/core/routes.py
  backend/app/main.py
Owners: @product-manager, @project-manager, @tech-lead

Archive legacy status/plan docs under docs/archive
  docs/archive/ACCURATE_UNUSED_COMPONENTS_ANALYSIS.md
  docs/archive/AI_SERVICES_CLEANUP_SUMMARY.md
  docs/archive/ANALYSIS_REPORT.md
  docs/archive/API_CLEANUP_PLAN.md
  docs/archive/DESIGN_SYSTEM_IMPLEMENTATION.md
  docs/archive/DESIGN_SYSTEM_IMPLEMENTATION_COMPLETE.md
  docs/archive/EXECUTIVE_SUMMARY_NAVIGATION_FIXES.md
  docs/archive/FINAL_NAVIGATION_FIXES_SUMMARY.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/MIGRATION_GUIDE.md
  docs/archive/MIGRATION_IMPLEMENTATION_PLAN.md
  docs/archive/MOBILE_IMPROVEMENTS.md
  docs/archive/NAVIGATION_FIXES_IMPLEMENTED.md
  docs/archive/NAVIGATION_IMPLEMENTATION_PLAN.md
  docs/archive/NAVIGATION_STRUCTURE_ANALYSIS.md
  docs/archive/NGROK_DEPLOYMENT_SUMMARY.md
  docs/archive/NGROK_DOCKER_README.md
  docs/archive/PRODUCTION_READINESS_REPORT.md
  docs/archive/SYSTEM_ARCHITECTURE_DIAGRAM.md
  docs/archive/TECHNICAL_ARCHITECTURE.md
  docs/archive/UI_IMPROVEMENTS_SUMMARY.md
  docs/archive/UNIFIED_AI_ARCHITECTURE_DESIGN.md
  docs/archive/UNIFIED_AI_ARCHITECTURE_PLAN.md
  docs/archive/UNIFIED_IDENTITY_SYSTEM.md
  docs/archive/UNUSED_COMPONENTS_ANALYSIS.md
  docs/archive/UX_BUSINESS_ANALYSIS_REPORT.md
  docs/archive/UX_FLOW_DESIGN.md
Owners: @tech-writer, @product-manager

Add phone-OTP onboarding: OTP login and one-step agent website
  backend/app/api/v1/router.py
  backend/app/core/auth_backend.py
  backend/app/core/config.py
  backend/app/modules/__init__.py
  backend/app/modules/onboarding/__init__.py
  backend/app/modules/onboarding/otp.py
  backend/app/modules/onboarding/phone.py
  backend/app/modules/onboarding/router.py
  backend/app/modules/onboarding/schemas.py
  backend/app/modules/onboarding/service.py
  backend/app/modules/onboarding/slug.py
  backend/tests/modules/__init__.py
  backend/tests/modules/fakes.py
  backend/tests/modules/test_onboarding.py
Owners: @product-manager, @project-manager, @tech-lead

Add tracking module: events, anonymous-to-lead capture, scoring, lead inbox
  backend/app/api/v1/router.py
  backend/app/modules/tracking/__init__.py
  backend/app/modules/tracking/router.py
  backend/app/modules/tracking/schemas.py
  backend/app/modules/tracking/scoring.py
  backend/app/modules/tracking/service.py
  backend/tests/modules/fakes.py
  backend/tests/modules/test_tracking.py
Owners: @product-manager, @project-manager, @tech-lead

Add scrum board and frozen listing contract for Sprint 1
  docs/SCRUM.md
  docs/contracts/listing.md
Owners: @tech-writer, @product-manager

Add listings module: lifecycle, publish validation, public reads
  backend/app/modules/listings/__init__.py
  backend/app/modules/listings/router.py
  backend/app/modules/listings/schemas.py
  backend/app/modules/listings/service.py
  backend/tests/modules/listings_fakes.py
  backend/tests/modules/test_listings_router.py
  backend/tests/modules/test_listings_service.py
  docs/handoff/s1-listings.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Add server-rendered public agent site with listing pages, tracking beacon and enquiry form
  docs/handoff/s3-site.md
  frontend/__tests__/site/components.test.tsx
  frontend/__tests__/site/format.test.ts
  frontend/__tests__/site/phone-slug.test.ts
  frontend/app/agent/[agentName]/contact/page.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/posts/[postId]/page.tsx
  frontend/app/agent/[agentName]/posts/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/app/agent/[slug]/not-found.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/components/site/ContactButtons.tsx
  frontend/components/site/DescriptionSwitch.tsx
  frontend/components/site/EnquiryForm.tsx
  frontend/components/site/Gallery.tsx
  frontend/components/site/Hero.tsx
  frontend/components/site/ListingBrowser.tsx
  frontend/components/site/ListingCard.tsx
  frontend/components/site/ListingFacts.tsx
  frontend/components/site/ShareButton.tsx
  frontend/components/site/SiteShell.tsx
  frontend/components/site/StickyBar.tsx
  frontend/components/site/TrackedLink.tsx
  frontend/components/site/TrackingBeacon.tsx
  frontend/lib/site/api.ts
  frontend/lib/site/fixtures.ts
  frontend/lib/site/format.ts
  frontend/lib/site/links.ts
  frontend/lib/site/phone.ts
  frontend/lib/site/seo.ts
  frontend/lib/site/slug.ts
  frontend/lib/site/theme.ts
  frontend/lib/site/tracking.ts
  frontend/lib/site/types.ts
Owners: @tech-writer, @product-manager, @frontend-team

Add AI listing draft module: deterministic + Groq extraction, copy, voice transcription
  backend/app/modules/ai_listing/__init__.py
  backend/app/modules/ai_listing/copywriter.py
  backend/app/modules/ai_listing/extract_numbers.py
  backend/app/modules/ai_listing/extract_text.py
  backend/app/modules/ai_listing/extractor.py
  backend/app/modules/ai_listing/gazetteer.py
  backend/app/modules/ai_listing/geo.py
  backend/app/modules/ai_listing/llm.py
  backend/app/modules/ai_listing/merge.py
  backend/app/modules/ai_listing/plausibility.py
  backend/app/modules/ai_listing/router.py
  backend/app/modules/ai_listing/schemas.py
  backend/app/modules/ai_listing/service.py
  backend/app/modules/ai_listing/text_norm.py
  backend/tests/modules/test_ai_listing_golden.py
  backend/tests/modules/test_ai_listing_router.py
  backend/tests/modules/test_ai_listing_service.py
  docs/handoff/s2-ai-listing.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Remove tests for deleted /agent posts and properties pages
  frontend/__tests__/unit/pages/agent_posts.test.tsx
  frontend/__tests__/unit/pages/agent_properties.test.tsx
  frontend/__tests__/unit/pages/property_detail.test.tsx
Owners: @frontend-team

Mount listings, public listings and AI draft routers
  backend/app/api/v1/router.py
Owners: @product-manager, @project-manager, @tech-lead

Add agent mobile web app: join, studio, listings capture/review, lead inbox
  docs/handoff/s4-agent-app.md
  frontend/__tests__/app/api.test.ts
  frontend/__tests__/app/components.test.tsx
  frontend/__tests__/app/fixtures.test.ts
  frontend/__tests__/app/format.test.ts
  frontend/app/join/page.tsx
  frontend/app/studio/layout.tsx
  frontend/app/studio/leads/[id]/page.tsx
  frontend/app/studio/leads/page.tsx
  frontend/app/studio/listings/[id]/page.tsx
  frontend/app/studio/listings/new/page.tsx
  frontend/app/studio/listings/page.tsx
  frontend/app/studio/page.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/app/ListingCard.tsx
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/PhotoPicker.tsx
  frontend/components/app/ReviewForm.tsx
  frontend/components/app/ShareBar.tsx
  frontend/components/app/StudioGate.tsx
  frontend/components/app/VoiceRecorder.tsx
  frontend/components/app/ui.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/client.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/format.ts
  frontend/lib/app/leads.ts
  frontend/lib/app/session.ts
  frontend/lib/app/share.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
  frontend/lib/app/useAsync.ts
  frontend/lib/app/useRecorder.ts
  frontend/lib/app/validate.ts
Owners: @tech-writer, @product-manager, @frontend-team

Fix placeholder email rejected by validation; add e2e smoke test and Sprint 1 review
  backend/app/modules/onboarding/service.py
  backend/scripts/e2e_smoke.py
  backend/tests/modules/test_onboarding.py
  docs/SPRINT_1_REVIEW.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Make AI listing LLM provider-agnostic; replace retired default Groq model
  backend/app/modules/ai_listing/llm.py
  backend/app/services/unified_property_service.py.fragment
  backend/tests/modules/test_ai_listing_service.py
  docs/handoff/s2-ai-listing.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Add invite-code pilot login, 30-day agent sessions, admin script and runbook
  backend/app/core/config.py
  backend/app/modules/onboarding/invites.py
  backend/app/modules/onboarding/router.py
  backend/app/modules/onboarding/schemas.py
  backend/scripts/invite.py
  backend/tests/modules/test_invites.py
  docs/PILOT_RUNBOOK.md
  frontend/components/app/JoinFlow.tsx
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Fix bugs found by the first real-browser run of the agent journey
  frontend/.gitignore
  frontend/components/Navigation.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/site/SiteShell.tsx
  frontend/e2e/browser-journey.js
  frontend/styles/mobile.css
Owners: @frontend-team

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
