Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

d
  UX_BUSINESS_ANALYSIS.md
  backend/app/core/config.py
  backend/uploads/images/69f3571d-7496-4bf1-8e89-007cec9e0760.png
  backend/uploads/images/e940d5a8-6ccb-4f55-8841-524d015b040d.png
  backend/uploads/images/thumb_69f3571d-7496-4bf1-8e89-007cec9e0760.png
  backend/uploads/images/thumb_e940d5a8-6ccb-4f55-8841-524d015b040d.png
  frontend/__tests__/unit/components/property_management.test.tsx
  frontend/__tests__/unit/lib/formatPrice.test.ts
  frontend/__tests__/unit/pages/agent_posts.test.tsx
  frontend/__tests__/unit/pages/agent_properties.test.tsx
  frontend/__tests__/unit/pages/property_detail.test.tsx
  frontend/app/agent/[agentName]/page.tsx
  frontend/app/agent/[agentName]/posts/[postId]/page.tsx
  frontend/app/agent/[agentName]/posts/page.tsx
  frontend/app/agent/[agentName]/properties/[propertyId]/page.tsx
  frontend/app/agent/[agentName]/properties/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/app/page.tsx
  frontend/components/AgentProfile.tsx
  frontend/components/Navigation.tsx
  frontend/components/PropertyManagement.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/lib/api.ts
  frontend/lib/api/unified-client.ts
  frontend/lib/properties/api.ts
  production-screenshots/prod_dashboard_20250917_042027.html
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Update test execution timestamps and durations
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Use real database for tests and add conftest
  backend/tests/conftest.py
  backend/tests/test_analytics_service.py
  backend/tests/test_integration.py
  backend/tests/test_post_management_api.py
  backend/tests/test_post_management_service.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add top performing posts endpoint and analytics export
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/post_management.py
  backend/app/api/v1/router.py
  backend/app/services/analytics_service.py
  backend/tests/test_analytics_service.py
  backend/tests/test_post_management_api.py
  backend/tests/test_post_management_service.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor tests for post management API and service
  backend/tests/test_post_management_api.py
  backend/tests/test_post_management_service.py
Owners: @product-manager, @project-manager, @tech-lead

Update GROQ model and improve token usage logging
  backend/app/services/ai_content_service.py
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Update analytics export key and test fixtures
  backend/tests/test_analytics_service.py
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor tests to use real services instead of mocks
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Use httpx.AsyncClient for API testing
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Use TestClient for FastAPI testing
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Mock post service in create post test
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Test: Mock AI service in post management API tests
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Make create post test async
  backend/tests/test_post_management_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Improve mobile responsiveness and dark mode styling
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/Navigation.tsx
  frontend/components/ThemeToggle.tsx
  frontend/styles/components.css
  frontend/styles/tokens.css
Owners: @frontend-team

feat: Add centralized API client with auth interceptor
  frontend/lib/api/centralized-client.ts
Owners: @frontend-team

Refactor: Use centralized API client for all API calls
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/properties/page.tsx
  frontend/components/AnalyticsDashboard.tsx
  frontend/components/EnhancedPropertyMarketingHub.tsx
  frontend/components/FacebookIntegration.tsx
  frontend/components/Onboarding.tsx
  frontend/components/ProfileSettings.tsx
  frontend/components/Properties.tsx
  frontend/components/PublicWebsiteManagement.tsx
  frontend/components/PublishingWorkflowManager.tsx
  frontend/components/QuickPostGenerator.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/TeamManagement.tsx
  frontend/components/property/shared/PropertyImageUpload.tsx
Owners: @frontend-team

Refactor: Centralize AI content generation API calls
  frontend/components/AIContentGenerator.tsx
  frontend/components/UnifiedAIContentGenerator.tsx
  frontend/components/UnifiedPostingHub.example.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/api/centralized-client.ts
Owners: @frontend-team

Refactor: Use centralized API service for properties
  frontend/app/page.tsx
  frontend/components/EnhancedPropertyMarketingHub.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  TECHNICAL_ARCHITECTURE.md
  UX_FLOW_DESIGN.md
  frontend/app/page.tsx
  frontend/components/UnifiedPostingHub.tsx
Owners: @tech-writer, @product-manager, @frontend-team

Checkpoint before follow-up message
  MIGRATION_GUIDE.md
  frontend/app/page.tsx
  frontend/package-lock.json
  frontend/package.json
Owners: @tech-writer, @product-manager, @frontend-team

Checkpoint before follow-up message
  frontend/app/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/social-publishing/page.tsx
  frontend/components/AIContentGenerator.tsx
  frontend/components/AIContentGeneratorModal.tsx
  frontend/components/EnhancedPropertyMarketingHub.tsx
  frontend/components/PublishingWorkflowManager.tsx
  frontend/components/QuickPostGenerator.tsx
  frontend/components/SmartPropertyForm.tsx
  frontend/components/UnifiedAIContentGenerator.tsx
  frontend/components/UnifiedPostingHub.example.tsx
  frontend/lib/api/centralized-client.ts
Owners: @frontend-team

Refactor: Update Team Management API calls and types
  frontend/components/TeamManagement.tsx
  frontend/components/UnifiedPostingHub.tsx
  frontend/lib/api/centralized-client.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/components/UnifiedPostingHub.tsx
  frontend/e2e-results.xml
  frontend/e2e/mcp-tests/api-integration-test.spec.ts
  frontend/e2e/mcp-tests/mongodb-integration-test.spec.ts
  frontend/e2e/mcp-tests/unified-posting-hub-test.spec.ts
  frontend/e2e/mcp-tests/working-e2e-test.spec.ts
Owners: @frontend-team

Refactor: Update AI Tools to AI Generator and add login flow
  frontend/e2e/mcp-tests/working-e2e-test.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/error.tsx
  frontend/app/global-error.tsx
  frontend/app/not-found.tsx
  frontend/e2e-results.xml
  frontend/next.config.js
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Improve dashboard auth logging and update e2e results
  frontend/app/page.tsx
  frontend/e2e-results.xml
Owners: @frontend-team

Update e2e-results.xml with latest test run data
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Improve login form loading state and update e2e results
  frontend/components/auth/LoginForm.tsx
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Reduce auth token verification timeout and remove retry logic
  frontend/app/page.tsx
  frontend/lib/auth/manager.ts
Owners: @frontend-team

Refactor: Remove unnecessary hydration check from LoginForm
  frontend/components/auth/LoginForm.tsx
Owners: @frontend-team

Fix: Reset auth state when no token is found
  frontend/lib/auth/manager.ts
Owners: @frontend-team
