Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

Comment assistant verification touches only its own test comments (only_ids)
  backend/app/modules/engage/service.py
  backend/scripts/verify_engage_live.py
  backend/tests/modules/test_engage.py
Owners: @product-manager, @project-manager, @tech-lead

Group post in the marketing pack (short, dated, tracked as fbgroup) with the agent's own contact line kept on their phone; learned from public Pune property groups
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/facts.py
  backend/app/modules/marketing/schemas.py
  backend/app/modules/marketing/service.py
  backend/tests/modules/test_marketing_content.py
  frontend/__tests__/app/group-card.test.tsx
  frontend/components/app/MarketingPackView.tsx
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Readable lead sources for Facebook groups, comments and website chat
  frontend/__tests__/app/group-card.test.tsx
  frontend/lib/app/leads.ts
Owners: @frontend-team

Text-first Page posts with link previews (brand OG image on every page) and a scheduler
  backend/app/modules/marketing/text_posts.py
  backend/scripts/schedule_text_posts.py
  backend/tests/modules/test_text_posts.py
  frontend/lib/marketing/seo.ts
  frontend/public/brand/og.jpg
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Tell the owner when Facebook rejects the token (error 190): status endpoint and a banner in the Interest tab
  backend/app/modules/engage/graph.py
  backend/app/modules/engage/router.py
  backend/app/modules/engage/service.py
  backend/tests/modules/test_engage.py
  frontend/app/studio/interest/page.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

META_SETUP: rebuild guide with the full use-case and permission matrix (now and later)
  docs/META_SETUP.md
Owners: @tech-writer, @product-manager

Newsroom plan: editorial policy, loosely coupled pipeline, phases
  docs/NEWSROOM_PLAN.md
Owners: @tech-writer, @product-manager

Sprint 2 board and newsroom contract, shared types and policy
  backend/app/modules/newsroom/__init__.py
  backend/app/modules/newsroom/policy.py
  backend/app/modules/newsroom/sources/__init__.py
  backend/app/modules/newsroom/stages/__init__.py
  backend/app/modules/newsroom/types.py
  backend/tests/modules/newsroom/__init__.py
  docs/SCRUM.md
  docs/contracts/newsroom.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom Understand stage: rules-based filter and verbatim-quote fact extraction
  backend/app/modules/newsroom/stages/extract.py
  backend/app/modules/newsroom/stages/filter.py
  backend/tests/modules/newsroom/fixtures/articles/classified.json
  backend/tests/modules/newsroom/fixtures/articles/corridor_no_area.json
  backend/tests/modules/newsroom/fixtures/articles/crime_kharadi.json
  backend/tests/modules/newsroom/fixtures/articles/dup_metro.json
  backend/tests/modules/newsroom/fixtures/articles/horoscope.json
  backend/tests/modules/newsroom/fixtures/articles/hype_promo.json
  backend/tests/modules/newsroom/fixtures/articles/kharadi_bypass.json
  backend/tests/modules/newsroom/fixtures/articles/kharadi_school.json
  backend/tests/modules/newsroom/fixtures/articles/lookalike_kharadi.json
  backend/tests/modules/newsroom/fixtures/articles/metro_line3.json
  backend/tests/modules/newsroom/fixtures/articles/offtopic_mumbai.json
  backend/tests/modules/newsroom/fixtures/articles/rera_kharadi.json
  backend/tests/modules/newsroom/fixtures/articles/ring_road.json
  backend/tests/modules/newsroom/fixtures/articles/stale_metro.json
  backend/tests/modules/newsroom/fixtures/articles/stamp_duty.json
  backend/tests/modules/newsroom/test_extract.py
  backend/tests/modules/newsroom/test_filter.py
  docs/handoff/N1b-understand.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom N1c: draft stage and code-level check stage with adversarial tests
  backend/app/modules/newsroom/stages/check.py
  backend/app/modules/newsroom/stages/draft.py
  backend/tests/modules/newsroom/test_check.py
  backend/tests/modules/newsroom/test_draft.py
  docs/handoff/N1c-write-verify.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom plumbing: store, pipeline, runner, Facebook publisher adapter, owner router
  backend/app/modules/newsroom/adapters.py
  backend/app/modules/newsroom/codec.py
  backend/app/modules/newsroom/config.py
  backend/app/modules/newsroom/pipeline.py
  backend/app/modules/newsroom/router.py
  backend/app/modules/newsroom/runner.py
  backend/app/modules/newsroom/store.py
  backend/tests/modules/newsroom/helpers.py
  backend/tests/modules/newsroom/test_pipeline.py
  backend/tests/modules/newsroom/test_publisher_adapter.py
  backend/tests/modules/newsroom/test_router.py
  backend/tests/modules/newsroom/test_store.py
  docs/handoff/N1d-plumbing.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom sources: Google News RSS, MahaRERA new projects, generic RSS, registry
  backend/app/modules/newsroom/sources/__init__.py
  backend/app/modules/newsroom/sources/_util.py
  backend/app/modules/newsroom/sources/google_news.py
  backend/app/modules/newsroom/sources/maharera.py
  backend/app/modules/newsroom/sources/rss.py
  backend/tests/modules/newsroom/fixtures/sources/generic_atom.xml
  backend/tests/modules/newsroom/fixtures/sources/generic_rss.xml
  backend/tests/modules/newsroom/fixtures/sources/google_news_kharadi.xml
  backend/tests/modules/newsroom/fixtures/sources/maharera_pune_first.html
  backend/tests/modules/newsroom/fixtures/sources/maharera_pune_last.html
  backend/tests/modules/newsroom/test_sources.py
  backend/tests/modules/newsroom/test_sources_maharera.py
  docs/handoff/N1a-sources.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom: only the owner (superuser or NEWSROOM_OWNER_IDS) may review and approve
  backend/app/modules/newsroom/config.py
  backend/app/modules/newsroom/router.py
  backend/tests/modules/newsroom/test_router.py
Owners: @product-manager, @project-manager, @tech-lead

Ops: nightly mongodump backup, restore test, 15-minute health check with optional alert hook, cron installers, runbook section
  deploy/gcp/backup.sh
  deploy/gcp/health_check.sh
  deploy/gcp/install_backup_cron.ps1
  deploy/gcp/install_health_cron.ps1
  deploy/gcp/restore_test.sh
  docs/PILOT_RUNBOOK.md
  docs/handoff/P1-ops.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom review screen in Studio: queue cards, status strip, approve/reject, fixtures and tests
  docs/handoff/N1e-review-ui.md
  frontend/__tests__/app/newsroom.test.tsx
  frontend/app/studio/newsroom/page.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/app/newsroom/CheckResult.tsx
  frontend/components/app/newsroom/FactsList.tsx
  frontend/components/app/newsroom/QueueCard.tsx
  frontend/components/app/newsroom/StatusStrip.tsx
  frontend/lib/app/newsroom.ts
  frontend/lib/app/strings.ts
Owners: @tech-writer, @product-manager, @frontend-team

Newsroom: wire router and loop, dedupe same story, integration test on real stages, board update
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/modules/newsroom/pipeline.py
  backend/app/modules/newsroom/runner.py
  backend/app/modules/newsroom/store.py
  backend/tests/modules/newsroom/test_integration.py
  docs/SCRUM.md
  frontend/lib/app/newsroom.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Newsroom dry-run script for live sources
  backend/scripts/newsroom_dryrun.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom: optional article reader stage (robots, politeness, main-text extraction), wired before extract
  backend/app/modules/newsroom/config.py
  backend/app/modules/newsroom/pipeline.py
  backend/app/modules/newsroom/stages/read.py
  backend/app/modules/newsroom/store.py
  backend/tests/modules/newsroom/fixtures/pages/clean_article.html
  backend/tests/modules/newsroom/fixtures/pages/cookie_banner.html
  backend/tests/modules/newsroom/fixtures/pages/nav_heavy.html
  backend/tests/modules/newsroom/fixtures/pages/og_only.html
  backend/tests/modules/newsroom/fixtures/pages/paywall_teaser.html
  backend/tests/modules/newsroom/test_read.py
  docs/handoff/N2c-reader.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom: direct publisher RSS feeds with real article URLs, relevance pre-check, publisher name for Google News items
  backend/app/modules/newsroom/sources/__init__.py
  backend/app/modules/newsroom/sources/google_news.py
  backend/app/modules/newsroom/sources/publishers.py
  backend/app/modules/newsroom/sources/rss.py
  backend/tests/modules/newsroom/fixtures/sources/publisher_et_realty.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_ht_pune.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_ie_pune.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_news18_pune.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_pmrda.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_punekar.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_thehindu_re.xml
  backend/tests/modules/newsroom/fixtures/sources/publisher_toi_pune.xml
  backend/tests/modules/newsroom/test_sources.py
  backend/tests/modules/newsroom/test_sources_publishers.py
  docs/handoff/N1a-sources.md
  docs/handoff/N2a-publishers.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom: tighten relevance (topic denylist, subject-area rule, score), honest headline-only drafts, check filler and false positives
  backend/app/modules/newsroom/stages/check.py
  backend/app/modules/newsroom/stages/draft.py
  backend/app/modules/newsroom/stages/filter.py
  backend/app/modules/newsroom/stages/topics.py
  backend/tests/modules/newsroom/fixtures/articles/live_car_price_aeris.json
  backend/tests/modules/newsroom/fixtures/articles/live_car_price_thar.json
  backend/tests/modules/newsroom/fixtures/articles/live_festival_forest_county.json
  backend/tests/modules/newsroom/fixtures/articles/live_hotel_manager.json
  backend/tests/modules/newsroom/fixtures/articles/live_kharadi_land_acquisition.json
  backend/tests/modules/newsroom/fixtures/articles/live_maternal_health_kharadi.json
  backend/tests/modules/newsroom/fixtures/articles/live_no_pillar_evidence.json
  backend/tests/modules/newsroom/fixtures/articles/live_one_day_diversion.json
  backend/tests/modules/newsroom/fixtures/articles/live_pg_magarpatta.json
  backend/tests/modules/newsroom/fixtures/articles/live_wagholi_immersion_diversion.json
  backend/tests/modules/newsroom/fixtures/articles/live_wakad_eon_landmark.json
  backend/tests/modules/newsroom/test_n2b_relevance.py
  docs/handoff/N2b-relevance.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Newsroom: publishers first in default sources
  backend/app/modules/newsroom/config.py
Owners: @product-manager, @project-manager, @tech-lead

Merge N2b relevance tightening; dry-run uses the article reader
  backend/scripts/newsroom_dryrun.py
Owners: @product-manager, @project-manager, @tech-lead

Policy: Metro Line 3 (Hinjewadi) is not a Kharadi corridor; add Ramwadi/Wagholi/Kharadi metro
  backend/app/modules/newsroom/policy.py
  backend/tests/modules/newsroom/fixtures/articles/dup_metro.json
  backend/tests/modules/newsroom/fixtures/articles/metro_line3.json
  backend/tests/modules/newsroom/test_sources.py
Owners: @product-manager, @project-manager, @tech-lead

brand_posts: publish the brand cards to Instagram (links become 'link in bio')
  backend/scripts/brand_posts.py
Owners: @product-manager, @project-manager, @tech-lead

Instagram cards are 4:5 portrait so the profile grid does not crop the text
  backend/app/modules/marketing/brand_posts.py
  backend/app/modules/marketing/images.py
  backend/scripts/brand_posts.py
Owners: @product-manager, @project-manager, @tech-lead

engage: answer Instagram comments (bio-link replies, per-channel status, shared caps)
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/config.py
  backend/app/modules/engage/ig_graph.py
  backend/app/modules/engage/router.py
  backend/app/modules/engage/runner.py
  backend/app/modules/engage/service.py
  backend/scripts/verify_engage_live.py
  backend/tests/modules/test_engage_instagram.py
  docs/handoff/I1-instagram-comments.md
  frontend/__tests__/app/interest-instagram.test.tsx
  frontend/app/studio/interest/page.tsx
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Content calendar: 40 evergreen posts, weekly schedule, runner, admin script, owner router
  backend/app/modules/calendar/__init__.py
  backend/app/modules/calendar/config.py
  backend/app/modules/calendar/guards.py
  backend/app/modules/calendar/library.py
  backend/app/modules/calendar/render.py
  backend/app/modules/calendar/router.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/calendar/schedule.py
  backend/app/modules/calendar/store.py
  backend/scripts/calendar_admin.py
  backend/tests/modules/calendar/__init__.py
  backend/tests/modules/calendar/test_admin.py
  backend/tests/modules/calendar/test_library.py
  backend/tests/modules/calendar/test_router.py
  backend/tests/modules/calendar/test_runner.py
  backend/tests/modules/calendar/test_schedule.py
  docs/handoff/C1-calendar.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Merge content calendar and Instagram comments; wire calendar; drop unverified loan post
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/modules/calendar/library.py
  backend/tests/modules/calendar/test_admin.py
  backend/tests/modules/calendar/test_library.py
Owners: @product-manager, @project-manager, @tech-lead

Larger type on portrait brand cards
  backend/app/modules/marketing/brand_posts.py
Owners: @product-manager, @project-manager, @tech-lead

Reels: auto-made vertical videos from our own images, Instagram and Facebook Reels publishing
  backend/app/modules/reels/__init__.py
  backend/app/modules/reels/compose.py
  backend/app/modules/reels/ffmpeg.py
  backend/app/modules/reels/publish.py
  backend/app/modules/reels/templates.py
  backend/requirements.txt
  backend/scripts/reels_admin.py
  backend/tests/modules/reels/__init__.py
  backend/tests/modules/reels/test_compose.py
  backend/tests/modules/reels/test_publish.py
  docs/brand/reel-samples/pitch.mp4
  docs/brand/reel-samples/pitch.png
  docs/brand/reel-samples/tip-photo.mp4
  docs/brand/reel-samples/tip-photo.png
  docs/brand/reel-samples/tip.mp4
  docs/brand/reel-samples/tip.png
  docs/brand/reel-samples/tour.mp4
  docs/brand/reel-samples/tour.png
  docs/handoff/D2-reels.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Reels module merged; keep sample mp4s out of git
  .gitignore
  docs/brand/reel-samples/pitch.mp4
  docs/brand/reel-samples/tip-photo.mp4
  docs/brand/reel-samples/tip.mp4
  docs/brand/reel-samples/tour.mp4
Owners: @product-manager, @project-manager, @tech-lead

Keep shell scripts on LF so they run on the Linux VM
  .gitattributes
Owners: @product-manager, @project-manager, @tech-lead

Calendar: item kinds and approval statuses in the store, adapters to creative, showcase and reels
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/store.py
Owners: @product-manager, @project-manager, @tech-lead

Website audit: before screenshots, audit notes, screenshot script
  docs/brand/web-audit/AUDIT.md
  docs/brand/web-audit/before/agent-d.jpg
  docs/brand/web-audit/before/agent-m.jpg
  docs/brand/web-audit/before/insights-d.jpg
  docs/brand/web-audit/before/insights-m.jpg
  docs/brand/web-audit/before/invite-d.jpg
  docs/brand/web-audit/before/invite-m.jpg
  docs/brand/web-audit/before/join-d.jpg
  docs/brand/web-audit/before/join-m.jpg
  docs/brand/web-audit/before/landing-d.jpg
  docs/brand/web-audit/before/landing-m.jpg
  docs/brand/web-audit/before/localities-d.jpg
  docs/brand/web-audit/before/localities-m.jpg
  docs/brand/web-audit/before/locality-d.jpg
  docs/brand/web-audit/before/locality-m.jpg
  docs/brand/web-audit/before/studio-d.jpg
  docs/brand/web-audit/before/studio-m.jpg
  frontend/e2e/web-audit-shots.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Marketing shell: navy/gold header, Poppins, no double app bar
  frontend/app/insights/[slug]/page.tsx
  frontend/app/localities/[slug]/page.tsx
  frontend/app/request-invite/page.tsx
  frontend/components/Navigation.tsx
  frontend/components/marketing/ContactLines.tsx
  frontend/components/marketing/LegalPage.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/components/marketing/RequestInviteForm.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/components/marketing/SiteHeader.tsx
Owners: @frontend-team

Newsroom: hotel and food items are not buyer news; hyphenated names made of source words pass the name check
  backend/app/modules/newsroom/stages/check.py
  backend/app/modules/newsroom/stages/topics.py
  backend/tests/modules/newsroom/test_n2b_relevance.py
Owners: @product-manager, @project-manager, @tech-lead

Calendar: plan builder, creative builder, preview sheets, approval-gated runner and admin
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/builder.py
  backend/app/modules/calendar/plan.py
  backend/app/modules/calendar/preview.py
  backend/app/modules/calendar/router.py
  backend/app/modules/calendar/runner.py
  backend/scripts/calendar_admin.py
Owners: @product-manager, @project-manager, @tech-lead

Landing: problem-first hero, lead-card phone mock, story, FAQ, short invite form, brand og image
  frontend/__tests__/marketing/landing.test.tsx
  frontend/app/page.tsx
  frontend/components/marketing/LeadCardMock.tsx
  frontend/components/marketing/RequestInviteForm.tsx
  frontend/e2e/render-og.js
  frontend/lib/marketing/font.ts
  frontend/lib/marketing/strings.ts
  frontend/public/brand/og-landing.jpg
Owners: @frontend-team

Calendar: tests for plan rhythm, approval gate, kinds, reels, adapters and admin flow
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/preview.py
  backend/tests/modules/calendar/test_adapters.py
  backend/tests/modules/calendar/test_admin.py
  backend/tests/modules/calendar/test_plan.py
  backend/tests/modules/calendar/test_router.py
  backend/tests/modules/calendar/test_runner.py
Owners: @product-manager, @project-manager, @tech-lead

Agent strip on guides, sample/empty states on agent site, join reassurance, header fit on mobile
  frontend/__tests__/site/listing-states.test.tsx
  frontend/app/insights/[slug]/page.tsx
  frontend/app/insights/page.tsx
  frontend/app/localities/[slug]/page.tsx
  frontend/app/localities/page.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/marketing/AgentStrip.tsx
  frontend/components/marketing/RequestInviteForm.tsx
  frontend/components/marketing/SiteHeader.tsx
  frontend/components/site/ListingBrowser.tsx
  frontend/e2e/web-audit-fold.js
  frontend/e2e/web-audit-shots.js
Owners: @frontend-team
