Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

deploy.ps1: -ContactEmail writes the public contact into the VM's private .env
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

deploy.ps1: scp to a home-relative path (pscp does not expand ~)
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

deploy.ps1: the pilot VM keeps the app in ~/app
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

frontend Dockerfile: real line continuations in the NEXT_PUBLIC ENV block
  frontend/Dockerfile
Owners: @frontend-team

deploy.ps1: ensure .env ends with a newline before appending the contact email
  deploy/gcp/deploy.ps1
Owners: @product-manager, @project-manager, @tech-lead

meta_connect.ps1: exchange tokens locally and write Page credentials to the VM .env without printing them
  deploy/gcp/meta_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

runbook: the pilot VM keeps the app in ~/app
  docs/PILOT_RUNBOOK.md
Owners: @tech-writer, @product-manager

AI listing: a failed voice transcription no longer discards typed text; friendly voice error
  backend/app/modules/ai_listing/router.py
  backend/app/modules/ai_listing/service.py
  backend/tests/modules/test_ai_listing_router.py
Owners: @product-manager, @project-manager, @tech-lead

AI listing: Gemini speech-to-text provider (free tier) + ai_connect.ps1 to verify and apply keys without exposing them
  backend/app/modules/ai_listing/llm.py
  backend/tests/modules/test_ai_listing_service.py
  deploy/gcp/ai_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

ai_connect: fall back across Gemini models when one is busy; transcriber retries once on 429/500/503
  backend/app/modules/ai_listing/llm.py
  backend/tests/modules/test_ai_listing_service.py
  deploy/gcp/ai_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

AI listing: silence returns no speech instead of invented text; text LLM retries once when busy and logs HTTP status
  backend/app/modules/ai_listing/llm.py
  backend/tests/modules/test_ai_listing_service.py
Owners: @product-manager, @project-manager, @tech-lead

AI listing: flag-first Gemini transcription (silence/noise never invent text), model failover chains for STT and text LLM, ai_connect writes the chain
  backend/app/modules/ai_listing/llm.py
  backend/tests/modules/test_ai_listing_service.py
  deploy/gcp/ai_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

AI listing: fail over on timeouts and connection errors too, per-attempt time limits with an overall budget, skip translation when the text AI just failed
  backend/app/modules/ai_listing/llm.py
  backend/app/modules/ai_listing/service.py
  backend/tests/modules/test_ai_listing_service.py
Owners: @product-manager, @project-manager, @tech-lead

Listing review: price sanity guard (85 cr for a 2 BHK warns and needs a confirm tick) + browser check
  frontend/__tests__/app/price-sanity.test.ts
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/ReviewForm.tsx
  frontend/e2e/price-check.js
  frontend/lib/app/validate.ts
Owners: @frontend-team

Posts: redesigned cards (Poppins, chips, skyline, Comment INTERESTED buttons), captions signed by the PUNE Property team, no phone numbers or personal names anywhere
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/facts.py
  backend/app/modules/marketing/fonts/OFL.txt
  backend/app/modules/marketing/fonts/Poppins-Bold.ttf
  backend/app/modules/marketing/fonts/Poppins-Medium.ttf
  backend/app/modules/marketing/fonts/Poppins-Regular.ttf
  backend/app/modules/marketing/fonts/Poppins-SemiBold.ttf
  backend/app/modules/marketing/images.py
  backend/app/modules/social/service.py
  backend/tests/modules/test_marketing_content.py
  backend/tests/modules/test_marketing_images.py
  backend/tests/modules/test_marketing_router.py
  backend/tests/modules/test_social_graph.py
  backend/tests/modules/test_social_service.py
  docs/contracts/landing.md
  docs/contracts/social.md
  frontend/__tests__/app/social-ui.test.tsx
  frontend/lib/app/fixtures-social.ts
  frontend/lib/app/social.ts
  frontend/lib/app/strings.ts
  frontend/lib/marketing/strings.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Voice listing is a Premium feature (visible, disabled, server-gated); browser check for posts without phone numbers
  backend/app/modules/ai_listing/router.py
  backend/tests/modules/test_ai_listing_router.py
  frontend/__tests__/app/voice-premium.test.tsx
  frontend/components/app/VoiceRecorder.tsx
  frontend/e2e/premium-post-check.js
  frontend/lib/app/strings.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Starter posts for the PUNE Property Page (honest buying tips + agent pilot invite) with preview/post script
  backend/app/modules/marketing/brand_posts.py
  backend/scripts/brand_posts.py
  docs/brand/starter-posts/agents.jpg
  docs/brand/starter-posts/carpet-area.jpg
  docs/brand/starter-posts/five-checks.jpg
  docs/brand/starter-posts/rera.jpg
  docs/brand/starter-posts/welcome.jpg
Owners: @product-manager, @project-manager, @tech-lead

AI post polish: LLM rewriting behind a fact/CTA/signature/phone/hype guard, off unless MARKETING_POLISH=true; first Kharadi article draft
  backend/app/modules/ai_listing/llm.py
  backend/app/modules/marketing/polish.py
  backend/app/modules/marketing/router.py
  backend/tests/modules/test_marketing_content.py
  docs/content/kharadi-vs-upper-kharadi-vs-wagholi.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

openrouter_connect.ps1: test OpenRouter free models with your key and write the working chain to the VM
  deploy/gcp/openrouter_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

Polish: strip chatty model wrappers before the fact check
  backend/app/modules/marketing/polish.py
  backend/tests/modules/test_marketing_content.py
Owners: @product-manager, @project-manager, @tech-lead

Polish only the Instagram caption and Facebook post (2 LLM calls per pack instead of 6)
  backend/app/modules/marketing/polish.py
  backend/tests/modules/test_marketing_content.py
Owners: @product-manager, @project-manager, @tech-lead

Brand system: navy + gold, dark skyline with lit windows, PP logo on every card; starter posts re-rendered; replace mode
  backend/app/modules/marketing/assets/logo.png
  backend/app/modules/marketing/brand_posts.py
  backend/app/modules/marketing/images.py
  backend/scripts/brand_posts.py
  docs/brand/starter-posts/agents.jpg
  docs/brand/starter-posts/carpet-area.jpg
  docs/brand/starter-posts/five-checks.jpg
  docs/brand/starter-posts/rera.jpg
  docs/brand/starter-posts/welcome.jpg
Owners: @product-manager, @project-manager, @tech-lead

Insights section (3 sourced Kharadi/Wagholi guides) + three matching Page posts
  backend/app/modules/marketing/brand_posts.py
  docs/brand/starter-posts/kharadi-choose.jpg
  docs/brand/starter-posts/kharadi-metro.jpg
  docs/brand/starter-posts/kharadi-site-visit.jpg
  frontend/app/insights/[slug]/page.tsx
  frontend/app/insights/page.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/lib/marketing/insights.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Agent site in the PUNE Property brand: navy/gold theme, PP logo, skyline hero, I'm interested action, guides section, no phone links by default; labelled sample listings and seeding script
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/facts.py
  backend/app/modules/marketing/images.py
  backend/scripts/seed_samples.py
  backend/tests/modules/test_marketing_content.py
  frontend/__tests__/site/format.test.ts
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/components/site/ContactButtons.tsx
  frontend/components/site/Hero.tsx
  frontend/components/site/ListingCard.tsx
  frontend/components/site/SiteShell.tsx
  frontend/components/site/Skyline.tsx
  frontend/components/site/StickyBar.tsx
  frontend/e2e/site-brand-check.js
  frontend/lib/site/format.ts
  frontend/lib/site/links.ts
  frontend/lib/site/theme.ts
  frontend/public/brand/logo.png
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Onboarding extras: optional photo, logo, Instagram, Facebook (validated) + PATCH /join/site; advisor card on the site; photo prompt and photo upload in the listing editor
  backend/app/modules/onboarding/router.py
  backend/app/modules/onboarding/schemas.py
  backend/app/modules/onboarding/service.py
  backend/tests/modules/test_onboarding.py
  frontend/app/agent/[slug]/page.tsx
  frontend/app/studio/listings/[id]/page.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/ProfileExtras.tsx
  frontend/components/site/SocialLinks.tsx
  frontend/e2e/onboarding-extras.js
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/types.ts
  frontend/lib/site/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Sample photos (credited), photo attach in seed script; enquiry form is signed PUNE Property, not a personal name
  backend/scripts/seed_samples.py
  docs/brand/photo-credits.md
  frontend/__tests__/site/components.test.tsx
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/app/agent/[slug]/page.tsx
  frontend/components/site/EnquiryForm.tsx
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Social: sample listings can never be posted (server-side guard)
  backend/app/modules/social/service.py
  backend/tests/modules/test_social_service.py
Owners: @product-manager, @project-manager, @tech-lead

meta_connect: accurate final message about posting mode
  deploy/gcp/meta_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

Comment assistant for the Page: polling, rules + LLM classification, guarded replies, human queue, caps, record-only default; product plan
  backend/app/api/v1/router.py
  backend/app/core/application.py
  backend/app/modules/ai_listing/llm.py
  backend/app/modules/engage/__init__.py
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/config.py
  backend/app/modules/engage/graph.py
  backend/app/modules/engage/router.py
  backend/app/modules/engage/runner.py
  backend/app/modules/engage/service.py
  backend/tests/modules/fakes.py
  backend/tests/modules/test_engage.py
  docs/PRODUCT_PLAN.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Interest tab in the agent app (Facebook comment activity), Page-level comment owner, comment permalinks
  backend/app/modules/engage/config.py
  backend/app/modules/engage/graph.py
  backend/app/modules/engage/router.py
  backend/app/modules/engage/service.py
  backend/tests/modules/test_engage.py
  frontend/app/studio/interest/page.tsx
  frontend/components/app/AppShell.tsx
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Locality pages (Kharadi, Upper Kharadi, Wagholi) with real-listings feed, FAQ structured data, sitemap.xml and robots.txt
  backend/app/modules/listings/router.py
  backend/app/modules/listings/service.py
  backend/tests/modules/test_listings_service.py
  frontend/__tests__/marketing/localities.test.ts
  frontend/app/localities/[slug]/page.tsx
  frontend/app/localities/page.tsx
  frontend/app/robots.ts
  frontend/app/sitemap.ts
  frontend/components/marketing/SiteFooter.tsx
  frontend/lib/marketing/localities.ts
  frontend/lib/site/api.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

post_samples.py: publish clearly labelled SAMPLE listings to the Page as illustrations
  backend/scripts/post_samples.py
Owners: @product-manager, @project-manager, @tech-lead

verify_engage_live.py: end-to-end check of the comment assistant against the live Page, with cleanup
  backend/scripts/verify_engage_live.py
Owners: @product-manager, @project-manager, @tech-lead

verify_engage_live: keep the real Page id for Graph calls
  backend/scripts/verify_engage_live.py
Owners: @product-manager, @project-manager, @tech-lead

Agent-recruitment posts in English, Hindi and Marathi (Devanagari cards pre-rendered in Chrome); landing copy no longer promises call/WhatsApp buttons
  backend/app/modules/marketing/brand_posts.py
  backend/app/modules/marketing/static_cards/agents-hindi.jpg
  backend/app/modules/marketing/static_cards/agents-marathi.jpg
  backend/scripts/brand_posts.py
  docs/brand/starter-posts/agents-hindi.jpg
  docs/brand/starter-posts/agents-marathi.jpg
  docs/brand/starter-posts/agents-problem.jpg
  frontend/e2e/render-static-cards.js
  frontend/lib/marketing/strings.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Buyer chat: knowledge-base answers, progressive requirement capture, consent-first phone capture creating a normal lead, website widget, agent view of chats that need them
  backend/app/api/v1/router.py
  backend/app/modules/chat/__init__.py
  backend/app/modules/chat/engine.py
  backend/app/modules/chat/kb.py
  backend/app/modules/chat/router.py
  backend/app/modules/chat/service.py
  backend/tests/modules/test_chat.py
  frontend/app/studio/interest/page.tsx
  frontend/components/marketing/MarketingShell.tsx
  frontend/components/site/ChatWidget.tsx
  frontend/components/site/SiteShell.tsx
  frontend/e2e/chat-journey.js
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Weekly summary for agents: real 7-day numbers, concrete next steps, WhatsApp-shareable message without phone numbers
  backend/app/api/v1/router.py
  backend/app/modules/report/__init__.py
  backend/app/modules/report/router.py
  backend/app/modules/report/service.py
  backend/tests/modules/test_report.py
  frontend/app/studio/page.tsx
  frontend/components/app/WeeklyCard.tsx
  frontend/e2e/weekly-check.js
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/types.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Pilot invite kit (EN/HI/MR messages, quick start, check-in script) and plan status update
  docs/AGENT_INVITE_KIT.md
  docs/PRODUCT_PLAN.md
Owners: @tech-writer, @product-manager

Comment assistant: friendly reply to plain greetings (hi, hello)
  backend/app/modules/engage/brain.py
  backend/scripts/verify_engage_live.py
  backend/tests/modules/test_engage.py
Owners: @product-manager, @project-manager, @tech-lead

Comment assistant: questions the LLM labels 'other' still get a holding reply and a queue entry; unknown commenters capped per post; verification script repeatable
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/service.py
  backend/scripts/verify_engage_live.py
  backend/tests/modules/test_engage.py
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
