Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Studio Content screen: review, approve and skip planned posts (tab, client, fixtures, jest)
  frontend/__tests__/app/content.test.tsx
  frontend/app/studio/content/page.tsx
  frontend/components/app/AppShell.tsx
  frontend/components/app/content/ContentCard.tsx
  frontend/lib/app/content.ts
  frontend/lib/app/strings.ts
Owners: @frontend-team

Web audit after screenshots, handoff, e2e helper scripts
  docs/brand/web-audit/after/agent-d.jpg
  docs/brand/web-audit/after/agent-m.jpg
  docs/brand/web-audit/after/insights-d.jpg
  docs/brand/web-audit/after/insights-m.jpg
  docs/brand/web-audit/after/invite-d.jpg
  docs/brand/web-audit/after/invite-errors-m.jpg
  docs/brand/web-audit/after/invite-m.jpg
  docs/brand/web-audit/after/join-d.jpg
  docs/brand/web-audit/after/join-m.jpg
  docs/brand/web-audit/after/landing-d.jpg
  docs/brand/web-audit/after/landing-fold-m.jpg
  docs/brand/web-audit/after/landing-m.jpg
  docs/brand/web-audit/after/landing-submit-ok-m.jpg
  docs/brand/web-audit/after/localities-d.jpg
  docs/brand/web-audit/after/localities-m.jpg
  docs/brand/web-audit/after/locality-d.jpg
  docs/brand/web-audit/after/locality-m.jpg
  docs/brand/web-audit/after/studio-d.jpg
  docs/brand/web-audit/after/studio-m.jpg
  docs/brand/web-audit/before/agent-d.jpg
  docs/brand/web-audit/before/agent-m.jpg
  docs/brand/web-audit/before/landing-d.jpg
  docs/brand/web-audit/before/locality-d.jpg
  docs/brand/web-audit/before/locality-m.jpg
  docs/handoff/W1-website.md
  frontend/e2e/web-audit-shots.js
  frontend/e2e/web-audit-submit.js
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Calendar: plan samples, tip reels over photos, C2 handoff
  backend/app/modules/calendar/adapters.py
  docs/brand/plan-samples/reel-tip-frames.jpg
  docs/brand/plan-samples/week-1-captions.txt
  docs/brand/plan-samples/week-1.jpg
  docs/brand/plan-samples/week-2-captions.txt
  docs/brand/plan-samples/week-2.jpg
  docs/brand/plan-samples/week-3-captions.txt
  docs/brand/plan-samples/week-3.jpg
  docs/brand/plan-samples/week-4-captions.txt
  docs/brand/plan-samples/week-4.jpg
  docs/handoff/C2-integration.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Marketing: Facebook post links to the listing (src=facebook), Instagram caption says link in bio
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/polish.py
  backend/tests/modules/test_marketing_content.py
Owners: @product-manager, @project-manager, @tech-lead

Creative: replace glyphs the card font cannot draw; sign-off on its own line; admin script connects to the database; skip link check without frontend sources
  backend/app/modules/calendar/guards.py
  backend/app/modules/creative/copywriter.py
  backend/app/modules/creative/guards.py
  backend/app/modules/creative/strategist.py
  backend/scripts/calendar_admin.py
  backend/tests/modules/creative/test_stages.py
  docs/brand/plan-live/week-1-captions.txt
  docs/brand/plan-live/week-1.jpg
Owners: @product-manager, @project-manager, @tech-lead

Newsroom: a cycle keeps running passes while there is work, so the first queue fills quickly
  backend/app/modules/newsroom/runner.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom: a headline-only item uses its own headline as the checkable fact
  backend/app/modules/newsroom/stages/extract.py
  docs/brand/plan-live/week-1-captions.txt
  docs/brand/plan-live/week-1.jpg
Owners: @product-manager, @project-manager, @tech-lead

Newsroom drafts: retry the LLM, then fall back to the plain template
  backend/app/modules/newsroom/stages/draft.py
  backend/tests/modules/newsroom/conftest.py
  backend/tests/modules/newsroom/test_draft.py
Owners: @product-manager, @project-manager, @tech-lead

Update draft test for the template fallback
  backend/tests/modules/newsroom/test_n2b_relevance.py
Owners: @product-manager, @project-manager, @tech-lead

Contract: interest links, posts on site, grounded replies, project and area knowledge
  docs/contracts/engagement.md
Owners: @tech-writer, @product-manager

Calendar: standard post footer with limits
  backend/app/modules/calendar/footer.py
  backend/tests/modules/calendar/test_footer.py
Owners: @product-manager, @project-manager, @tech-lead

Calendar: public posts endpoint
  backend/app/modules/calendar/footer.py
  backend/app/modules/calendar/public.py
  backend/tests/modules/calendar/test_public.py
Owners: @product-manager, @project-manager, @tech-lead

Interest links and link-in-bio hub backend
  backend/app/modules/interest/router.py
  backend/app/modules/interest/service.py
  backend/app/modules/interest/store.py
  backend/tests/modules/interest/__init__.py
  backend/tests/modules/interest/test_interest.py
Owners: @product-manager, @project-manager, @tech-lead

LLM: Gemini backup provider; newsroom: quoted-and-credited template draft when no model is available
  backend/app/modules/ai_listing/llm.py
  backend/app/modules/newsroom/stages/check.py
  backend/app/modules/newsroom/stages/draft.py
  backend/tests/modules/newsroom/test_n2b_relevance.py
  backend/tests/modules/test_ai_listing_service.py
Owners: @product-manager, @project-manager, @tech-lead

About: optional project and area info on listings, area-guide suggestion endpoint, draft extraction, caption highlights
  backend/app/modules/ai_listing/about.py
  backend/app/modules/ai_listing/area_seed.py
  backend/app/modules/ai_listing/router.py
  backend/app/modules/ai_listing/service.py
  backend/app/modules/listings/about.py
  backend/app/modules/listings/schemas.py
  backend/app/modules/marketing/content.py
  backend/app/modules/marketing/facts.py
  backend/tests/modules/test_ai_listing_about.py
  backend/tests/modules/test_listings_about.py
  backend/tests/modules/test_marketing_content.py
Owners: @product-manager, @project-manager, @tech-lead

Fix about test expectation
  backend/tests/modules/test_ai_listing_about.py
Owners: @product-manager, @project-manager, @tech-lead

Site: posts section, /posts page, social strip, contact block, sameAs
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/posts/posts-site.test.tsx
  frontend/app/page.tsx
  frontend/app/posts/loading.tsx
  frontend/app/posts/page.tsx
  frontend/app/sitemap.ts
  frontend/components/marketing/ContactBlock.tsx
  frontend/components/marketing/SiteFooter.tsx
  frontend/components/site/PostCard.tsx
  frontend/components/site/PostsGrid.tsx
  frontend/components/site/PostsSection.tsx
  frontend/components/site/SiteShell.tsx
  frontend/components/site/SocialStrip.tsx
  frontend/lib/marketing/seo.ts
  frontend/lib/marketing/social.ts
  frontend/lib/posts/data.ts
Owners: @frontend-team

Knowledge: area facts, grounding and grounded reply engine
  backend/app/modules/knowledge/__init__.py
  backend/app/modules/knowledge/areas.py
  backend/app/modules/knowledge/grounding.py
  backend/app/modules/knowledge/reply.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom: fraud and arrest stories are not buyer news
  backend/app/modules/newsroom/stages/filter.py
Owners: @product-manager, @project-manager, @tech-lead

Interest landing /i/[code] and link-in-bio hub /go
  frontend/__tests__/interest/interest-pages.test.tsx
  frontend/__tests__/interest/interest-tap-route.test.ts
  frontend/app/go/layout.tsx
  frontend/app/go/page.tsx
  frontend/app/i/[code]/InterestActions.tsx
  frontend/app/i/[code]/page.tsx
  frontend/app/i/[code]/tap/route.ts
  frontend/app/i/layout.tsx
  frontend/lib/interest/api.ts
Owners: @frontend-team

Engage: questions are answered from the post's facts; a person is asked only when something is missing
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/service.py
  backend/app/modules/knowledge/reply.py
  backend/tests/modules/test_engage.py
  backend/tests/modules/test_engage_instagram.py
Owners: @product-manager, @project-manager, @tech-lead

Chat: answer about the listing, post or area the visitor is on (optional context), keep consent-first capture
  backend/app/modules/chat/engine.py
  backend/app/modules/chat/router.py
  backend/app/modules/chat/service.py
  backend/app/modules/knowledge/grounding.py
  backend/tests/modules/test_chat.py
Owners: @product-manager, @project-manager, @tech-lead

Chat widget sends the page context (listing or locality) from the URL
  frontend/__tests__/unit/lib/chatContext.test.ts
  frontend/components/site/ChatWidget.tsx
  frontend/lib/site/chatContext.ts
Owners: @frontend-team

Knowledge tests: areas in sync with the site pages, grounding for listings, samples, posts and areas
  backend/app/modules/knowledge/reply.py
  backend/tests/modules/knowledge/__init__.py
  backend/tests/modules/knowledge/test_areas.py
  backend/tests/modules/knowledge/test_grounding.py
Owners: @product-manager, @project-manager, @tech-lead

Knowledge tests: areas in sync with the site pages, grounding for listings, samples, posts and areas
  backend/tests/modules/knowledge/test_areas.py
Owners: @product-manager, @project-manager, @tech-lead

X1 handoff and interest screenshots
  docs/brand/interest-samples/hub.jpg
  docs/brand/interest-samples/interest-listing-start.jpg
  docs/brand/interest-samples/interest-sample-start.jpg
  docs/brand/interest-samples/interest-sample-tapped.jpg
  docs/handoff/X1-interest.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

About step in the new-listing flow, review summary, public About section
  frontend/__tests__/app/about-step.test.tsx
  frontend/app/agent/[slug]/listings/[id]/page.tsx
  frontend/components/app/AboutStep.tsx
  frontend/components/app/NewListingFlow.tsx
  frontend/components/app/ReviewForm.tsx
  frontend/components/site/ListingAbout.tsx
  frontend/lib/app/about.ts
  frontend/lib/app/api.ts
  frontend/lib/app/fixtures.ts
  frontend/lib/app/strings.ts
  frontend/lib/app/types.ts
  frontend/lib/site/fixtures.ts
  frontend/lib/site/types.ts
Owners: @frontend-team

Wire interest routers; hide platform navigation on /i, /go, /posts
  backend/app/api/v1/router.py
  frontend/components/Navigation.tsx
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Knowledge: reply table in four languages, LLM output checks (grounding-only numbers, names and claims), booking and power topics
  backend/app/modules/knowledge/reply.py
  backend/tests/modules/knowledge/test_reply.py
Owners: @product-manager, @project-manager, @tech-lead

Knowledge: eval script and handoff
  backend/scripts/knowledge_eval.py
  docs/handoff/X3-knowledge.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Posts site: screenshots, handoff, hide root nav on /posts
  docs/brand/posts-site-samples/footer-d.jpg
  docs/brand/posts-site-samples/footer-m.jpg
  docs/brand/posts-site-samples/landing-posts-d.jpg
  docs/brand/posts-site-samples/landing-posts-m.jpg
  docs/brand/posts-site-samples/posts-d.jpg
  docs/brand/posts-site-samples/posts-m.jpg
  docs/handoff/X2-posts-site.md
  frontend/components/Navigation.tsx
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

About: maintenance amount only, single-column fields, screenshots and handoff
  backend/app/modules/ai_listing/about.py
  backend/tests/modules/test_ai_listing_about.py
  backend/tests/modules/test_listings_about.py
  docs/brand/about-step-samples/1-about-top.jpg
  docs/brand/about-step-samples/2-about-suggestions.jpg
  docs/brand/about-step-samples/3-about-full.jpg
  docs/brand/about-step-samples/4-review-summary.jpg
  docs/brand/about-step-samples/5-public-section.jpg
  docs/brand/about-step-samples/6-public-section-only.jpg
  docs/handoff/X4-about.md
  frontend/components/app/AboutStep.tsx
  frontend/e2e/about-step-shots.js
  frontend/lib/app/fixtures.ts
  frontend/lib/site/fixtures.ts
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

Calendar: interest line, footer and hub registration at publish time
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/runner.py
  backend/app/modules/calendar/store.py
  backend/tests/modules/calendar/test_runner.py
Owners: @product-manager, @project-manager, @tech-lead

Integrate X1-X4: interest links in captions and replies, public posts, about step, grounded replies
  backend/app/modules/engage/runner.py
  backend/tests/modules/calendar/test_runner.py
Owners: @product-manager, @project-manager, @tech-lead

Calendar tests: captions now carry the footer
  backend/tests/modules/calendar/test_runner.py
Owners: @product-manager, @project-manager, @tech-lead

AI providers: Groq 120B then 20B, OpenRouter as fallback; ai_connect writes both
  backend/app/modules/ai_listing/llm.py
  backend/tests/modules/test_ai_listing_service.py
  deploy/gcp/ai_connect.ps1
Owners: @product-manager, @project-manager, @tech-lead

Pilot region: listings and agent sites are Pune only (ALLOWED_CITIES widens it); invite.ps1 helper
  backend/app/core/region.py
  backend/app/modules/listings/schemas.py
  backend/app/modules/onboarding/schemas.py
  backend/tests/modules/test_region.py
  deploy/gcp/invite.ps1
Owners: @product-manager, @project-manager, @tech-lead

Newsroom N3: presentation helpers, news cards (IG/FB), weekly digest builder and samples
  backend/app/modules/newsroom/cards.py
  backend/app/modules/newsroom/digest.py
  backend/app/modules/newsroom/presentation.py
  backend/app/modules/newsroom/samples.py
  backend/app/modules/newsroom/stages/draft.py
  backend/app/modules/newsroom/store.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom N3: final captions, multi-channel publish, public news API, owner preview, digest scheduling
  backend/app/modules/newsroom/adapters.py
  backend/app/modules/newsroom/captions.py
  backend/app/modules/newsroom/digest.py
  backend/app/modules/newsroom/pipeline.py
  backend/app/modules/newsroom/preview.py
  backend/app/modules/newsroom/public.py
  backend/app/modules/newsroom/router.py
  backend/app/modules/newsroom/runner.py
  backend/app/modules/newsroom/store.py
  backend/tests/modules/newsroom/conftest.py
  backend/tests/modules/newsroom/test_router.py
Owners: @product-manager, @project-manager, @tech-lead

Newsroom N3: backend tests for public news, cards, publishing, digest, captions and preview
  backend/app/modules/newsroom/captions.py
  backend/tests/modules/newsroom/test_n3_captions_router.py
  backend/tests/modules/newsroom/test_n3_cards.py
  backend/tests/modules/newsroom/test_n3_digest.py
  backend/tests/modules/newsroom/test_n3_public.py
  backend/tests/modules/newsroom/test_n3_publish.py
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
