Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager

feat: Enhanced Next.js app with comprehensive API integration, error handling, and form validation
  nextjs-app/app/layout.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @product-manager, @project-manager, @tech-lead

fix: Resolve TypeScript validation errors and improve Zod schema structure
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead

fix: Resolve TypeScript validation errors and improve Zod schema structure
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead

fix: Resolve TypeScript validation errors and improve Zod schema structure
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/lib/auth.ts
  nextjs-app/lib/validation.ts
Owners: @product-manager, @project-manager, @tech-lead

feat: Complete API integration - Backend verification and frontend refactoring
  API_INTEGRATION_REPORT.md
  nextjs-app/app/page.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Complete API integration - Backend verification and frontend refactoring
  API_INTEGRATION_REPORT.md
  nextjs-app/app/page.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Complete API integration - Backend verification and frontend refactoring
  API_INTEGRATION_REPORT.md
  nextjs-app/app/page.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Address high-priority recommendations - Production readiness improvements
  nextjs-app/README.md
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingSpinner.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/env.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Address high-priority recommendations - Production readiness improvements
  nextjs-app/README.md
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingSpinner.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/env.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Address high-priority recommendations - Production readiness improvements
  nextjs-app/README.md
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingSpinner.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/env.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

ds
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/ThemeProvider.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/theme.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  nextjs-app/tests/e2e/auth.spec.ts
  nextjs-app/tests/e2e/dashboard.spec.ts
  nextjs-app/tests/e2e/property-form.spec.ts
  nextjs-app/tests/unit/components/DashboardStats.test.tsx
  nextjs-app/tests/unit/components/LoadingSpinner.test.tsx
  nextjs-app/tests/unit/lib/auth.test.ts
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead

ds
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/ThemeProvider.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/theme.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  nextjs-app/tests/e2e/auth.spec.ts
  nextjs-app/tests/e2e/dashboard.spec.ts
  nextjs-app/tests/e2e/property-form.spec.ts
  nextjs-app/tests/unit/components/DashboardStats.test.tsx
  nextjs-app/tests/unit/components/LoadingSpinner.test.tsx
  nextjs-app/tests/unit/lib/auth.test.ts
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead

ds
  nextjs-app/app/globals.css
  nextjs-app/app/layout.tsx
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/Analytics.tsx
  nextjs-app/components/FacebookIntegration.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/ThemeProvider.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/theme.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  nextjs-app/tests/e2e/auth.spec.ts
  nextjs-app/tests/e2e/dashboard.spec.ts
  nextjs-app/tests/e2e/property-form.spec.ts
  nextjs-app/tests/unit/components/DashboardStats.test.tsx
  nextjs-app/tests/unit/components/LoadingSpinner.test.tsx
  nextjs-app/tests/unit/lib/auth.test.ts
  nextjs-app/tsconfig.json
Owners: @product-manager, @project-manager, @tech-lead

df
  .dockerignore
  CLEANUP_SUMMARY.md
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/services/auth_service.py
  docker-compose.yml
  nextjs-app/.dockerignore
  nextjs-app/Dockerfile.frontend
  nextjs-app/TEST_SUMMARY.md
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/jest.setup.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  requirements.txt
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

df
  .dockerignore
  CLEANUP_SUMMARY.md
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/services/auth_service.py
  docker-compose.yml
  nextjs-app/.dockerignore
  nextjs-app/Dockerfile.frontend
  nextjs-app/TEST_SUMMARY.md
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/jest.setup.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  requirements.txt
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

df
  .dockerignore
  CLEANUP_SUMMARY.md
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/services/auth_service.py
  docker-compose.yml
  nextjs-app/.dockerignore
  nextjs-app/Dockerfile.frontend
  nextjs-app/TEST_SUMMARY.md
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/crm-features-section.png
  nextjs-app/error-screenshot.png
  nextjs-app/facebook-content-found.png
  nextjs-app/facebook-integration-error.png
  nextjs-app/facebook-integration-search.png
  nextjs-app/jest.config.js
  nextjs-app/jest.setup.js
  nextjs-app/language-features-section.png
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/property-management-section.png
  nextjs-app/step1-login-page.png
  nextjs-app/step2-login-form-filled.png
  nextjs-app/step3-after-login.png
  nextjs-app/step4-dashboard.png
  requirements.txt
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer, @frontend-team

df
  IMPLEMENTATION_GUIDE.md
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/onboarding.py
  app/api/v1/endpoints/simple_auth.py
  app/api/v1/endpoints/smart_properties.py
  app/api/v1/router.py
  app/core/config.py
  app/core/database.py
  app/main.py
  app/repositories/user_repository.py
  app/schemas/onboarding.py
  app/schemas/user.py
  app/services/auth_service.py
  app/services/facebook_service.py
  app/services/onboarding_service.py
  app/utils/__init__.py
  app/utils/ai.py
  app/utils/validation.py
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/onboarding.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/tests/onboarding.spec.ts
  requirements.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

df
  IMPLEMENTATION_GUIDE.md
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/onboarding.py
  app/api/v1/endpoints/simple_auth.py
  app/api/v1/endpoints/smart_properties.py
  app/api/v1/router.py
  app/core/config.py
  app/core/database.py
  app/main.py
  app/repositories/user_repository.py
  app/schemas/onboarding.py
  app/schemas/user.py
  app/services/auth_service.py
  app/services/facebook_service.py
  app/services/onboarding_service.py
  app/utils/__init__.py
  app/utils/ai.py
  app/utils/validation.py
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/onboarding.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/tests/onboarding.spec.ts
  requirements.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

df
  IMPLEMENTATION_GUIDE.md
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/onboarding.py
  app/api/v1/endpoints/simple_auth.py
  app/api/v1/endpoints/smart_properties.py
  app/api/v1/router.py
  app/core/config.py
  app/core/database.py
  app/main.py
  app/repositories/user_repository.py
  app/schemas/onboarding.py
  app/schemas/user.py
  app/services/auth_service.py
  app/services/facebook_service.py
  app/services/onboarding_service.py
  app/utils/__init__.py
  app/utils/ai.py
  app/utils/validation.py
  nextjs-app/app/login/page.tsx
  nextjs-app/app/onboarding/page.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/onboarding.ts
  nextjs-app/lib/validation.ts
  nextjs-app/package.json
  nextjs-app/playwright.config.ts
  nextjs-app/tests/onboarding.spec.ts
  requirements.txt
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  app/api/v1/endpoints/auth.py
  app/core/database.py
  app/schemas/user.py
  app/utils/__init__.py
  nextjs-app/package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message (#10)
  app/api/v1/endpoints/auth.py
  app/core/database.py
  app/schemas/user.py
  app/utils/__init__.py
  nextjs-app/package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message (#10)
  app/api/v1/endpoints/auth.py
  app/core/database.py
  app/schemas/user.py
  app/utils/__init__.py
  nextjs-app/package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message (#10)
  app/api/v1/endpoints/auth.py
  app/core/database.py
  app/schemas/user.py
  app/utils/__init__.py
  nextjs-app/package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor auth endpoints, add simple auth, and improve database handling
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/simple_auth.py
  app/api/v1/router.py
  app/core/database.py
  app/main.py
  app/schemas/user.py
  nextjs-app/lib/api.ts
  nextjs-app/package-lock.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor auth service initialization and update project dependencies
  app/api/v1/endpoints/auth.py
  app/core/config.py
  app/main.py
  app/schemas/user.py
  app/utils/__init__.py
  app/utils/jwt.py
  app/utils/sanitization.py
  nextjs-app/frontend.log
  nextjs-app/lib/api.ts
  nextjs-app/package-lock.json
  requirements.txt
Owners: @product-manager, @project-manager, @tech-lead

Refactor project structure, update imports, and remove unused dependencies
  app/api/v1/endpoints/agent_onboarding.py
  app/api/v1/endpoints/auth.py
  app/core/database.py
  app/core/mock_database.py
  app/main.py
  app/schemas/user.py
  app/services/agent_onboarding_service.py
  app/utils/__init__.py
  app/utils_dir/__init__.py
  app/utils_dir/ai.py
  app/utils_dir/validation.py
  app/utils_dir/whatsapp.py
  nextjs-app/lib/api.ts
  nextjs-app/package-lock.json
  test_auth.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor auth service, update dependencies, and clean up package configuration
  app/api/v1/endpoints/auth.py
  app/core/config.py
  app/repositories/user_repository.py
  app/schemas/user.py
  app/services/auth_service.py
  nextjs-app/lib/api.ts
  nextjs-app/package-lock.json
  test_auth.py
Owners: @product-manager, @project-manager, @tech-lead

Upgrade Pydantic, remove testing dependencies, and update token import
  app/api/v1/endpoints/auth.py
  app/main_simple.py
  app/schemas/user.py
  nextjs-app/lib/api.ts
  nextjs-app/package-lock.json
  requirements.txt
  test_api.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor auth flow, improve token verification, and add dev mode handling
  app/api/v1/endpoints/auth.py
  app/main.py
  app/utils/__init__.py
  nextjs-app/lib/api.ts
Owners: @product-manager, @project-manager, @tech-lead

Add email to user registration and secure response schemas
  app/api/v1/endpoints/auth.py
  app/schemas/user.py
Owners: @product-manager, @project-manager, @tech-lead

Implement JWT auth, onboarding, and in-memory user management
  MERGE_SUMMARY.md
  app/main.py
  app/main_simple.py
  test_api.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

f
  .gitignore
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/main.py
  app/repositories/user_repository.py
  app/utils.py
  docker-compose.yml
  nextjs-app/Dockerfile.frontend
  nextjs-app/app/globals.css
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingStates.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/hooks/useLoading.ts
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/error-handler.ts
  nextjs-app/lib/form-validation.ts
  nextjs-app/lib/validation.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

f
  .gitignore
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/main.py
  app/repositories/user_repository.py
  app/utils.py
  docker-compose.yml
  nextjs-app/Dockerfile.frontend
  nextjs-app/app/globals.css
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingStates.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/hooks/useLoading.ts
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/error-handler.ts
  nextjs-app/lib/form-validation.ts
  nextjs-app/lib/validation.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

f
  .gitignore
  Dockerfile
  app/api/v1/endpoints/auth.py
  app/main.py
  app/repositories/user_repository.py
  app/utils.py
  docker-compose.yml
  nextjs-app/Dockerfile.frontend
  nextjs-app/app/globals.css
  nextjs-app/app/login/page.tsx
  nextjs-app/app/page.tsx
  nextjs-app/components/CRM.tsx
  nextjs-app/components/DashboardStats.tsx
  nextjs-app/components/ErrorBoundary.tsx
  nextjs-app/components/LoadingStates.tsx
  nextjs-app/components/Onboarding.tsx
  nextjs-app/components/ProfileSettings.tsx
  nextjs-app/components/Properties.tsx
  nextjs-app/components/PropertyForm.tsx
  nextjs-app/hooks/useLoading.ts
  nextjs-app/lib/api.ts
  nextjs-app/lib/auth.ts
  nextjs-app/lib/error-handler.ts
  nextjs-app/lib/form-validation.ts
  nextjs-app/lib/validation.ts
  nextjs-app/next.config.js
  nextjs-app/package-lock.json
  nextjs-app/package.json
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

Clean up repository: remove build artifacts and update .gitignore
  .gitignore
  docker-compose.yml
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

Clean up repository: remove build artifacts and update .gitignore
  .gitignore
  docker-compose.yml
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

Clean up repository: remove build artifacts and update .gitignore
  .gitignore
  docker-compose.yml
  nextjs-app/types/user.ts
Owners: @product-manager, @project-manager, @tech-lead

Describe the Facebook OAuth scope + settings changes
  backend/app/api/v1/endpoints/auth.py
Owners: @product-manager, @project-manager, @tech-lead

Describe the Facebook OAuth scope + settings changes
  backend/app/api/v1/endpoints/auth.py
Owners: @product-manager, @project-manager, @tech-lead

Describe the Facebook OAuth scope + settings changes
  backend/app/api/v1/endpoints/auth.py
Owners: @product-manager, @project-manager, @tech-lead
