Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Replies understand questions in any wording: Hindi, Marathi and keyword-less questions reach the home's facts
  backend/app/modules/chat/engine.py
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/service.py
  backend/app/modules/knowledge/reply.py
  backend/tests/modules/knowledge/test_reply.py
  backend/tests/modules/test_chat_v2.py
  backend/tests/modules/test_engage.py
Owners: @product-manager, @project-manager, @tech-lead

Answer gaps: unanswered questions become one task for the agent, and close themselves once the fact is added
  backend/app/modules/chat/engine.py
  backend/app/modules/knowledge/gaps.py
  backend/app/modules/notifications/service.py
  backend/app/worker.py
  backend/tests/modules/knowledge/test_gaps.py
  backend/tests/modules/test_chat_v2.py
  backend/tests/test_worker.py
  docs/CONTENT_PLATFORM.md
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Claim your free trial: TRIAL on WhatsApp returns the sign-up code at once; 'pilot' becomes the free-trial offer everywhere agents look
  backend/app/modules/calendar/adapters.py
  backend/app/modules/calendar/guards.py
  backend/app/modules/calendar/library.py
  backend/app/modules/chat/kb.py
  backend/app/modules/engage/brain.py
  backend/app/modules/engage/service.py
  backend/app/modules/marketing/brand_posts.py
  backend/app/modules/marketing/text_posts.py
  backend/app/modules/onboarding/invites.py
  backend/app/modules/onboarding/trial.py
  backend/app/modules/reels/agent_reels.py
  backend/app/modules/waitlist/schemas.py
  backend/app/modules/whatsapp/adapters.py
  backend/app/modules/whatsapp/service.py
  backend/tests/modules/reels/test_agent_reels.py
  backend/tests/modules/test_engage.py
  backend/tests/modules/test_trial.py
  frontend/__tests__/marketing/for-agents.test.tsx
  frontend/__tests__/marketing/landing.test.tsx
  frontend/__tests__/marketing/legal-pages.test.tsx
  frontend/__tests__/marketing/site-nav.test.tsx
  frontend/__tests__/marketing/trial.test.tsx
  frontend/__tests__/site/listing-states.test.tsx
  frontend/app/for-agents/content.ts
  frontend/app/page.tsx
  frontend/app/pilot/page.tsx
  frontend/app/sitemap.ts
  frontend/app/trial/page.tsx
  frontend/components/Navigation.tsx
  frontend/components/app/JoinFlow.tsx
  frontend/components/marketing/AgentStrip.tsx
  frontend/components/marketing/StickyJoinBar.tsx
  frontend/components/marketing/siteLinks.ts
  frontend/lib/marketing/strings.ts
  frontend/lib/marketing/trial.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Legal pages: free trial instead of pilot; privacy covers WhatsApp trial claims
  frontend/lib/marketing/strings.ts
Owners: @frontend-team

Campaign calendar rows carry the listing's project, locality and type, so the publish-time hashtags do not depend on the caption's wording
  backend/app/modules/propertyfacts/jobs.py
  backend/app/modules/propertyfacts/schedule.py
Owners: @product-manager, @project-manager, @tech-lead

Campaign posts: caption opens with the card headline, cards in the post language, agent contact strip, per-angle questions, facts-only guards, Marathi glossary
  backend/app/modules/creative/copywriter.py
  backend/app/modules/creative/critic.py
  backend/app/modules/creative/guards.py
  backend/app/modules/creative/i18n.py
  backend/app/modules/creative/layouts/__init__.py
  backend/app/modules/creative/layouts/base.py
  backend/app/modules/creative/layouts/before_after.py
  backend/app/modules/creative/layouts/big_number.py
  backend/app/modules/creative/layouts/checklist.py
  backend/app/modules/creative/layouts/myth_fact.py
  backend/app/modules/creative/layouts/photo_led.py
  backend/app/modules/creative/layouts/poll.py
  backend/app/modules/creative/layouts/quote_tip.py
  backend/app/modules/creative/models.py
  backend/app/modules/creative/pipeline.py
  backend/app/modules/creative/prompts.py
  backend/app/modules/creative/strategist.py
  backend/app/modules/creative/translate.py
  backend/app/modules/propertyfacts/campaign.py
  backend/app/modules/propertyfacts/identity.py
  backend/tests/modules/creative/fixtures/prompt_versions.json
  backend/tests/modules/creative/test_facts_only.py
  backend/tests/modules/creative/test_prompts.py
  backend/tests/modules/propertyfacts/test_agent_posts.py
  backend/tests/modules/propertyfacts/test_campaign.py
  backend/tests/modules/propertyfacts/test_campaign_prompts.py
Owners: @product-manager, @project-manager, @tech-lead

Campaign v2: contact card centred, initials for an agent without a logo, Marathi price words, Marathi link line, narrower tap guard; Gulmohar City v2 contact sheet
  backend/app/modules/creative/guards.py
  backend/app/modules/creative/i18n.py
  backend/app/modules/creative/layouts/base.py
  backend/app/modules/propertyfacts/campaign.py
  backend/tests/modules/creative/test_facts_only.py
  backend/tests/modules/propertyfacts/test_campaign.py
  docs/content/showcase/gulmohar-city/campaign-v2.md
  docs/content/showcase/gulmohar-city/contact-sheet-v2.jpg
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Campaign hashtag fields come from the checked fact sheet (Ranjangaon, Gulmohar City from MahaRERA), the listing as typed is only the fallback
  backend/app/modules/propertyfacts/jobs.py
  backend/app/modules/propertyfacts/schedule.py
Owners: @product-manager, @project-manager, @tech-lead

docs/MARKETING.md: hashtags per channel from reach.py, showcase posting retired
  docs/MARKETING.md
Owners: @tech-writer, @product-manager

Agent reel caption fix script test: expect the /trial link (the merge of #60 left the old /pilot link here)
  backend/tests/modules/reels/test_agent_reels_scripts.py
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
