Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Checkpoint before follow-up message
  frontend/lib/validation.ts
  test_complete_user_journey.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/lib/validation.ts
  test_complete_user_journey.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Refactor: Update API endpoints and property data structure
  test_complete_user_journey.py
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Update API endpoints and property data structure
  test_complete_user_journey.py
Owners: @product-manager, @project-manager, @tech-lead

Skip tests due to API endpoint issues
  test_complete_user_journey.py
Owners: @product-manager, @project-manager, @tech-lead

Skip tests due to API endpoint issues
  test_complete_user_journey.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add UI, database, and API integration test
  test_ui_database_api.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add UI, database, and API integration test
  test_ui_database_api.py
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

feat: Add agent profile page sections and styling
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

feat: Add agent profile page sections and styling
  frontend/app/agent/[agentName]/page.tsx
Owners: @frontend-team

feat: Implement single URL deployment architecture
  SINGLE_URL_DEPLOYMENT_GUIDE.md
  docker-compose.yml
  docker/nginx.conf
  frontend/app/agent/[agentName]/page.tsx
  frontend/lib/api.ts
  test_single_url_deployment.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Implement single URL deployment architecture
  SINGLE_URL_DEPLOYMENT_GUIDE.md
  docker-compose.yml
  docker/nginx.conf
  frontend/app/agent/[agentName]/page.tsx
  frontend/lib/api.ts
  test_single_url_deployment.py
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

fix: Critical security and architecture improvements
  ARCHITECTURE_ANALYSIS.md
  ARCHITECTURE_REVIEW_REQUEST.md
  docker/nginx.conf
  frontend/lib/api.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

fix: Critical security and architecture improvements
  ARCHITECTURE_ANALYSIS.md
  ARCHITECTURE_REVIEW_REQUEST.md
  docker/nginx.conf
  frontend/lib/api.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Enhanced domain management for dynamic URLs
  DOMAIN_MANAGEMENT_GUIDE.md
  docker/nginx-dynamic-cors.conf
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Enhanced domain management for dynamic URLs
  DOMAIN_MANAGEMENT_GUIDE.md
  docker/nginx-dynamic-cors.conf
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

feat: Add E2E and CORS test suites
  test_cors_functionality.py
  test_e2e_verification.py
Owners: @product-manager, @project-manager, @tech-lead

feat: Add E2E and CORS test suites
  test_cors_functionality.py
  test_e2e_verification.py
Owners: @product-manager, @project-manager, @tech-lead

docs: Add comprehensive setup guides for all platforms
  README.md
  SETUP_GUIDES.md
  quick-start-docker.sh
  quick-start-unix.sh
  quick-start-windows.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

docs: Add comprehensive setup guides for all platforms
  README.md
  SETUP_GUIDES.md
  quick-start-docker.sh
  quick-start-unix.sh
  quick-start-windows.bat
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

fix: Add missing environment template files
  frontend/env.template
Owners: @frontend-team

fix: Add missing environment template files
  frontend/env.template
Owners: @frontend-team

fix: Add environment template files to repository
  backend/.env.template
  frontend/.env.local.example
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

fix: Add environment template files to repository
  backend/.env.template
  frontend/.env.local.example
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Add .env.local.example to gitignore
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

Add .env.local.example to gitignore
  .gitignore
Owners: @product-manager, @project-manager, @tech-lead

fix: Update Pydantic validators to v2 syntax
  backend/app/core/config.py
Owners: @product-manager, @project-manager, @tech-lead

Fix: Prevent infinite loop in profile loading
  frontend/components/ProfileSettings.tsx
Owners: @frontend-team

Fix: Prevent infinite loop in profile loading
  frontend/components/ProfileSettings.tsx
Owners: @frontend-team

Refactor profile loading state management
  frontend/components/ProfileSettings.tsx
Owners: @frontend-team

Refactor profile loading state management
  frontend/components/ProfileSettings.tsx
Owners: @frontend-team

Refactor: Improve profile settings loading and error handling
  PRODUCTION_READY_SOLUTION.md
  frontend/components/ProfileSettings.tsx
  frontend/test-profile-settings.js
Owners: @tech-writer, @product-manager, @frontend-team

Refactor: Improve profile settings loading and error handling
  PRODUCTION_READY_SOLUTION.md
  frontend/components/ProfileSettings.tsx
  frontend/test-profile-settings.js
Owners: @tech-writer, @product-manager, @frontend-team

Fix: Resolve ProfileSettings infinite loop and add tests
  TESTING_REPORT.md
  test-infinite-loop-fix.js
  test-original-bug.js
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
