Repository amitsajwan/realestate_ai, changes with the owners that CODEOWNERS names for each.
All owners: @product-manager, @project-manager, @tech-lead, @backend-team, @frontend-team, @tech-writer

Checkpoint before follow-up message
  frontend/app/analytics/page.tsx
  frontend/e2e/mcp-tests/working-e2e-test.spec.ts
Owners: @frontend-team

Refactor: Improve text color contrast for better readability
  frontend/app/analytics/page.tsx
  frontend/components/analytics/BusinessDashboard.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e/mcp-tests/complete-user-journey.spec.ts
Owners: @frontend-team

feat: Add natural language E2E tests for PropertyAI
  frontend/e2e/mcp-tests/english-style-test.spec.ts
Owners: @frontend-team

feat: Add E2E test for real user workflow
  frontend/e2e/mcp-tests/real-user-workflow.spec.ts
Owners: @frontend-team

feat: Add debug screenshots for registration and login
  frontend/debug-after-registration.png
  frontend/debug-hydration.png
  frontend/debug-login-page.png
  frontend/e2e/mcp-tests/debug-hydration.spec.ts
  frontend/e2e/mcp-tests/debug-login.spec.ts
Owners: @frontend-team

feat: Add simple login/register pages and e2e tests
  frontend/app/simple-login/page.tsx
  frontend/app/simple-register/page.tsx
  frontend/e2e/mcp-tests/strategic-auth-test.spec.ts
Owners: @frontend-team

feat: Add debug tests for AuthManager initialization
  frontend/debug-authmanager.png
  frontend/e2e/mcp-tests/debug-authmanager.spec.ts
Owners: @frontend-team

feat: Add simple test page and e2e debug imports test
  frontend/app/test-simple/page.tsx
  frontend/debug-imports.png
  frontend/e2e/mcp-tests/debug-imports.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/api/auth/simple-login/route.ts
  frontend/app/api/auth/simple-register/route.ts
  frontend/app/simple-login/page.tsx
  frontend/components/auth/ProtectedRoute.tsx
  frontend/lib/simple-auth.ts
Owners: @frontend-team

Checkpoint before follow-up message
  test_results_tier1_backend.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/e2e/mcp-tests/complete-user-journey.spec.ts
Owners: @frontend-team

Fix: Update test results and add debug image
  frontend/debug-registration-page.png
  frontend/e2e/mcp-tests/monitored-user-journey.spec.ts
  test_results_tier2_frontend.json
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

feat: Add full flow E2E test and fix registration field names
  frontend/app/api/auth/simple-register/route.ts
  frontend/e2e/mcp-tests/complete-full-flow.spec.ts
Owners: @frontend-team

feat: Add detailed user journey E2E test
  frontend/e2e/mcp-tests/detailed-user-journey.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/simple-register/route.ts
  frontend/e2e/mcp-tests/working-full-journey.spec.ts
Owners: @frontend-team

Fix: Update login API endpoint in e2e test
  frontend/e2e/mcp-tests/working-full-journey.spec.ts
Owners: @frontend-team

feat: Add UI interactive journey e2e test
  frontend/e2e/mcp-tests/ui-interactive-journey.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/register/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/app/register/page.tsx
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/e2e/mcp-tests/final-user-journey.spec.ts
Owners: @frontend-team

Refactor: Improve e2e tests and add auth test
  frontend/app/properties/create/page.tsx
  frontend/e2e/mcp-tests/final-user-journey.spec.ts
  frontend/e2e/mcp-tests/simple-auth-test.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  backend/app/services/onboarding_service.py
  frontend/e2e-results.xml
  frontend/e2e/mcp-tests/agent-profile-creation-test.spec.ts
  frontend/e2e/mcp-tests/complete-agent-website-test.spec.ts
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  backend/app/services/agent_public_service.py
  backend/app/services/onboarding_service.py
Owners: @product-manager, @project-manager, @tech-lead

Fix: Update API endpoint and mock data in tests
  frontend/__tests__/unit/components/AIInsightsPanel.test.tsx
  frontend/agent-website-debug.png
  frontend/e2e/mcp-tests/complete-agent-website-test.spec.ts
  test_results_tier1_backend.json
  test_results_tier2_frontend.json
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Fix: Improve test suite and linting configurations
  frontend/.eslintrc.json
  frontend/__tests__/unit/components/crm.test.tsx
  frontend/__tests__/unit/components/social_publishing_workflow.test.tsx
  test_results_tier2_frontend.json
  tests/tier2-frontend/test_component_suite.py
Owners: @frontend-team, @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  frontend/e2e/mcp-tests/error-scenarios-and-edge-cases.spec.ts
  frontend/e2e/mcp-tests/parallel-user-journey.spec.ts
Owners: @frontend-team

Checkpoint before follow-up message
  test_results_comprehensive.json
Owners: @product-manager, @project-manager, @tech-lead

Checkpoint before follow-up message
  comprehensive_test.py
  playwright_e2e_test.js
  test_results.json
  test_results_comprehensive.json
  test_results_tier1_backend.json
  test_results_tier1_basic.json
  test_results_tier2_frontend.json
Owners: @product-manager, @project-manager, @tech-lead

Refactor: Remove unused API service and documentation files
  1
  COMPREHENSIVE_GUIDE.md
  PRODUCTION_READINESS_REPORT.md
  QUICK_START_SCRIPT.sh
  SOCIAL_PUBLISHING_IMPLEMENTATION_GUIDE.md
  SOCIAL_PUBLISHING_INTEGRATION_GUIDE.md
  api_analysis_results.json
  check-prerequisites.ps1
  facebook_key.key
  openapi.json
  package-lock.json
  package.json
  property_page_demo.html
  property_page_viewer.html
  qa/performance_test.py
  quick-start-unix.sh
  start-ngrok-docker-external.ps1
  test-screenshots/ui_dashboard_20250917_031453.html
  test-screenshots/ui_home_20250917_031453.html
  test-screenshots/ui_login_20250917_031453.html
  tests/README.md
  tests/TESTING_STRATEGY.md
  tests/run_all_tests.py
  tests/tier1-backend/test_basic_api_flow.py
  tests/tier1-backend/test_complete_api_flow.py
  tests/tier2-frontend/test_component_suite.py
  tests/tier3-e2e/playwright_mcp_setup.py
  tests/tier3-e2e/run_playwright_mcp_e2e.py
  tests/tier3-e2e/test_playwright_mcp_e2e.py
  token.txt
Owners: @product-manager, @project-manager, @tech-lead, @tech-writer

Checkpoint before follow-up message
  backend/start_backend.bat
  backend/start_backend.ps1
  frontend/run-ui-tests.sh
  frontend/start_frontend.ps1
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

Checkpoint before follow-up message
  backend/tests/run_tests.py
Owners: @product-manager, @project-manager, @tech-lead

Add FINAL_LAUNCH_STATUS.md documenting platform readiness
  FINAL_LAUNCH_STATUS.md
Owners: @tech-writer, @product-manager

Refactor post creation and update e2e tests
  FINALIZATION_GAP_ANALYSIS.md
  backend/app/api/v1/endpoints/posts.py
  frontend/e2e/mcp-tests/complete-agent-website-test.spec.ts
  frontend/e2e/mcp-tests/working-full-journey.spec.ts
Owners: @tech-writer, @product-manager, @project-manager, @tech-lead, @frontend-team

Refactor: Skip all E2E tests
  frontend/e2e-results.xml
Owners: @frontend-team

Refactor: Remove unused test files and update ESLint config
  frontend/.eslintrc.json
  frontend/__tests__/unit/components/LoginForm.test.tsx
  frontend/__tests__/unit/components/RegisterForm.test.tsx
  frontend/__tests__/unit/components/SocialPublishingWorkflow.test.tsx
  frontend/__tests__/unit/components/crm.test.tsx
  frontend/e2e/mcp-tests/complete-full-flow.spec.ts
  frontend/e2e/mcp-tests/complete-user-journey.spec.ts
  frontend/e2e/mcp-tests/debug-authmanager.spec.ts
  frontend/e2e/mcp-tests/debug-hydration.spec.ts
  frontend/e2e/mcp-tests/debug-imports.spec.ts
  frontend/e2e/mcp-tests/debug-login.spec.ts
  frontend/e2e/mcp-tests/detailed-user-journey.spec.ts
  frontend/e2e/mcp-tests/english-style-test.spec.ts
  frontend/e2e/mcp-tests/final-user-journey.spec.ts
  frontend/e2e/mcp-tests/monitored-user-journey.spec.ts
  frontend/e2e/mcp-tests/real-user-workflow.spec.ts
  frontend/e2e/mcp-tests/simple-natural-language.spec.ts
  frontend/e2e/mcp-tests/strategic-auth-test.spec.ts
  frontend/e2e/mcp-tests/ui-interactive-journey.spec.ts
  frontend/e2e/mcp-tests/working-full-journey.spec.ts
Owners: @frontend-team

feat: Add UX polish and new components
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/BreadcrumbNavigation.tsx
  frontend/components/DashboardStats.tsx
  frontend/components/Navigation.tsx
  frontend/components/NotificationCenter.tsx
  frontend/components/SearchBar.tsx
  frontend/components/ThemeToggle.tsx
  frontend/components/UXDemo.tsx
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team

Checkpoint before follow-up message
  frontend/agent-website-debug.png
Owners: @frontend-team

Refactor: Update API routes and mock dependencies
  backend/app/api/v1/router.py
  backend/tests/test_analytics_service.py
  backend/tests/test_integration.py
  backend/tests/test_post_management_api.py
  backend/tests/test_post_management_service.py
  frontend/jest.setup.js
  quick_test.py
Owners: @product-manager, @project-manager, @tech-lead, @frontend-team

feat: Add endpoint to create social posts directly
  backend/app/api/v1/endpoints/social_publishing.py
  backend/app/schemas/social_publishing.py
Owners: @product-manager, @project-manager, @tech-lead

CODEOWNERS:

# Code owners map
# Pattern  -> Owners (GitHub usernames or team aliases)

* @product-manager @project-manager @tech-lead
core/** @backend-team
api/** @backend-team
models/** @backend-team
repositories/** @backend-team
services/** @backend-team
frontend/** @frontend-team
playwright.config.ts @frontend-team

# Docs
*.md @tech-writer @product-manager
